{%- assign current_level = level | default: 1 -%}
{%- assign max_level = 3 -%}
{%- if current_level > max_level -%}{% break %}{%- endif -%}
{% liquid assign bg_color = section.settings.bg_color %}

<div class="dropdown-megamenu dropdown-menu {{ bg_color }}">
  <div class="{{ section.settings.container }}">
    <ul class="list-unstyled row">
      {%- for child_link in link.links -%}

        {%- if child_link.title contains '.jpg' or child_link.title contains '.png' or child_link.title contains 'product' -%}
          <li class="col megamenu-col animate__animated animate__faster animate__fadeInRight"
              style="animation-delay: {{ forloop.index0 | times: 100 }}ms">
            <a href="{{ child_link.url }}">
              {%- if child_link.title contains 'product' -%}
                {%- assign product = child_link.object -%}
                <img
                  src="{{ product.featured_image | image_url: width: 480, height: 360, crop: 'center' }}"
                  class="img-fluid mb-3 rounded img-thumbnail {{ section.settings.shadow_sp_img_megamenu }} {{ section.settings.border_color_img_megamenu }}"
                  alt="{{ product.featured_image.alt }}"
                  width="480" height="360" loading="lazy">
                <h6 class="product-item-title mb-1">
                  {{ child_link.title | split: ':' | first }}
                </h6>
                <p class="product-item-price mb-0">
                  {% if product.compare_at_price > product.price %}
                    <span class="product-item-price-final me-1">
                      <span class="visually-hidden">{{ 'product.price_sale' | t }}&nbsp;</span>
                      {% if product.price_varies %}{{ 'product.price_from' | t }}{% endif %}
                      {{ product.price | money }}
                    </span>
                    <span class="product-item-price-compare text-muted">
                      <span class="visually-hidden">{{ 'product.price_regular' | t }}&nbsp;</span>
                      <s>{{ product.compare_at_price | money }}</s>
                    </span>
                  {% else %}
                    <span class="product-item-price-final">
                      {% if product.price_varies %}{{ 'product.price_from' | t }}{% endif %}
                      {{ product.price | money }}
                    </span>
                  {% endif %}
                </p>
              {%- else -%}
                {%- assign image = child_link.title | split: ':' | last | strip -%}
                <img
                  src="{{ image | image_url: width: 480, height: 360, crop: 'center' }}"
                  class="img-fluid mb-3 rounded img-thumbnail {{ section.settings.shadow_sp_img_megamenu }} {{ section.settings.border_color_img_megamenu }}"
                  alt="" width="480" height="360" loading="lazy">
                <span class="d-inline-flex headings-font-family align-items-center">
                  {{ child_link.title | split: ':' | first }}
                </span>
              {%- endif -%}
            </a>
          </li>

        {%- elsif child_link.links != blank and current_level > 1 -%}
          <li class="col animate__animated animate__faster animate__fadeInRight"
              style="animation-delay: {{ forloop.index0 | times: 100 }}ms">
            {% if child_link.url == '#' %}
              <h6 id="navbar-childitem-{{ forloop.index }}" class="px-5">{{ child_link.title }}</h6>
            {% else %}
              <a class="dropdown-item rounded dropdown-item-level-2 {% if child_link.active %}active{% endif %}"
                 href="{{ child_link.url }}"
                 aria-current="{% if child_link.active %}page{% endif %}">
                {{ child_link.title }}
              </a>
            {% endif %}
          </li>

        {%- else -%}
          <li class="col animate__animated animate__faster animate__fadeInRight"
              style="animation-delay: {{ forloop.index0 | times: 100 }}ms">
            <a class="dropdown-item rounded dropdown-item-level-2 {% if child_link.active %}active{% endif %}"
               href="{{ child_link.url }}"
               aria-current="{% if child_link.active %}page{% endif %}">
              {{ child_link.title }}
            </a>
          </li>
        {%- endif -%}

      {%- endfor -%}
    </ul>
  </div>
</div>