{% assign shipping_enabled = settings.cart_shipping_protect_show %}
{% unless settings.cart_drawer_disable %}
    {% unless request.page_type == 'cart' %}

        {% liquid
            case settings.offcanvas_img_orientation
                when 'square'
                    assign img_width  = 600
                    assign img_height = 600
                when 'landscape'
                    assign img_width  = 600
                    assign img_height = 480
                when 'portrait'
                    assign img_width  = 480
                    assign img_height = 600
            endcase

            if settings.cart_shipping_protect_show
                assign shipping_protect_item = settings.cart_shipping_protect_product
            endif
        %}

        <div
            id="offcanvas-cart"
            class="offcanvas offcanvas-end offcanvas-mobile-full {{ settings.offcanvas_opening_direction }}"
            tabindex="-1"
            aria-labelledby="offcanvas-cart-label"
            data-shipping-protection-enabled="{{ settings.cart_shipping_protect_show }}"
            data-shipping-protection-auto-initialize="{{ settings.cart_shipping_protect_auto_initialize }}"
            data-shipping-protection-variant-id="{{ settings.cart_shipping_protect_product.variants.first.id }}">
            <div class="offcanvas-header {{ settings.offcanvas_header_bg }}">
                <h2
                    id="offcanvas-cart-label"
                    class="offcanvas-title {{ settings.offcanvas_header_title_size }}">
                    {{ 'cart.title' | t }}
                </h2>
                <button
                    class="btn-close {% if settings.offcanvas_header_bg contains 'text-white' %}btn-close-white{% endif %}"
                    type="button"
                    data-bs-dismiss="offcanvas"
                    aria-label="{{ 'general.accessibility.close' | t }}">
                </button>
            </div>

            {% if settings.show_compte_rebours_panier and cart.item_count > 0 %}
                                <div class="d-flex align-items-center justify-content-center border-bottom rte small text-center bg-light px-3 py-3 ">
                                        <span id="text_before">{{ settings.text_after }}&nbsp;</span>
                                        <div style="font-weight: bold; color:{{ settings.clock_color }};">
                                                <span id="clockdiv"></span>
                                        </div>
                                        <span id="text_after">&nbsp;{{ settings.text_before }}</span>
                                </div>
                                <script>
                                    var time_in_minutes = parseInt("{{ settings.timer_minutes }}");
                                    var current_time = Date.parse(new Date());
                                    var deadline = new Date(current_time + time_in_minutes * 60 * 1000);
                                    var endMessage = "{{ settings.end_message }}";
                                    function time_remaining(endtime) {
                                        var t = Date.parse(endtime) - Date.parse(new Date());
                                        var seconds = Math.floor((t / 1000) % 60);
                                        var minutes = Math.floor((t / 1000 / 60) % 60);
                                        return {
                                            'total': t,
                                            'minutes': minutes,
                                            'seconds': seconds
                                        };
                                    }
                                    function run_clock(id, endtime) {
                                        var clock = document.querySelector(id);
                                        var textBefore = document.getElementById('text_before');
                                        var textAfter = document.getElementById('text_after');
                                        function update_clock() {
                                            var t = time_remaining(endtime);
                                            if (t.seconds <= 9) {
                                                t.seconds = "0" + t.seconds;
                                            }
                                            clock.innerHTML = t.minutes + ':' + t.seconds;
                                            if(t.total <= 0){
                                                clearInterval(timeinterval);
                                                clock.innerHTML = endMessage;
                                                textBefore.style.display = 'none';
                                                textAfter.style.display = 'none';
                                            }
                                        }
                                        update_clock();
                                        var timeinterval = setInterval(update_clock, 1000);
                                    }
                                    run_clock('#clockdiv', deadline);
                                </script>
            {% endif %}

            <div class="offcanvas-body">
                {% if settings.cart_notice_show %}
                    <div class="cart-notice description rte small text-center">
                        {{ settings.cart_notice }}
                    </div>
                    <hr class="my-4">
                {% endif %}
                {% if settings.cart_goal_enable and cart.item_count > 0 %}
                    {% liquid
                        assign goal_value_with_cents = 0
                        assign cart_goal_value = settings.cart_goal_value
                        assign goal_value_with_cents = settings.cart_goal_value | times: 100
                        assign cart_total_price = cart.total_price
                        if settings.cart_goal_free_product
                            for line_item in cart.items
                                if line_item.product.handle == settings.cart_goal_free_product.handle
                                    assign cart_total_price = cart_total_price | minus: line_item.final_line_price
                                endif
                            endfor
                        endif
                        if cart_total_price < goal_value_with_cents
                            assign percentage = cart_total_price | divided_by: cart_goal_value
                            assign goal_remaining_money = goal_value_with_cents | minus: cart_total_price | money
                            assign desc = settings.cart_goal_description_before | replace: '[amount]', goal_remaining_money
                            assign bg_color =  settings.cart_goal_bg_color_before
                        else
                            assign percentage = 100
                            assign desc = settings.cart_goal_description_after
                            assign bg_color =  settings.cart_goal_bg_color_after
                        endif
                    %}
                    <div id="cart-goal" class="cart-goal text-center mb-6" data-goal-completed="{% if cart_total_price >= goal_value_with_cents %}true{% else %}false{% endif %}" data-free-product-handle="{{ settings.cart_goal_free_product.handle }}" data-free-product-variant-id="{{ settings.cart_goal_free_product.first_available_variant.id }}">
                        <div class="rte small mb-3 {{ color | prepend: 'text-' }}">
                            {{ desc }}
                        </div>
                        <div class="progress" style="height: .5rem;">
                            <div class="progress-bar progress-bar progress-bar-animated progress-bar-striped {{ bg_color }}" role="progressbar" aria-valuenow="{{ cart_total_price | money }}" aria-valuemin="0" aria-valuemax="{{ goal_value_with_cents | money }}" data-width="{{ percentage }}%" style="width: 0%;">
                            </div>
                            {% if settings.show_icon == 'show_truck' or settings.show_icon == 'show_gift' %}
                                <div class="cart-goal-icon {% if cart_total_price >= goal_value_with_cents %}{{ bg_color }} text-white {% endif %}">
                                    {% if settings.show_icon == 'show_truck' %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16" aria-hidden="true">
                                            <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                        </svg>
                                    {% elsif settings.show_icon == 'show_gift'%}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gift" viewBox="0 0 16 16" aria-hidden="true">
                                            <path d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 14.5V7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zM1 4v2h6V4H1zm8 0v2h6V4H9zm5 3H9v8h4.5a.5.5 0 0 0 .5-.5V7zm-7 8V7H2v7.5a.5.5 0 0 0 .5.5H7z"/>
                                        </svg>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                {% liquid 
                    if request.page_type == 'cart' 
                        assign show_testimonial = section.settings.show_testimonial
                    else
                        assign show_testimonial = settings.cart_show_testimonial
                    endif
                %}
                {% if show_testimonial %}
                    <div id="cart-testimonial" class="rounded bg-light mb-3 {% if settings.cart_testimonial_img %}has-testimonial-img{% endif %}">
                        {% unless settings.cart_testimonial_img == blank %}
                            <img class="img-fluid rounded me-3" src="{{ settings.cart_testimonial_img.src | image_url: width: 90, height: 90, crop: 'center' }}" alt="{{ settings.cart_testimonial_img.alt | escape }}" width="60" height="60" loading="lazy">
                        {% endunless %}
                        <div class="rte description text-center fs-6">
                            {{ settings.cart_testimonial }}
                        </div>
                    </div>
                {% endif %}
                <div
                    id="offcanvas-cart-alert-error"
                    class="offcanvas-cart-alert alert alert-danger fw-500 lh-sm py-3 mb-4"
                    role="alert"
                    hidden>
                    <div class="d-flex align-items-center small">
                        <svg xmlns="http://www.w3.org/2000/svg" class="me-3 flex-shrink-0" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                            <circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line>
                        </svg>
                        <span>
                            {% comment %} Messages injected via JS {% endcomment %}
                        </span>
                    </div>
                </div>
                <div
                    id="offcanvas-cart-alert-add"
                    class="offcanvas-cart-alert alert alert-success fw-500 py-3 mb-4"
                    role="alert"
                    hidden>
                    <div class="d-flex align-items-center small">
                        <svg xmlns="http://www.w3.org/2000/svg" class="me-3 flex-shrink-0" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                            <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                        <span data-alert-item-added hidden>
                            {{ 'cart.alert_item_added' | t }}
                        </span>
                        <span data-alert-items-added hidden>
                            {{ 'cart.alert_items_added' | t }}
                        </span>
                    </div>
                </div>
                <div
                    id="offcanvas-cart-alert-updated"
                    class="offcanvas-cart-alert alert alert-info fw-500 py-3 mb-4"
                    role="alert"
                    hidden>
                    <div class="d-flex align-items-center small">
                        <svg xmlns="http://www.w3.org/2000/svg" class="me-3 flex-shrink-0" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                            <circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line>
                        </svg>
                        {{ 'cart.alert_cart_updated' | t }}
                    </div>
                </div>
                {% if cart.item_count == 0 %}
                    {% unless settings.cart_drawer_empty_product_list == blank %}
                        <div id="offcanvas-cart-empty-upsell" class="text-muted text-center mt-10 mb-12 small">
                            <svg xmlns="http://www.w3.org/2000/svg" class="opacity-75 mb-2" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                                <circle cx="10" cy="20.5" r="1"/><circle cx="18" cy="20.5" r="1"/><path d="M2.5 2.5h3l2.7 12.4a2 2 0 0 0 2 1.6h7.7a2 2 0 0 0 2-1.6l1.6-8.4H7.1"/>
                            </svg>
                            {{ 'cart.empty_html' | t }}
                        </div>
                        <h3 class="h6 border-bottom pb-3 mb-4">
                            {{ 'cart.empty_products_title' | t }}
                        </h3>
                        <ul class="product-listing list-unstyled mb-0">
                            {% for product in settings.cart_drawer_empty_product_list %}
                                <li class="product-item py-3">
                                    <div class="row align-items-center mx-n3">
                                        <div class="col-4 px-3">
                                            <a href="{{ product.url }}" class="">
                                                <img 
                                                    class="product-item-img img-fluid me-3 rounded {{ settings.offcanvas_img_thumbnail }} {{ settings.offcanvas_shadow_sp }} {{ settings.offcanvas_border_color }}"
                                                    src="{{ product.featured_image | image_url: width: 600, height: 600, crop: 'center' }}"
                                                    alt="{{ product.featured_image.alt }}"
                                                    width="600"
                                                    height="600"
                                                    loading="lazy">
                                            </a>
                                        </div>
                                        <div class="col-8 px-3">
                                            <h4 class="product-item-title h6 mb-1 {{ settings.search_title_truncate }}">
                                                <a href="{{ product.url }}" class="link-dark">
                                                    {{ product.title }}
                                                </a>
                                            </h4>
                                            <p class="product-item-price small mb-3">
                                                {% if product.first_available_variant.compare_at_price > product.price %}
                                                    <span class="product-item-price-final me-1">
                                                        <span class="visually-hidden">
                                                            {{ 'product.price_sale' | t }} &nbsp;
                                                        </span>
                                                        {{ product.first_available_variant.price | money }}
                                                    </span>
                                                    <span class="product-item-price-compare text-muted">
                                                        <span class="visually-hidden">
                                                            {{ 'product.price_regular' | t }} &nbsp;
                                                        </span>
                                                        <s>
                                                            {{ product.first_available_variant.compare_at_price | money }}
                                                        </s>
                                                    </span>
                                                {% else %}
                                                    <span class="product-item-price-final">
                                                        {{ product.first_available_variant.price | money }}
                                                    </span>
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div id="offcanvas-cart-empty" class="text-muted">
                            <svg xmlns="http://www.w3.org/2000/svg" class="opacity-75 mb-2" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                                <circle cx="10" cy="20.5" r="1"/><circle cx="18" cy="20.5" r="1"/><path d="M2.5 2.5h3l2.7 12.4a2 2 0 0 0 2 1.6h7.7a2 2 0 0 0 2-1.6l1.6-8.4H7.1"/>
                            </svg>
                            {{ 'cart.empty_html' | t }}
                        </div>
                    {% endunless %}
                {% else %}
                    <ul
                        class="product-listing list-unstyled mb-6"
                        aria-label="{{ 'general.accessibility.cart_product_list' | t }}">
                        {% for line_item in cart.items %}
                            {% unless line_item.product.handle == shipping_protect_item.handle and settings.hide_cart_shipping_protect_item %}
                                <li class="product-item py-3"
                                    data-cart-line-item
                                    data-product-id="{{ line_item.product.id }}"
                                    data-product-handle="{{ line_item.product.handle }}">
                                    <div class="row align-items-center mx-n3">
                                        <div class="col-4 px-3">
                                            <a class="" href="{{ line_item.url }}">
                                                <img alt=""
                                                    class="product-item-img img-fluid rounded {{ settings.offcanvas_img_thumbnail }} {{ settings.offcanvas_shadow_sp }} {{ settings.offcanvas_border_color }}"
                                                    src="{{ line_item.image.src | image_url: width: img_width, height: img_height, crop: 'center' }}"
                                                    alt="{{ line_item.image.alt | escape }}"
                                                    width="{{ img_width }}"
                                                    height="{{ img_height }}"
                                                    loading="lazy">
                                            </a>
                                        </div>
                                        <div class="col-8 px-3">
                                            <h3 class="product-item-title h6 mb-1">
                                                <a href="{{ line_item.url }}" class="link-dark">
                                                    {{ line_item.product.title }}
                                                </a>
                                            </h3>
                                            {% unless line_item.product.has_only_default_variant %}
                                                <small class="d-block text-muted mb-1">
                                                    {{ line_item.variant.title }}
                                                </small>
                                            {% endunless %}
                                            {% unless line_item.selling_plan_allocation == empty %}
                                                <small class="d-block text-muted mt-n1 mb-1">
                                                    {{ line_item.selling_plan_allocation.selling_plan.name }}
                                                </small>
                                            {% endunless %}
                                            {% unless line_item.properties == empty %}
                                                <ul class="list-unstyled text-muted small mb-1">
                                                    {% for property in line_item.properties %}
                                                        {% assign first_character_in_key = property.first | slice: 0 %}
                                                        {% unless first_character_in_key == '_' %}
                                                            <li>
                                                                {% if property.last contains 'https' %}
                                                                    {{ property.first }}: <a href="{{ property.last }}" target="_blank">{{ 'cart.view_file' | t }}</a>
                                                                {% else %}
                                                                    {{ property.first }}: {{ property.last }}
                                                                {% endif %}
                                                            </li>
                                                        {% endunless %}
                                                    {% endfor %}
                                                </ul>
                                            {% endunless %}
                                            <p class="product-item-price pt-2 mb-4">
                                                {% if line_item.original_line_price != line_item.final_line_price %}
                                                    <span class="product-item-price-final">
                                                        <span class="visually-hidden">
                                                            {{ 'product.price_sale' | t }} &nbsp;
                                                        </span>
                                                        {{ line_item.final_line_price | money }}
                                                    </span>
                                                    <span class="product-item-price-compare text-muted ms-1">
                                                        <span class="visually-hidden">
                                                            {{ 'product.price_regular' | t }} &nbsp;
                                                        </span>
                                                        <s>
                                                            {{ line_item.original_line_price | money }}
                                                        </s>
                                                    </span>
                                                {% elsif line_item.variant.compare_at_price > line_item.variant.price %}
                                                    <span class="product-item-price-final">
                                                        <span class="visually-hidden">
                                                            {{ 'product.price_sale' | t }} &nbsp;
                                                        </span>
                                                        {{ line_item.final_line_price | money }}
                                                    </span>
                                                    <span class="product-item-price-compare text-muted ms-1">
                                                        <span class="visually-hidden">
                                                            {{ 'product.price_regular' | t }} &nbsp;
                                                        </span>
                                                        <s>
                                                            {{ line_item.variant.compare_at_price | times: line_item.quantity | money }}
                                                        </s>
                                                    </span>
                                                {% else %}
                                                    <span class="product-item-price-final">
                                                        {{ line_item.original_line_price | money }}
                                                    </span>
                                                {% endif %}
                                            </p>
                                            <div class="d-flex align-items-center">
                                                <div class="quantity-wrapper">
                                                    <button
                                                        class="btn"
                                                        type="button"
                                                        data-mode="minus"
                                                        onclick="onClickQtyPlusMinus(this)"
                                                        aria-label="{{ 'general.accessibility.decrease_qty' | t }}">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                                        </svg>
                                                    </button>
                                                    <input
                                                        id="updates_{{ line_item.key }}"
                                                        class="form-control"
                                                        name="updates[]"
                                                        type="text"
                                                        value="{{ line_item.quantity }}"
                                                        data-line-item-key="{{ line_item.key }}"
                                                        data-min-qty="0"
                                                        aria-label="{{ 'cart.quantity' | t }}"
                                                        onchange="handleCartQuantityChange(this)">
                                                    <button
                                                        class="btn btn-plus"
                                                        type="button"
                                                        data-mode="plus"
                                                        onclick="onClickQtyPlusMinus(this)"
                                                        aria-label="{{ 'general.accessibility.increase_qty' | t }}">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                            <line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line>
                                                        </svg>
                                                    </button>
                                                </div>
                                                <button
                                                    class="btn ms-2"
                                                    type="button"
                                                    data-remove-line-item
                                                    data-line-item-key="{{ line_item.key }}"
                                                    onclick="handleCartItemRemoval(this)"
                                                    aria-label="{{ 'cart.remove' | t }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="opacity-60" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                        <polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endunless %}
                        {% endfor %}
                    </ul>
                    {%- comment -%} Directly uses flattened cart-upsell snippet (inlined product-rating-badge and cart-upsell-product-form) {%- endcomment -%}
                    {% if settings.cart_upsell_enable %}
                        <div id="cart-upsell" class="">
                            <h3 id="cart-upsell-title" class="h6 mb-4">
                                {{ settings.cart_upsell_title }}
                            </h3>
                            <ul id="cart-upsell-list" class="cart-upsell-list-horizontal product-listing list-unstyled">
                                {% assign upsell_handles = '' %}
                                {% for product in settings.cart_upsell_collection.products %}
                                    {% unless cart.items contains product.handle %}
                                        {% if product.available %}
                                            {% assign upsell_handles = upsell_handles | append: product.handle | append: ',' %}
                                        {% endif %}
                                    {% endunless %}
                                {% endfor %}
                                {% assign upsell_handles = upsell_handles | split: ',' %}
                                {% for handle in upsell_handles limit: settings.cart_upsell_limit %}
                                    {% assign product = all_products[handle] %}
                                    <li class="product-item text-center px-3">
                                        <a class="link-dark" href="{{ product.url }}">
                                            <img 
                                                class="product-item-img img-fluid mb-3 rounded {{ settings.offcanvas_img_thumbnail }} {{ settings.offcanvas_shadow_sp }} {{ settings.offcanvas_border_color }}"
                                                src="{{ product.featured_image | image_url: width: 600, height: 600, crop: 'center' }}" 
                                                alt="{{ product.featured_image.alt | escape }}"
                                                width="600"
                                                height="600" 
                                                loading="lazy">
                                            <h3 class="product-item-title h6 mb-2 {{ settings.cart_upsell_product_title_truncate }}" title="{{ product.title }}">
                                                {{ product.title }}
                                            </h3>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <hr class="">
                    {% render 'cart-note' %}

                    {% if settings.cart_drawer_show_shipping_rates %}
                        <button
                            class="btn btn-sm d-flex align-items-center justify-content-center w-100 mb-5 {{ settings.cart_drawer_shipping_rates_btn_color }}"
                            data-bs-toggle="modal"
                            data-bs-target="#shipping-rates-modal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-truck me-4" viewBox="0 0 16 16">
                                <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path>
                        </svg>
                        {{ 'cart.shipping_rates.button_label' | t }}
                    </button>
                    {% endif %}
                {% endif %}
            </div>
            <div class="offcanvas-footer border-top p-5">
                {% if cart.item_count == 0 %}
                    <button class="btn btn-outline-primary w-100" type="button" data-bs-dismiss="offcanvas">
                        {{ 'cart.continue_shopping' | t }}
                    </button>
                {% else %}
                    <p id="offcanvas-cart-subtotal" class="lead text-center mb-3">
                        <span class="text-muted">
                            {{ 'cart.subtotal' | t }}:
                        </span>
                        <span>
                            {% if cart.items_subtotal_price > cart.total_price %}
                                <b>
                                    {{ cart.total_price | money }}
                                </b>
                                <span class="visually-hidden">
                                    {{ 'cart.subtotal_regular' | t }} &nbsp;
                                </span>
                                <s class="opacity-75 ms-2">
                                    {{ cart.items_subtotal_price | money }}
                                </s>
                                <span class="visually-hidden">
                                    {{ 'cart.subtotal_discounted' | t }} &nbsp;
                                </span>
                            {% else %}
                                <b>
                                    {{ cart.total_price | money }}
                                </b>
                            {% endif %}
                        </span>
                    </p>
                    {% if settings.cart_taxes_shipping %}
                        <p class="fs-6 text-muted text-center mt-n3 mb-4">
                            {{ 'cart.taxes_shipping_at_checkout_html' | t }}
                        </p>
                    {% endif %}
                    <form action="{{ routes.cart_url }}" class="" method="post">
                        <button
                            class="btn-checkout btn btn-primary w-100 py-3 fs-5 d-flex align-items-center justify-content-center"
                            name="checkout"
                            type="submit"
                            onclick="handleCheckoutButtonClick(this)">
                            <svg xmlns="http://www.w3.org/2000/svg" class="me-3" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                            </svg>
                            {{ 'cart.checkout' | t }}
                        </button>
                    </form>
                    {% if shipping_enabled %}
                        {% render 'cart-shipping-protection' %}
                    {% endif %}
                    {% if settings.cart_drawer_show_cart_link %}
                        <a class="btn btn-link btn-sm w-100 mt-1 text-dark" href="{{ routes.cart_url }}">
                            {{ 'cart.view_cart' | t }}
                        </a>
                    {% endif %}
                    {% if settings.cart_drawer_show_payment_icons %}
                        <div class="payment-icons-wrapper text-center mt-3 mb-n2">
                            {% render 'payment-icons' %}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        {% if settings.cart_drawer_show_shipping_rates %}
            {% render 'cart-shipping-rates-modal' %}
        {% endif %}

    {% endunless %}
    {% endunless %}

    <style>
    #offcanvas-cart .offcanvas-body { max-height: 70vh; overflow-y: auto; }
    </style>
