{% comment %}
---------------------------------------------------------
Copyright © 2019/2024 Theme Shopiweb Premium. All rights reserved.
Copying, modifying, distributing, or unauthorized use
of this code or any part of it is strictly prohibited.
Violators will be prosecuted to the fullest extent permitted by law.
---------------------------------------------------------
{% endcomment %}

{% liquid
  assign mt = section.settings.mt | prepend: 'mt-'
  assign mb = section.settings.mb | prepend: 'mb-'
  assign pt = section.settings.pt | prepend: 'pt-'
  assign pb = section.settings.pb | prepend: 'pb-'

  assign bg_color = section.settings.bg_color

  if section.settings.bg_gradient
    assign bg_color = bg_color | append: ' bg-gradient'
  endif

  assign btn_shadow_sp = settings.btn_shadow_sp

  if section.settings.breakpoint_xs_scroll
    assign row_xs = 'xs-scroll'
  else
    assign row_xs = section.settings.breakpoint_xs | prepend: 'row-cols-'
  endif

  assign row_sm = section.settings.breakpoint_sm | prepend: 'row-cols-sm-'
  assign row_md = section.settings.breakpoint_md | prepend: 'row-cols-md-'
  assign row_lg = section.settings.breakpoint_lg | prepend: 'row-cols-lg-'
  assign row_xl = section.settings.breakpoint_xl | prepend: 'row-cols-xl-'
  assign row_xxl = section.settings.breakpoint_xxl | prepend: 'row-cols-xxl-'
%}

<section 
  class="cards-with-image enter-view position-relative overflow-hidden {{ bg_color }} {{ section.settings.text_align }} {{ pt }} {{ pb }} {{ mt }} {{ mb }}">
    <div class="{{ section.settings.container }}" style="max-width: {{ section.settings.max_width }}px;">
        {% render 'section-header' %}
        <div class="row mx-n3 mx-lg-n4 {{ row_xs }} {{ row_sm }} {{ row_md }} {{ row_lg }} {{ row_xl }} {{ row_xxl }}">
            {% for block in section.blocks %}
                {% liquid 
                    case block.settings.img_orientation
                        when 'square'
                            assign img_width  = 600
                            assign img_height = 600
                        when 'landscape'
                            assign img_width  = 600
                            assign img_height = 480
                        when 'portrait'
                            assign img_width  = 480
                            assign img_height = 600
                    endcase
                %}
                <div class="col p-3 p-lg-4" {{ block.shopify_attributes }}>
                    <div 
                        class="h-100 {% unless section.settings.animation == '' %}animate__animated opacity-0 {{ section.settings.animation_speed }}{% endunless %}"
                        style="animation-delay: {{ forloop.index | times: 150 }}ms;">
                        <div 
                            class="card {{ block.settings.bg_color }} {% if block.settings.bg_gradient %}bg-gradient {% endif %} {{ block.settings.shadow_sp }} {{ block.settings.border_color }}"
                            style="border-width: {{ block.settings.border_width }}px;">
                            {% unless block.settings.img == blank %}
                                <img
                                    src="{{ block.settings.img | image_url: width: img_width, height: img_height, crop: block.settings.img_crop }}"
                                    class="img-fluid card-img-top {% unless block.settings.title != blank or block.settings.description != blank or block.settings.btn_text != blank %} card-img-bottom {% endunless %}"
                                    alt="{{ block.settings.img.alt | escape }}"
                                    width="{{ img_width }}"
                                    height="{{ img_height }}"
                                    loading="lazy">
                            {% endunless %}
                            {% if block.settings.title != blank or block.settings.description != blank or block.settings.btn_text != blank %}
                                <div class="card-body {{ block.settings.text_align }}">
                                    {% unless block.settings.title == blank %}
                                        <{{ block.settings.heading_tag }} class="title mb-4 {{ block.settings.title_size }}">
                                            {{ block.settings.title }}
                                        </{{ block.settings.heading_tag }}>
                                    {% endunless %}
                                    {% unless block.settings.description == blank %}
                                        <div class="description rte mt-n3 mb-0 {{ block.settings.description_size }}">
                                            {{ block.settings.description }}
                                        </div>
                                    {% endunless %}
                                    {% unless block.settings.btn_text == blank %}
                                        <a class="btn mt-5 w-100 {{ block.settings.btn_color }} {{ btn_shadow_sp }} {{ block.settings.btn_size }}" href="{{ block.settings.btn_url }}">
                                            {{ block.settings.btn_text }}
                                        </a>
                                    {% endunless %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Cards with Image",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "Documentation EN: [Cards with Image by Shopiweb](https://www.docs.shopiweb.fr/theme-premium/documentation/sections/carte-avec-image)"
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "select",
      "id": "bg_color",
      "label": "Background color",
      "default": "bg-body text-body",
      "options": [
        {
          "group": "Main",
          "value": "bg-primary text-white",
          "label": "Primary"
        },
        {
          "group": "Main",
          "value": "bg-secondary text-white",
          "label": "Secondary"
        },
        {
          "group": "Main",
          "value": "bg-tertiary text-white",
          "label": "Tertiary"
        },
        {
          "group": "Intermediate",
          "value": "bg-white text-dark",
          "label": "White"
        },
        {
          "group": "Intermediate",
          "value": "bg-light text-body",
          "label": "Light"
        },
        {
          "group": "Intermediate",
          "value": "bg-dark text-white",
          "label": "Dark"
        },
        {
          "group": "Default",
          "value": "bg-body text-body",
          "label": "Body"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "bg_gradient",
      "label": "Background gradient",
      "default": false,
      "info": "Does not apply to light colors"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Container",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Container"
        },
        {
          "value": "container-fluid",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Max width (px)",
      "default": "991"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text alignment",
      "default": "text-center",
      "options": [
        {
          "value": "text-start",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "image_picker",
      "id": "subtitle_img",
      "label": "Caption image"
    },
    {
      "type": "text",
      "id": "brand_image_size",
      "label": "Image width/height (px)",
      "default": "60"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Caption text"
    },
    {
      "type": "select",
      "id": "subtitle_size",
      "label": "Caption size",
      "default": "fs-5",
      "options": [
        {
          "group": "Standard caption",
          "value": "fs-1",
          "label": "Extra Large"
        },
        {
          "group": "Standard caption",
          "value": "fs-2",
          "label": "Super Large"
        },
        {
          "group": "Standard caption",
          "value": "fs-3",
          "label": "Very Large"
        },
        {
          "group": "Standard caption",
          "value": "fs-4",
          "label": "Large"
        },
        {
          "group": "Standard caption",
          "value": "fs-5",
          "label": "Medium"
        },
        {
          "group": "Standard caption",
          "value": "fs-6",
          "label": "Small"
        }
      ]
    },
    {
      "type": "color",
      "id": "color_caption",
      "label": "Caption color",
      "default": "#6c757d"
    },
    {
      "type": "text",
      "id": "title_overlay",
      "label": "Overlay title",
      "info": "Visible on desktop, hidden on mobile for readability."
    },
    {
      "type": "select",
      "id": "title_overlay_size",
      "label": "Overlay title size",
      "default": "3",
      "options": [
        {
          "group": "Overlay Title",
          "value": "4",
          "label": "Large"
        },
        {
          "group": "Overlay Title",
          "value": "3",
          "label": "Medium"
        },
        {
          "group": "Overlay Title",
          "value": "2",
          "label": "Small"
        }
      ]
    },
    {
      "type": "color",
      "id": "color_title_overlay",
      "label": "Overlay title color",
      "default": "#000000"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title",
      "default": "Cards with image"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "Title tag (SEO)",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "h1"
        },
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "h3",
          "label": "h3"
        },
        {
          "value": "h4",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        },
        {
          "value": "h6",
          "label": "h6"
        },
        {
          "value": "span",
          "label": "None"
        }
      ]
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "Title size",
      "default": "h2",
      "options": [
        {
          "group": "Superior Title",
          "value": "display-1",
          "label": "Extra Extra Large"
        },
        {
          "group": "Superior Title",
          "value": "display-2",
          "label": "Extra Large"
        },
        {
          "group": "Superior Title",
          "value": "display-3",
          "label": "Ultra Large"
        },
        {
          "group": "Superior Title",
          "value": "display-4",
          "label": "Super Large"
        },
        {
          "group": "Standard Title",
          "value": "h1",
          "label": "Very Large"
        },
        {
          "group": "Standard Title",
          "value": "h2",
          "label": "Large"
        },
        {
          "group": "Standard Title",
          "value": "h3",
          "label": "Medium"
        },
        {
          "group": "Standard Title",
          "value": "h4",
          "label": "Small"
        },
        {
          "group": "Standard Title",
          "value": "h5",
          "label": "Very Small"
        },
        {
          "group": "Standard Title",
          "value": "h6",
          "label": "Super Small"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description (optional)",
      "default": "<p>Add an optional description to this section</p>"
    },
    {
      "type": "select",
      "id": "description_size",
      "label": "Description size",
      "default": "fs-5",
      "options": [
        {
          "group": "Standard Description",
          "value": "fs-1",
          "label": "Extra Large"
        },
        {
          "group": "Standard Description",
          "value": "fs-2",
          "label": "Super Large"
        },
        {
          "group": "Standard Description",
          "value": "fs-3",
          "label": "Very Large"
        },
        {
          "group": "Standard Description",
          "value": "fs-4",
          "label": "Large"
        },
        {
          "group": "Standard Description",
          "value": "fs-5",
          "label": "Medium"
        },
        {
          "group": "Standard Description",
          "value": "fs-6",
          "label": "Small"
        }
      ]
    },
    {
      "type": "header",
      "content": "Animation"
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation effect",
      "default": "animate__zoomIn",
      "options": [
        {
          "group": "Disabled",
          "value": "",
          "label": "No animation"
        },
        {
          "group": "Back",
          "value": "animate__backInDown",
          "label": "Back In Down"
        },
        {
          "group": "Back",
          "value": "animate__backInLeft",
          "label": "Back In Left"
        },
        {
          "group": "Back",
          "value": "animate__backInRight",
          "label": "Back In Right"
        },
        {
          "group": "Back",
          "value": "animate__backInUp",
          "label": "Back In Up"
        },
        {
          "group": "Bounce",
          "value": "animate__bounceIn",
          "label": "Bounce In"
        },
        {
          "group": "Bounce",
          "value": "animate__bounceInDown",
          "label": "Bounce In Down"
        },
        {
          "group": "Bounce",
          "value": "animate__bounceInLeft",
          "label": "Bounce In Left"
        },
        {
          "group": "Bounce",
          "value": "animate__bounceInRight",
          "label": "Bounce In Right"
        },
        {
          "group": "Bounce",
          "value": "animate__bounceInUp",
          "label": "Bounce In Up"
        },
        {
          "group": "Fade",
          "value": "animate__fadeIn",
          "label": "Fade In"
        },
        {
          "group": "Fade",
          "value": "animate__fadeInDown",
          "label": "Fade In Down"
        },
        {
          "group": "Fade",
          "value": "animate__fadeInDownBig",
          "label": "Fade In Down Big"
        },
        {
          "group": "Fade",
          "value": "animate__fadeInLeft",
          "label": "Fade In Left"
        },
        {
          "group": "Fade",
          "value": "animate__fadeInLeftBig",
          "label": "Fade In Left Big"
        },
        {
          "group": "Fade",
          "value": "animate__fadeInRight",
          "label": "Fade In Right"
        },
        {
          "group": "Fade",
          "value": "animate__fadeInRightBig",
          "label": "Fade In Right Big"
        },
        {
          "group": "Fade",
          "value": "animate__fadeInUp",
          "label": "Fade In Up"
        },
        {
          "group": "Fade",
          "value": "animate__fadeInUpBig",
          "label": "Fade In Up Big"
        },
        {
          "group": "Fade",
          "value": "animate__fadeInTopLeft",
          "label": "Fade In Top Left"
        },
        {
          "group": "Fade",
          "value": "animate__fadeInTopRight",
          "label": "Fade In Top Right"
        },
        {
          "group": "Fade",
          "value": "animate__fadeInBottomLeft",
          "label": "Fade In Bottom Left"
        },
        {
          "group": "Fade",
          "value": "animate__fadeInBottomRight",
          "label": "Fade In Bottom Right"
        },
        {
          "group": "Flip",
          "value": "animate__flip",
          "label": "Flip"
        },
        {
          "group": "Flip",
          "value": "animate__flipInX",
          "label": "Flip In X"
        },
        {
          "group": "Flip",
          "value": "animate__flipInY",
          "label": "Flip In Y"
        },
        {
          "group": "Light Speed",
          "value": "animate__lightSpeedInRight",
          "label": "Light Speed In Right"
        },
        {
          "group": "Light Speed",
          "value": "animate__lightSpeedInLeft",
          "label": "Light Speed In Left"
        },
        {
          "group": "Rotation",
          "value": "animate__rotateIn",
          "label": "Rotate In"
        },
        {
          "group": "Rotation",
          "value": "animate__rotateInDownLeft",
          "label": "Rotate In Down Left"
        },
        {
          "group": "Rotation",
          "value": "animate__rotateInDownRight",
          "label": "Rotate In Down Right"
        },
        {
          "group": "Rotation",
          "value": "animate__rotateInUpLeft",
          "label": "Rotate In Up Left"
        },
        {
          "group": "Rotation",
          "value": "animate__rotateInUpRight",
          "label": "Rotate In Up Right"
        },
        {
          "group": "Zoom",
          "value": "animate__zoomIn",
          "label": "Zoom In"
        },
        {
          "group": "Zoom",
          "value": "animate__zoomInDown",
          "label": "Zoom In Down"
        },
        {
          "group": "Zoom",
          "value": "animate__zoomInLeft",
          "label": "Zoom In Left"
        },
        {
          "group": "Zoom",
          "value": "animate__zoomInRight",
          "label": "Zoom In Right"
        },
        {
          "group": "Zoom",
          "value": "animate__zoomInUp",
          "label": "Zoom In Up"
        },
        {
          "group": "Slide",
          "value": "animate__slideInDown",
          "label": "Slide In Down"
        },
        {
          "group": "Slide",
          "value": "animate__slideInLeft",
          "label": "Slide In Left"
        },
        {
          "group": "Slide",
          "value": "animate__slideInRight",
          "label": "Slide In Right"
        },
        {
          "group": "Slide",
          "value": "animate__slideInUp",
          "label": "Slide In Up"
        }
      ]
    },
    {
      "type": "select",
      "id": "animation_speed",
      "label": "Animation speed",
      "default": "animate__fast",
      "options": [
        {
          "value": "animate__slower",
          "label": "Slower"
        },
        {
          "value": "animate__slow",
          "label": "Slow"
        },
        {
          "value": "",
          "label": "Normal"
        },
        {
          "value": "animate__fast",
          "label": "Fast"
        },
        {
          "value": "animate__faster",
          "label": "Faster"
        }
      ]
    },
    {
      "type": "header",
      "content": "Breakpoints",
      "info": "Adjust items per row based on screen resolution"
    },
    {
      "type": "checkbox",
      "id": "breakpoint_xs_scroll",
      "label": "Enable carousel on mobile",
      "default": true,
      "info": "Note: If enabled, the below setting 'Items per row / xs' will not apply."
    },
    {
      "type": "range",
      "id": "breakpoint_xs",
      "label": "Items per row / xs",
      "info": "Screen width: less than 576px",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 1
    },
    {
      "type": "range",
      "id": "breakpoint_sm",
      "label": "Items per row / sm",
      "info": "Screen width: ≥576px",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 1
    },
    {
      "type": "range",
      "id": "breakpoint_md",
      "label": "Items per row / md",
      "info": "Screen width: ≥768px",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 2
    },
    {
      "type": "range",
      "id": "breakpoint_lg",
      "label": "Items per row / lg",
      "info": "Screen width: ≥992px",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 2
    },
    {
      "type": "range",
      "id": "breakpoint_xl",
      "label": "Items per row / xl",
      "info": "Screen width: ≥1200px",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "breakpoint_xxl",
      "label": "Items per row / xxl",
      "info": "Screen width: ≥1400px",
      "min": 1,
      "max": 8,
      "step": 1,
      "default": 4
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Top padding",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Bottom padding",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "mt",
      "label": "Top margin",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "mb",
      "label": "Bottom margin",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "header",
          "content": "General"
        },
        {
          "type": "select",
          "id": "bg_color",
          "label": "Background color",
          "default": "bg-light text-body",
          "options": [
            {
              "group": "Main",
              "value": "bg-primary text-white",
              "label": "Primary"
            },
            {
              "group": "Main",
              "value": "bg-secondary text-white",
              "label": "Secondary"
            },
            {
              "group": "Main",
              "value": "bg-tertiary text-white",
              "label": "Tertiary"
            },
            {
              "group": "Intermediate",
              "value": "bg-white text-dark",
              "label": "White"
            },
            {
              "group": "Intermediate",
              "value": "bg-light text-body",
              "label": "Light"
            },
            {
              "group": "Intermediate",
              "value": "bg-dark text-white",
              "label": "Dark"
            },
            {
              "group": "Default",
              "value": "",
              "label": "Body"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "bg_gradient",
          "label": "Background gradient",
          "default": false,
          "info": "Does not apply to light colors"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text alignment",
          "default": "text-center",
          "options": [
            {
              "value": "text-start",
              "label": "Left"
            },
            {
              "value": "text-center",
              "label": "Center"
            }
          ]
        },
        {
          "type": "select",
          "id": "shadow_sp",
          "label": "Shadow",
          "options": [
            {
              "value": "shadow-none",
              "label": "None"
            },
            {
              "value": "shadow-1",
              "label": "Light shadow"
            },
            {
              "value": "shadow-2",
              "label": "Partial shadow"
            },
            {
              "value": "shadow-3",
              "label": "Deep shadow"
            },
            {
              "value": "shadow-4",
              "label": "Full shadow"
            }
          ],
          "default": "shadow-1"
        },
        {
          "type": "select",
          "id": "border_color",
          "label": "Border color",
          "options": [
            {
              "value": "",
              "label": "Default"
            },
            {
              "value": "border-primary",
              "label": "Primary"
            },
            {
              "value": "border-secondary",
              "label": "Secondary"
            },
            {
              "value": "border-tertiary",
              "label": "Tertiary"
            },
            {
              "value": "border-dark",
              "label": "Dark"
            },
            {
              "value": "border-success",
              "label": "Success"
            },
            {
              "value": "border-warning",
              "label": "Warning"
            },
            {
              "value": "border-danger",
              "label": "Danger"
            },
            {
              "value": "border-info",
              "label": "Info"
            }
          ],
          "default": ""
        },
        {
          "type": "range",
          "id": "border_width",
          "label": "Border width",
          "min": 0,
          "max": 10,
          "step": 1,
          "default": 1
        },
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "img_orientation",
          "label": "Image orientation",
          "default": "landscape",
          "options": [
            {
              "value": "square",
              "label": "Square"
            },
            {
              "value": "landscape",
              "label": "Landscape"
            },
            {
              "value": "portrait",
              "label": "Portrait"
            }
          ]
        },
        {
          "type": "select",
          "id": "img_crop",
          "label": "Image crop",
          "default": "center",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "header",
          "content": "Text"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Card with image"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Title tag (SEO)",
          "default": "h3",
          "options": [
            {
              "value": "h1",
              "label": "h1"
            },
            {
              "value": "h2",
              "label": "h2"
            },
            {
              "value": "h3",
              "label": "h3"
            },
            {
              "value": "h4",
              "label": "h4"
            },
            {
              "value": "h5",
              "label": "h5"
            },
            {
              "value": "h6",
              "label": "h6"
            },
            {
              "value": "span",
              "label": "None"
            }
          ]
        },
        {
          "type": "select",
          "id": "title_size",
          "label": "Title size",
          "default": "h5",
          "options": [
            {
              "group": "Standard Title",
              "value": "h1",
              "label": "Very Large"
            },
            {
              "group": "Standard Title",
              "value": "h2",
              "label": "Large"
            },
            {
              "group": "Standard Title",
              "value": "h3",
              "label": "Medium"
            },
            {
              "group": "Standard Title",
              "value": "h4",
              "label": "Small"
            },
            {
              "group": "Standard Title",
              "value": "h5",
              "label": "Very Small"
            },
            {
              "group": "Standard Title",
              "value": "h6",
              "label": "Super Small"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Pair large text with an image to highlight your chosen product, collection, or blog post. Add details about availability, style, or even a comment.</p>"
        },
        {
          "type": "select",
          "id": "description_size",
          "label": "Description size",
          "default": "fs-5",
          "options": [
            {
              "group": "Standard Description",
              "value": "fs-1",
              "label": "Extra Large"
            },
            {
              "group": "Standard Description",
              "value": "fs-2",
              "label": "Super Large"
            },
            {
              "group": "Standard Description",
              "value": "fs-3",
              "label": "Very Large"
            },
            {
              "group": "Standard Description",
              "value": "fs-4",
              "label": "Large"
            },
            {
              "group": "Standard Description",
              "value": "fs-5",
              "label": "Medium"
            },
            {
              "group": "Standard Description",
              "value": "fs-6",
              "label": "Small"
            }
          ]
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button text",
          "default": "Learn more",
          "info": "Leave empty to disable"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button URL"
        },
        {
          "type": "select",
          "id": "btn_color",
          "label": "Button color",
          "default": "btn-primary",
          "options": [
            {
              "group": "Normal",
              "value": "btn-link",
              "label": "Link"
            },
            {
              "group": "Normal",
              "value": "btn-light",
              "label": "Light"
            },
            {
              "group": "Normal",
              "value": "btn-dark",
              "label": "Dark"
            },
            {
              "group": "Normal",
              "value": "btn-primary",
              "label": "Primary"
            },
            {
              "group": "Normal",
              "value": "btn-secondary",
              "label": "Secondary"
            },
            {
              "group": "Normal",
              "value": "btn-tertiary",
              "label": "Tertiary"
            },
            {
              "group": "Normal",
              "value": "btn-success",
              "label": "Success"
            },
            {
              "group": "Normal",
              "value": "btn-danger",
              "label": "Danger"
            },
            {
              "group": "Normal",
              "value": "btn-warning",
              "label": "Warning"
            },
            {
              "group": "Normal",
              "value": "btn-info",
              "label": "Info"
            },
            {
              "group": "Outline",
              "value": "btn-outline-light",
              "label": "Outline Light"
            },
            {
              "group": "Outline",
              "value": "btn-outline-dark",
              "label": "Outline Dark"
            },
            {
              "group": "Outline",
              "value": "btn-outline-primary",
              "label": "Outline Primary"
            },
            {
              "group": "Outline",
              "value": "btn-outline-secondary",
              "label": "Outline Secondary"
            },
            {
              "group": "Outline",
              "value": "btn-outline-tertiary",
              "label": "Outline Tertiary"
            },
            {
              "group": "Outline",
              "value": "btn-outline-success",
              "label": "Outline Success"
            },
            {
              "group": "Outline",
              "value": "btn-outline-danger",
              "label": "Outline Danger"
            },
            {
              "group": "Outline",
              "value": "btn-outline-warning",
              "label": "Outline Warning"
            },
            {
              "group": "Outline",
              "value": "btn-outline-info",
              "label": "Outline Info"
            }
          ]
        },
        {
          "type": "select",
          "id": "btn_size",
          "label": "Button size",
          "default": "btn-md",
          "options": [
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-md",
              "label": "Normal"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Cards with Image",
      "category": "General"
    }
  ]
}
{% endschema %}