{% comment %}
---------------------------------------------------------
Copyright © 2019/2024 Theme Shopiweb Premium. Tous droits réservés.
---------------------------------------------------------
{% endcomment %}

{% liquid 
  assign pt = section.settings.pt | prepend: 'pt-'
  assign pb = section.settings.pb | prepend: 'pb-'
  assign mt = section.settings.mt | prepend: 'mt-'
  assign mb = section.settings.mb | prepend: 'mb-'
  assign bg_color = section.settings.bg_color
  if section.settings.bg_gradient
    assign bg_color = bg_color | append: ' bg-gradient'
  endif
  assign btn_shadow_sp = settings.btn_shadow_sp
%}

<section 
  id="contact-form-{{ section.id }}" 
  class="contact-form enter-view {{ bg_color }} {{ pt }} {{ pb }} {{ mt }} {{ mb }}">
  <div class="container" style="max-width: {{ section.settings.max_width }}px;">
    <div class="text-center">
      {% render 'section-header' %}

      {% form 'contact', class: 'contact-form my-4' %}
        {% if form.posted_successfully? %}
          <div class="form-success rte alert alert-success mb-6" role="alert">
            {{ section.settings.form_success_msg }}
          </div>
        {% endif %}
        {{ form.errors | default_errors }}

        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'text' %}
              <div class="form-group mb-5" {{ block.shopify_attributes }}>
                {% unless block.settings.title == blank %}
                  <{{ block.settings.heading_tag }} class="title mb-2 {{ block.settings.title_size }}">
                    {{ block.settings.title }}
                  </{{ block.settings.heading_tag }}>
                {% endunless %}
                {% unless block.settings.description == blank %}
                  <div class="description rte text-muted {{ block.settings.description_size }}">
                    {{ block.settings.description }}
                  </div>
                {% endunless %}
              </div>

            {% when 'input_field' %}
              <div class="form-group mb-4" {{ block.shopify_attributes }}>
                <label for="input-{{ block.id }}" class="form-label mb-2">
                  {{ block.settings.label }}
                  {% unless block.settings.required %}
                    ({{ 'general.general.optional' | t }})
                  {% endunless %}
                </label>
                <input
                  id="input-{{ block.id }}"
                  class="form-control form-control-{{ section.settings.form_fields_size }}"
                  type="{{ block.settings.type }}"
                  name="contact[{{ block.settings.label | handleize }}]"
                  placeholder="{{ block.settings.label }}"
                  {% if block.settings.required %}required{% endif %}>
              </div>

            {% when 'textarea' %}
              <div class="form-group mb-4" {{ block.shopify_attributes }}>
                <textarea
                  class="form-control form-control-{{ section.settings.form_fields_size }}"
                  rows="{{ block.settings.rows }}"
                  name="contact[{{ block.settings.label | handleize }}]"
                  placeholder="{{ block.settings.label }}"
                  {% if block.settings.required %}required{% endif %}></textarea>
              </div>

            {% when 'select' %}
              {% assign options = block.settings.options | split: ',' %}
              <div class="form-group mb-4" {{ block.shopify_attributes }}>
                <label for="select-{{ block.id }}" class="form-label mb-2">
                  {{ block.settings.label }}
                  {% unless block.settings.required %}
                    ({{ 'general.general.optional' | t }})
                  {% endunless %}
                </label>
                <select
                  id="select-{{ block.id }}"
                  class="form-select form-select-{{ section.settings.form_fields_size }}"
                  name="contact[{{ block.settings.label | handleize }}]"
                  {% if block.settings.required %}required{% endif %}>
                  <option value="">{{ block.settings.label }}</option>
                  {% for option in options %}
                    <option value="{{ option | handleize }}">{{ option }}</option>
                  {% endfor %}
                </select>
              </div>

            {% when 'checkbox_radio' %}
              {% assign options = block.settings.options | split: ',' %}
              <div class="form-group mb-5" {{ block.shopify_attributes }}>
                <p class="mb-3 h5 fw-500">
                  {{ block.settings.label }}
                  {% unless block.settings.required %}
                    ({{ 'general.general.optional' | t }})
                  {% endunless %}
                </p>
                {% for option in options %}
                  <div class="form-check">
                    <input
                      id="input-{{ block.id }}-{{ forloop.index }}"
                      class="form-check-input"
                      type="{{ block.settings.type }}"
                      name="contact[{{ block.settings.label | handleize }}{% if block.settings.type == 'checkbox' %}-{{ forloop.index }}{% endif %}]"
                      value="{{ option | strip }}">
                    <label for="input-{{ block.id }}-{{ forloop.index }}" class="form-check-label">
                      {{ option }}
                    </label>
                  </div>
                {% endfor %}
              </div>

            {% when 'range' %}
              <div class="form-group mb-4" {{ block.shopify_attributes }}>
                <label for="input-{{ block.id }}" class="form-label h5 mb-1">
                  {{ block.settings.label }}
                  {% unless block.settings.required %}
                    ({{ 'general.general.optional' | t }})
                  {% endunless %}
                </label>
                <div class="d-flex align-items-center">
                  <input
                    id="input-{{ block.id }}"
                    class="form-range"
                    type="range"
                    name="contact[{{ block.settings.label | handleize }}]"
                    min="{{ block.settings.min_value }}"
                    max="{{ block.settings.max_value }}"
                    step="{{ block.settings.step }}"
                    oninput="this.nextElementSibling.value = this.value"
                    {% if block.settings.required %}required{% endif %}>
                  <output class="ms-3">{{ block.settings.max_value | divided_by: 2 }}</output>
                  /{{ block.settings.max_value }}
                </div>
              </div>

            {% when 'submit_btn' %}
              <div class="form-group mb-4" {{ block.shopify_attributes }}>
                <div class="cf-turnstile" data-sitekey="0x4AAAAAB6Gxaj2i1fS_Vcb"></div>
                <button type="submit" class="btn w-100 {{ block.settings.btn_color }} {{ btn_shadow_sp }} btn-{{ section.settings.form_fields_size }}">
                  {{ block.settings.btn_text }}
                </button>
              </div>

            {% when 'separator' %}
              {% assign mt = block.settings.mt | prepend: 'mt-' %}
              {% assign mb = block.settings.mb | prepend: 'mb-' %}
              <hr class="{{ mt }} {{ mb }}" style="opacity: {{ block.settings.opacity }}; color: {{ block.settings.separator_color }};">
          {% endcase %}
        {% endfor %}
      {% endform %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "🏆 Formulaire de Contact",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Formulaire de Contact"
    }
  ]
}
{% endschema %}