{% comment %}
---------------------------------------------------------
Copyright © 2019/2024 Theme Shopiweb Premium. Tous droits réservés.
La copie, la modification, la distribution ou l'utilisation
non autorisée de ce code ou de toute partie de celui-ci est formellement interdite.
Les contrevenants seront poursuivis dans toute la mesure permise par la loi.
---------------------------------------------------------
{% endcomment %}

{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

    assign bg_color = section.settings.bg_color

    if section.settings.bg_gradient
        assign bg_color = bg_color | append: ' bg-gradient'
    endif

    assign btn_shadow_sp = settings.btn_shadow_sp
%}

<section 
    id="contact-form-{{ section.id }}" 
    class="contact-form enter-view {{ bg_color }} {{ pt }} {{ pb }} {{ mt }} {{ mb }}">
    <div class="container" style="max-width: {{ section.settings.max_width }}px">
        
        <div class="text-center">
            {% liquid
              render 'section-header'
              form 'contact', class: 'contact-form my-4'
              if form.posted_successfully?
                echo '<div class="form-success rte alert alert-success mb-6" role="alert">'
                echo section.settings.form_success_msg
                echo '</div>'
              endif
              echo form.errors | default_errors
              for block in section.blocks
                case block.type
                  when 'text'
                    echo '<div class="form-group mb-5" ' | append: block.shopify_attributes | append: '>'
                    unless block.settings.title == blank
                      echo '<' | append: block.settings.heading_tag | append: ' class="title mb-2 ' | append: block.settings.title_size | append: '">' 
                      echo block.settings.title
                      echo '</' | append: block.settings.heading_tag | append: '>'
                    endunless
                    unless block.settings.description == blank
                      echo '<div class="description rte text-muted ' | append: block.settings.description_size | append: '">' 
                      echo block.settings.description
                      echo '</div>'
                    endunless
                    echo '</div>'
                  when 'input_field'
                    assign input_name = block.settings.label | handleize
                    if input_name contains 'mail'
                      assign input_name = 'email'
                    endif
                    echo '<div class="form-group mb-4" ' | append: block.shopify_attributes | append: '>'
                    if block.settings.type == 'date' or block.settings.type == 'time'
                      echo '<label for="input-' | append: block.id | append: '" class="form-label mb-2">'
                      echo block.settings.label
                      unless block.settings.required
                        echo ' (' | append: 'general.general.optional' | t | append: ')'
                      endunless
                      echo '</label>'
                    endif
                    echo '<input id="input-' | append: block.id | append: '" class="form-control form-control-' | append: section.settings.form_fields_size | append: '" type="' | append: block.settings.type | append: '" name="contact[' | append: input_name | append: ']" placeholder="' | append: block.settings.label
                    unless block.settings.required
                      echo ' (' | append: 'general.general.optional' | t | append: ')'
                    endunless
                    echo '" aria-label="' | append: block.settings.label
                    unless block.settings.required
                      echo ' (' | append: 'general.general.optional' | t | append: ')'
                    endunless
                    echo '"'
                    if block.settings.required
                      echo ' required'
                    endif
                    echo '>'
                    echo '</div>'
                  when 'textarea'
                    echo '<div class="form-group mb-4" ' | append: block.shopify_attributes | append: '>'
                    echo '<textarea class="form-control form-control-' | append: section.settings.form_fields_size | append: '" rows="' | append: block.settings.rows | append: '" name="contact[' | append: block.settings.label | handleize | append: ']" placeholder="' | append: block.settings.label
                    unless block.settings.required
                      echo ' (' | append: 'general.general.optional' | t | append: ')'
                    endunless
                    echo '" aria-label="' | append: block.settings.label
                    unless block.settings.required
                      echo ' (' | append: 'general.general.optional' | t | append: ')'
                    endunless
                    echo '"'
                    if block.settings.required
                      echo ' required'
                    endif
                    echo '></textarea>'
                    echo '</div>'
                  when 'select'
                    assign options = block.settings.options | split: ','
                    echo '<div class="form-group mb-4" ' | append: block.shopify_attributes | append: '>'
                    echo '<select class="form-select form-select-' | append: section.settings.form_fields_size | append: '" name="contact[' | append: block.settings.label | handleize | append: ']" placeholder="' | append: block.settings.label
                    unless block.settings.required
                      echo ' (' | append: 'general.general.optional' | t | append: ')'
                    endunless
                    echo '" aria-label="' | append: block.settings.label
                    unless block.settings.required
                      echo ' (' | append: 'general.general.optional' | t | append: ')'
                    endunless
                    echo '"'
                    if block.settings.required
                      echo ' required'
                    endif
                    echo '>'
                    echo '<option>'
                    echo block.settings.label
                    unless block.settings.required
                      echo ' (' | append: 'general.general.optional' | t | append: ')'
                    endunless
                    echo '</option>'
                    for option in options
                      echo '<option value="' | append: option | handleize | append: '">' | append: option | append: '</option>'
                    endfor
                    echo '</select>'
                    echo '</div>'
                  when 'checkbox_radio'
                    assign options = block.settings.options | split: ','
                    echo '<div class="form-group mb-5" ' | append: block.shopify_attributes | append: '>'
                    echo '<p class="mb-3 h5 fw-500">' | append: block.settings.label
                    unless block.settings.required
                      echo ' (' | append: 'general.general.optional' | t | append: ')'
                    endunless
                    echo '</p>'
                    for option in options
                      echo '<div class="form-check">'
                      echo '<input id="input-' | append: block.id | append: '-' | append: forloop.index | append: '" class="form-check-input" type="' | append: block.settings.type | append: '" name="contact[' | append: block.settings.label | handleize
                      if block.settings.type == 'checkbox'
                        echo '-' | append: forloop.index
                      endif
                      echo ']" value="' | append: option | append: '">' 
                      echo '<label for="input-' | append: block.id | append: '-' | append: forloop.index | append: '" class="form-check-label">' | append: option | append: '</label>'
                      echo '</div>'
                    endfor
                    echo '</div>'
                  when 'range'
                    echo '<div class="form-group mb-4" ' | append: block.shopify_attributes | append: '>'
                    echo '<label for="input-' | append: block.id | append: '" class="form-label h5 mb-1">' | append: block.settings.label
                    unless block.settings.required
                      echo ' (' | append: 'general.general.optional' | t | append: ')'
                    endunless
                    echo '</label>'
                    echo '<div class="d-flex align-items center">'
                    echo '<input id="input-' | append: block.id | append: '" class="form-range" type="range" name="contact[' | append: block.settings.label | handleize | append: ']" min="' | append: block.settings.min_value | append: '" max="' | append: block.settings.max_value | append: '" step="' | append: block.settings.step | append: '"'
                    if block.settings.required
                      echo ' required'
                    endif
                    echo ' oninput="this.nextElementSibling.value = this.value">'
                    echo '<output class="ms-3">' | append: block.settings.max_value | divided_by: 2 | append: '</output>'
                    echo '/' | append: block.settings.max_value
                    echo '</div>'
                    echo '</div>'
                  when 'submit_btn'
                    echo '<div class="form-group mb-4" ' | append: block.shopify_attributes | append: '>'
                    echo '<div class="cf-turnstile" data-sitekey="0x4AAAAAB6Gxaj2i1fS_Vcb"></div>'
                    echo '<button type="submit" class="btn w-100 ' | append: block.settings.btn_color | append: ' ' | append: btn_shadow_sp | append: ' btn-' | append: section.settings.form_fields_size | append: '">' | append: block.settings.btn_text | append: '</button>'
                    echo '</div>'
                  when 'separator'
                    assign mt = block.settings.mt | prepend: 'mt-'
                    assign mb = block.settings.mb | prepend: 'mb-'
                    echo '<hr class="' | append: mt | append: ' ' | append: mb | append: '" style="opacity: ' | append: block.settings.opacity | append: '; color: ' | append: block.settings.separator_color | append: ';">'
                endcase
              endfor
    </div>
</section>

{% schema %}
{
  "name": "🏆 Formulaire de Contact",
  "settings": [
    {
      "type": "header",
      "content": "🏆 Application Formulaire de contact",
      "info": "👉 Application Version Shopiweb Premium"
    },
    {
      "type": "paragraph",
      "content": "EN Documentation: [Formulaire de contact by Shopiweb](https://www.docs.shopiweb.fr/theme-premium/documentation/sections/formulaire-de-contact)"
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "bg_color",
      "label": "Background color",
      "default": "bg-body text-body",
      "options": [
        {
          "group": "Principal",
          "value": "bg-primary text-white",
          "label": "Primaire"
        },
        {
          "group": "Principal",
          "value": "bg-secondary text-white",
          "label": "Secondaire"
        },
        {
          "group": "Principal",
          "value": "bg-tertiary text-white",
          "label": "Tertiaire"
        },
        {
          "group": "Intermédiaire",
          "value": "bg-white text-dark",
          "label": "White"
        },
        {
          "group": "Intermédiaire",
          "value": "bg-light text-body",
          "label": "Light"
        },
        {
          "group": "Intermédiaire",
          "value": "bg-dark text-white",
          "label": "Dark"
        },
        {
          "group": "Par défaut",
          "value": "bg-body text-body",
          "label": "Corps (body)"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "bg_gradient",
      "label": "Background gradient",
      "default": false,
      "info": "Does not apply to light colors"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Largeur maximale de la page (px)",
      "info": "Empêcher la section de devenir trop grande.",
      "default": "640"
    },
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "image_picker",
      "id": "subtitle_img",
      "label": "Image caption"
    },
    {
      "type": "text",
      "id": "brand_image_size",
      "label": "Image Largeur/Hauteur (px)",
      "default": "60"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Text caption"
    },
    {
      "type": "select",
      "id": "subtitle_size",
      "label": "Caption size",
      "default": "fs-5",
      "options": [
        {
          "group": "Légende Standard",
          "value": "fs-1",
          "label": "Extra Grand"
        },
        {
          "group": "Légende Standard",
          "value": "fs-2",
          "label": "Super Grand"
        },
        {
          "group": "Légende Standard",
          "value": "fs-3",
          "label": "Very Large"
        },
        {
          "group": "Légende Standard",
          "value": "fs-4",
          "label": "Large"
        },
        {
          "group": "Légende Standard",
          "value": "fs-5",
          "label": "Medium"
        },
        {
          "group": "Légende Standard",
          "value": "fs-6",
          "label": "Small"
        }
      ]
    },
    {
      "type": "color",
      "id": "color_caption",
      "label": "Caption color",
      "default": "#6c757d"
    },
    {
      "type": "text",
      "id": "title_overlay",
      "label": "Titre overlay",
      "info": "Visible on desktop, hidden on mobile to optimize readability."
    },
    {
      "type": "select",
      "id": "title_overlay_size",
      "label": "Taille du titre overlay",
      "default": "3",
      "options": [
        {
          "group": "Titre Overlay",
          "value": "4",
          "label": "Large"
        },
        {
          "group": "Titre Overlay",
          "value": "3",
          "label": "Medium"
        },
        {
          "group": "Titre Overlay",
          "value": "2",
          "label": "Small"
        }
      ]
    },
    {
      "type": "color",
      "id": "color_title_overlay",
      "label": "Overlay title color",
      "default": "#000000"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Titre",
      "default": "Une question à nous poser ?"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "Balise titre (SEO)",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "h1"
        },
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "h3",
          "label": "h3"
        },
        {
          "value": "h4",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        },
        {
          "value": "h6",
          "label": "h6"
        },
        {
          "value": "span",
          "label": "Aucune"
        }
      ]
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "Taille du titre",
      "default": "h2",
      "options": [
        {
          "group": "Titre Supérieur",
          "value": "display-1",
          "label": "Extra Extra Grand"
        },
        {
          "group": "Titre Supérieur",
          "value": "display-2",
          "label": "Extra Grand"
        },
        {
          "group": "Titre Supérieur",
          "value": "display-3",
          "label": "Ultra Grand"
        },
        {
          "group": "Titre Supérieur",
          "value": "display-4",
          "label": "Super Grand"
        },
        {
          "group": "Titre Standard",
          "value": "h1",
          "label": "Very Large"
        },
        {
          "group": "Titre Standard",
          "value": "h2",
          "label": "Large"
        },
        {
          "group": "Titre Standard",
          "value": "h3",
          "label": "Medium"
        },
        {
          "group": "Titre Standard",
          "value": "h4",
          "label": "Small"
        },
        {
          "group": "Titre Standard",
          "value": "h5",
          "label": "Very Small"
        },
        {
          "group": "Titre Standard",
          "value": "h6",
          "label": "Super Petit"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Add an optional description to this section</p>"
    },
    {
      "type": "select",
      "id": "description_size",
      "label": "Taille de description",
      "default": "fs-5",
      "options": [
        {
          "group": "Description Standard",
          "value": "fs-1",
          "label": "Extra Grand"
        },
        {
          "group": "Description Standard",
          "value": "fs-2",
          "label": "Super Grand"
        },
        {
          "group": "Description Standard",
          "value": "fs-3",
          "label": "Very Large"
        },
        {
          "group": "Description Standard",
          "value": "fs-4",
          "label": "Large"
        },
        {
          "group": "Description Standard",
          "value": "fs-5",
          "label": "Medium"
        },
        {
          "group": "Description Standard",
          "value": "fs-6",
          "label": "Small"
        }
      ]
    },
    {
      "type": "header",
      "content": "Formulaire"
    },
    {
      "type": "select",
      "id": "form_fields_size",
      "label": "Taille des champs",
      "default": "md",
      "options": [
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "form_success_msg",
      "label": "Succès Message",
      "default": "<p>Merci de nous avoir contactés. Nous vous répondrons dans les plus brefs délais.</p>"
    },
    {
      "type": "header",
      "content": "Espacement de la section"
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Top padding",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Bottom padding",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "mt",
      "label": "Top margin",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "mb",
      "label": "Bottom margin",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "⚙️ Texte",
      "settings": [
        {
          "type": "paragraph",
          "content": "⚙️ Fonctionnalité 👉 Version Shopiweb Premium"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Titre",
          "default": "Votre titre",
          "info": "Leave empty to disable"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Balise titre (SEO)",
          "default": "h3",
          "options": [
            {
              "value": "h1",
              "label": "h1"
            },
            {
              "value": "h2",
              "label": "h2"
            },
            {
              "value": "h3",
              "label": "h3"
            },
            {
              "value": "h4",
              "label": "h4"
            },
            {
              "value": "h5",
              "label": "h5"
            },
            {
              "value": "h6",
              "label": "h6"
            },
            {
              "value": "span",
              "label": "Aucune"
            }
          ]
        },
        {
          "type": "select",
          "id": "title_size",
          "label": "Taille du titre",
          "default": "h5",
          "options": [
            {
              "group": "Titre Standard",
              "value": "h1",
              "label": "Very Large"
            },
            {
              "group": "Titre Standard",
              "value": "h2",
              "label": "Large"
            },
            {
              "group": "Titre Standard",
              "value": "h3",
              "label": "Medium"
            },
            {
              "group": "Titre Standard",
              "value": "h4",
              "label": "Small"
            },
            {
              "group": "Titre Standard",
              "value": "h5",
              "label": "Very Small"
            },
            {
              "group": "Titre Standard",
              "value": "h6",
              "label": "Super Petit"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Ecrire quelques informations utiles ici</p>",
          "info": "Leave empty to disable"
        },
        {
          "type": "select",
          "id": "description_size",
          "label": "Taille de description",
          "default": "fs-5",
          "options": [
            {
              "group": "Description Standard",
              "value": "fs-1",
              "label": "Extra Grand"
            },
            {
              "group": "Description Standard",
              "value": "fs-2",
              "label": "Super Grand"
            },
            {
              "group": "Description Standard",
              "value": "fs-3",
              "label": "Very Large"
            },
            {
              "group": "Description Standard",
              "value": "fs-4",
              "label": "Large"
            },
            {
              "group": "Description Standard",
              "value": "fs-5",
              "label": "Medium"
            },
            {
              "group": "Description Standard",
              "value": "fs-6",
              "label": "Small"
            }
          ]
        }
      ]
    },
    {
      "type": "input_field",
      "name": "⚙️ Champ de saisie",
      "settings": [
        {
          "type": "paragraph",
          "content": "⚙️ Fonctionnalité 👉 Version Shopiweb Premium"
        },
        {
          "type": "select",
          "id": "type",
          "label": "Type",
          "default": "text",
          "options": [
            {
              "value": "text",
              "label": "Texte"
            },
            {
              "value": "email",
              "label": "Email"
            },
            {
              "value": "phone",
              "label": "Téléphone"
            },
            {
              "value": "url",
              "label": "URL"
            },
            {
              "value": "date",
              "label": "Date"
            },
            {
              "value": "time",
              "label": "Heure"
            }
          ]
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Nom"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Requis",
          "default": true,
          "info": "S'il est désactivé, ce champ sera marqué comme facultatif et les utilisateurs pourront soumettre le formulaire sans avoir à le remplir."
        }
      ]
    },
    {
      "type": "textarea",
      "name": "Zone de texte",
      "settings": [
        {
          "type": "range",
          "id": "rows",
          "label": "Rangs",
          "min": 2,
          "max": 20,
          "step": 1,
          "default": 8
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Commentaire"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Requis",
          "default": true,
          "info": "S'il est désactivé, ce champ sera marqué comme facultatif et les utilisateurs pourront soumettre le formulaire sans avoir à le remplir."
        }
      ]
    },
    {
      "type": "select",
      "name": "⚙️ Liste déroulante",
      "settings": [
        {
          "type": "paragraph",
          "content": "⚙️ Fonctionnalité 👉 Version Shopiweb Premium"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Sélectionner une ville"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Requis",
          "default": true,
          "info": "S'il est désactivé, ce champ sera marqué comme facultatif et les utilisateurs pourront soumettre le formulaire sans avoir à le remplir."
        },
        {
          "type": "html",
          "id": "options",
          "label": "Options",
          "default": "New York, London, Paris",
          "info": "Liste d'options séparées par des virgules. Par exemple New York, Londres, Paris"
        }
      ]
    },
    {
      "type": "checkbox_radio",
      "name": "⚙️ Checkbox/Radio",
      "settings": [
        {
          "type": "paragraph",
          "content": "⚙️ Fonctionnalité 👉 Version Shopiweb Premium"
        },
        {
          "type": "select",
          "id": "type",
          "label": "Type",
          "default": "checkbox",
          "options": [
            {
              "value": "checkbox",
              "label": "Checkbox"
            },
            {
              "value": "radio",
              "label": "Radio"
            }
          ]
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Sélectionner une ville"
        },
        {
          "type": "html",
          "id": "options",
          "label": "Options",
          "default": "New York, London, Paris",
          "info": "Liste d'options séparées par des virgules. Par exemple New York, Londres, Paris"
        }
      ]
    },
    {
      "type": "range",
      "name": "⚙️ Range",
      "settings": [
        {
          "type": "paragraph",
          "content": "⚙️ Fonctionnalité 👉 Version Shopiweb Premium"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Note Shopiweb"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Requis",
          "default": true,
          "info": "S'il est désactivé, ce champ sera marqué comme facultatif et les utilisateurs pourront soumettre le formulaire sans avoir à le remplir."
        },
        {
          "type": "text",
          "id": "min_value",
          "label": "Valeur minimale",
          "default": "0"
        },
        {
          "type": "text",
          "id": "max_value",
          "label": "Valeur maximale",
          "default": "10"
        },
        {
          "type": "text",
          "id": "step",
          "label": "Étape",
          "default": "1"
        }
      ]
    },
    {
      "type": "submit_btn",
      "name": "Bouton d'envoi",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button text",
          "default": "Envoyer"
        },
        {
          "type": "select",
          "id": "btn_color",
          "label": "Button color",
          "default": "btn-primary",
          "options": [
            {
              "group": "Normal",
              "value": "btn-link",
              "label": "Link"
            },
            {
              "group": "Normal",
              "value": "btn-light",
              "label": "Light"
            },
            {
              "group": "Normal",
              "value": "btn-dark",
              "label": "Dark"
            },
            {
              "group": "Normal",
              "value": "btn-primary",
              "label": "Primaire"
            },
            {
              "group": "Normal",
              "value": "btn-secondary",
              "label": "Secondaire"
            },
            {
              "group": "Normal",
              "value": "btn-tertiary",
              "label": "Tertiaire"
            },
            {
              "group": "Normal",
              "value": "btn-success",
              "label": "Success"
            },
            {
              "group": "Normal",
              "value": "btn-danger",
              "label": "Danger"
            },
            {
              "group": "Normal",
              "value": "btn-warning",
              "label": "Avertissement"
            },
            {
              "group": "Normal",
              "value": "btn-info",
              "label": "Info"
            },
            {
              "group": "Outline",
              "value": "btn-outline-light",
              "label": "Contour Claire"
            },
            {
              "group": "Outline",
              "value": "btn-outline-dark",
              "label": "Contour Sombre"
            },
            {
              "group": "Outline",
              "value": "btn-outline-primary",
              "label": "Contour Primaire"
            },
            {
              "group": "Outline",
              "value": "btn-outline-secondary",
              "label": "Contour Secondaire"
            },
            {
              "group": "Outline",
              "value": "btn-outline-tertiary",
              "label": "Contour Tertiaire"
            },
            {
              "group": "Outline",
              "value": "btn-outline-success",
              "label": "Success Outline"
            },
            {
              "group": "Outline",
              "value": "btn-outline-danger",
              "label": "Contour Danger"
            },
            {
              "group": "Outline",
              "value": "btn-outline-warning",
              "label": "Contour Avertissement"
            },
            {
              "group": "Outline",
              "value": "btn-outline-info",
              "label": "Contour Info"
            }
          ]
        }
      ]
    },
    {
      "type": "separator",
      "name": "⚙️ Séparateur",
      "settings": [
        {
          "type": "paragraph",
          "content": "⚙️ Fonctionnalité 👉 Version Shopiweb Premium"
        },
        {
          "type": "color",
          "id": "separator_color",
          "label": "Border color",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "opacity",
          "label": "Opacité de la bordure",
          "min": 0,
          "max": 1,
          "step": 0.1,
          "default": 0.1
        },
        {
          "type": "range",
          "id": "mt",
          "label": "Top margin",
          "min": 0,
          "max": 12,
          "step": 1,
          "default": 6
        },
        {
          "type": "range",
          "id": "mb",
          "label": "Bottom margin",
          "min": 0,
          "max": 12,
          "step": 1,
          "default": 6
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Formulaire de Contact",
      "category": "General",
      "blocks": [
        {
          "type": "input_field",
          "settings": {
            "type": "text",
            "label": "Nom",
            "required": true
          }
        },
        {
          "type": "input_field",
          "settings": {
            "type": "email",
            "label": "Adresse E-mail",
            "required": true
          }
        },
        {
          "type": "input_field",
          "settings": {
            "type": "phone",
            "label": "Téléphone",
            "required": false
          }
        },
        {
          "type": "textarea"
        },
        {
          "type": "submit_btn"
        }
      ]
    }
  ]
}
{% endschema %}