{% comment %}
---------------------------------------------------------
Copyright © 2019/2024 Theme Shopiweb Premium. Tous droits réservés.
La copie, la modification, la distribution ou l'utilisation
non autorisée de ce code ou de toute partie de celui-ci est formellement interdite.
Les contrevenants seront poursuivis dans toute la mesure permise par la loi.
---------------------------------------------------------
{% endcomment %}

{% liquid
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'
  
    assign bg_color = section.settings.bg_color
  
    if section.settings.bg_gradient
      assign bg_color = bg_color | append: ' bg-gradient'
    endif
  
    assign btn_shadow_sp = settings.btn_shadow_sp
%}

<section
  id="discount-bar-{{ section.id }}"
  class="discount-bar enter-view {{ bg_color }} {{ pt }} {{ pb }} {{ mt }} {{ mb }}"
>
    <div
      class="{% unless section.settings.animation == '' %}animate__animated opacity-0 {{ section.settings.animation_speed }}{% endunless %}"
      data-animate-class="{{ section.settings.animation }}"
    >
        <div class="d-flex flex-wrap justify-content-center align-items-center text-center gap-3 p-2">
            {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'title' %}
                        <{{ block.settings.heading_tag }} class="title py-2 px-4 mb-0 {{ block.settings.title_size }}" {{ block.shopify_attributes }}>
                            {{ block.settings.title }}
                        </{{ block.settings.heading_tag }}>
                    {% when 'text' %}
                        <div class="py-2 px-4" {{ block.shopify_attributes }}>
                          {{ block.settings.text }}
                        </div>
                    {% when 'discount' %}
                        <div class="py-2 px-4 {% if block.settings.borders %}border-start border-end{% endif %}">
                            <button
                              class="btn {{ block.settings.btn_color }} {{ btn_shadow_sp }} {{ block.settings.btn_size }} copyCodeBtn"
                              type="button"
                              data-discount-code="{{ block.settings.code }}"
                              {{ block.shopify_attributes }}
                            >
                              {% render 'icons', icon: block.settings.icon, class: 'copyCodeIcon' %}
                              {% render 'icons', icon: 'check', color: 'green', class: 'd-none copiedCodeCheckMark' %}
                              <span class="copyDiscountText">{{ block.settings.code }}</span>
                            </button>
                        </div>
                {% endcase %}
            {% endfor %}
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Discount Bar",
  "max_blocks": 3,
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "bg_color",
      "label": "Background color",
      "default": "bg-body text-body",
      "options": [
        {
          "group": "Main",
          "value": "bg-primary text-white",
          "label": "Primary"
        },
        {
          "group": "Principal",
          "value": "bg-secondary text-white",
          "label": "Secondary"
        },
        {
          "group": "Principal",
          "value": "bg-tertiary text-white",
          "label": "Tertiary"
        },
        {
          "group": "Intermediate",
          "value": "bg-white text-dark",
          "label": "White"
        },
        {
          "group": "Intermédiaire",
          "value": "bg-light text-body",
          "label": "Light"
        },
        {
          "group": "Intermédiaire",
          "value": "bg-dark text-white",
          "label": "Dark"
        },
        {
          "group": "Default",
          "value": "bg-body text-body",
          "label": "Body"
        },
        {
          "group": "Alert",
          "value": "bg-success text-white",
          "label": "Success"
        },
        {
          "group": "Alerte",
          "value": "bg-warning text-dark",
          "label": "Warning"
        },
        {
          "group": "Alerte",
          "value": "bg-danger text-white",
          "label": "Danger"
        },
        {
          "group": "Alerte",
          "value": "bg-info text-white",
          "label": "Info"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "bg_gradient",
      "label": "Background gradient",
      "default": false,
      "info": "Does not apply to light colors"
    },
    {
      "type": "header",
      "content": "Animation"
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation effect",
      "default": "animate__zoomIn",
      "options": [
        {
          "group": "Disabled",
          "value": "",
          "label": "No animation"
        },
        {
          "group": "Back",
          "value": "animate__backInDown",
          "label": "Back In Down"
        },
        {
          "group": "Retour",
          "value": "animate__backInLeft",
          "label": "Back In Left"
        },
        {
          "group": "Retour",
          "value": "animate__backInRight",
          "label": "Back In Right"
        },
        {
          "group": "Retour",
          "value": "animate__backInUp",
          "label": "Back In Up"
        },
        {
          "group": "Bounce",
          "value": "animate__bounceIn",
          "label": "Bounce In"
        },
        {
          "group": "Rebond",
          "value": "animate__bounceInDown",
          "label": "Bounce-in-down"
        },
        {
          "group": "Rebond",
          "value": "animate__bounceInLeft",
          "label": "Bounce-in-left"
        },
        {
          "group": "Rebond",
          "value": "animate__bounceInRight",
          "label": "Bounce-in-right"
        },
        {
          "group": "Rebond",
          "value": "animate__bounceInUp",
          "label": "Bounce-in-up"
        },
        {
          "group": "Fade",
          "value": "animate__fadeIn",
          "label": "Fade In"
        },
        {
          "group": "Fondu",
          "value": "animate__fadeInDown",
          "label": "Fade-in-down"
        },
        {
          "group": "Fondu",
          "value": "animate__fadeInDownBig",
          "label": "Fade-in-down Big"
        },
        {
          "group": "Fondu",
          "value": "animate__fadeInLeft",
          "label": "Fade-in-left"
        },
        {
          "group": "Fondu",
          "value": "animate__fadeInLeftBig",
          "label": "Fade-in-left Big"
        },
        {
          "group": "Fondu",
          "value": "animate__fadeInRight",
          "label": "Fade-in-right"
        },
        {
          "group": "Fondu",
          "value": "animate__fadeInRightBig",
          "label": "Fade-in-right Big"
        },
        {
          "group": "Fondu",
          "value": "animate__fadeInUp",
          "label": "Fade-in-up"
        },
        {
          "group": "Fondu",
          "value": "animate__fadeInUpBig",
          "label": "Fade-in-up Big"
        },
        {
          "group": "Fondu",
          "value": "animate__fadeInTopLeft",
          "label": "Fade-in Top Left"
        },
        {
          "group": "Fondu",
          "value": "animate__fadeInTopRight",
          "label": "Fade-in Top Right"
        },
        {
          "group": "Fondu",
          "value": "animate__fadeInBottomLeft",
          "label": "Fade-in Bottom Left"
        },
        {
          "group": "Fondu",
          "value": "animate__fadeInBottomRight",
          "label": "Fade-in Bottom Right"
        },
        {
          "group": "Flip",
          "value": "animate__flip",
          "label": "Flip"
        },
        {
          "group": "Flip",
          "value": "animate__flipInX",
          "label": "Flip In X"
        },
        {
          "group": "Flip",
          "value": "animate__flipInY",
          "label": "Flip In Y"
        },
        {
          "group": "Flip",
          "value": "animate__flipOutX",
          "label": "Flip Out X"
        },
        {
          "group": "Flip",
          "value": "animate__flipOutY",
          "label": "Flip Out Y"
        },
        {
          "group": "Light Speed",
          "value": "animate__lightSpeedInRight",
          "label": "Light Speed In Right"
        },
        {
          "group": "Vitesse Lumière",
          "value": "animate__lightSpeedInLeft",
          "label": "Light Speed In Left"
        },
        {
          "group": "Rotation",
          "value": "animate__rotateIn",
          "label": "Rotate In"
        },
        {
          "group": "Rotation",
          "value": "animate__rotateInDownLeft",
          "label": "Rotate In Down Left"
        },
        {
          "group": "Rotation",
          "value": "animate__rotateInDownRight",
          "label": "Rotate In Down Right"
        },
        {
          "group": "Rotation",
          "value": "animate__rotateInUpLeft",
          "label": "Rotate In Up Left"
        },
        {
          "group": "Rotation",
          "value": "animate__rotateInUpRight",
          "label": "Rotate In Up Right"
        },
        {
          "group": "Zoom",
          "value": "animate__zoomIn",
          "label": "Zoom In"
        },
        {
          "group": "Zoom",
          "value": "animate__zoomInDown",
          "label": "Zoom In Down"
        },
        {
          "group": "Zoom",
          "value": "animate__zoomInLeft",
          "label": "Zoom In Left"
        },
        {
          "group": "Zoom",
          "value": "animate__zoomInRight",
          "label": "Zoom In Right"
        },
        {
          "group": "Zoom",
          "value": "animate__zoomInUp",
          "label": "Zoom In Up"
        },
        {
          "group": "Slide",
          "value": "animate__slideInDown",
          "label": "Slide In Down"
        },
        {
          "group": "Glissement",
          "value": "animate__slideInLeft",
          "label": "Slide In Left"
        },
        {
          "group": "Glissement",
          "value": "animate__slideInRight",
          "label": "Slide In Right"
        },
        {
          "group": "Glissement",
          "value": "animate__slideInUp",
          "label": "Slide In Up"
        }
      ]
    },
    {
      "type": "select",
      "id": "animation_speed",
      "label": "Animation speed",
      "default": "animate__fast",
      "options": [
        {
          "value": "animate__slower",
          "label": "Slower"
        },
        {
          "value": "animate__slow",
          "label": "Slow"
        },
        {
          "value": "",
          "label": "Normal"
        },
        {
          "value": "animate__fast",
          "label": "Fast"
        },
        {
          "value": "animate__faster",
          "label": "Faster"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Top padding",
      "min": 0,
      "max": 6,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Bottom padding",
      "min": 0,
      "max": 6,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "mt",
      "label": "Top margin",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "mb",
      "label": "Bottom margin",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "discount",
      "name": "Discount",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "code",
          "label": "Discount code",
          "default": "SHOPIWEB"
        },
        {
          "type": "select",
          "id": "btn_color",
          "label": "Button color",
          "default": "btn-primary",
          "options": [
            {
              "group": "Normal",
              "value": "btn-link",
              "label": "Link"
            },
            {
              "group": "Normal",
              "value": "btn-light",
              "label": "Light"
            },
            {
              "group": "Normal",
              "value": "btn-dark",
              "label": "Dark"
            },
            {
              "group": "Normal",
              "value": "btn-primary",
              "label": "Primary"
            },
            {
              "group": "Normal",
              "value": "btn-secondary",
              "label": "Secondary"
            },
            {
              "group": "Normal",
              "value": "btn-tertiary",
              "label": "Tertiary"
            },
            {
              "group": "Normal",
              "value": "btn-success",
              "label": "Success"
            },
            {
              "group": "Normal",
              "value": "btn-danger",
              "label": "Danger"
            },
            {
              "group": "Normal",
              "value": "btn-warning",
              "label": "Warning"
            },
            {
              "group": "Normal",
              "value": "btn-info",
              "label": "Info"
            },
            {
              "group": "Outline",
              "value": "btn-outline-light",
              "label": "Outline Light"
            },
            {
              "group": "Contour",
              "value": "btn-outline-dark",
              "label": "Outline Dark"
            },
            {
              "group": "Contour",
              "value": "btn-outline-primary",
              "label": "Outline Primary"
            },
            {
              "group": "Contour",
              "value": "btn-outline-secondary",
              "label": "Outline Secondary"
            },
            {
              "group": "Contour",
              "value": "btn-outline-tertiary",
              "label": "Outline Tertiary"
            },
            {
              "group": "Contour",
              "value": "btn-outline-success",
              "label": "Outline Success"
            },
            {
              "group": "Contour",
              "value": "btn-outline-danger",
              "label": "Outline Danger"
            },
            {
              "group": "Contour",
              "value": "btn-outline-warning",
              "label": "Outline Warning"
            },
            {
              "group": "Contour",
              "value": "btn-outline-info",
              "label": "Outline Info"
            }
          ]
        },
        {
          "type": "select",
          "id": "btn_size",
          "label": "Button size",
          "default": "btn-sm",
          "options": [
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-md",
              "label": "Normal"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ]
        },
        {
          "type": "select",
          "id": "icon",
          "label": "Copy icon",
          "default": "copy",
          "options": [
            {
              "group": "Regular",
              "value": "copy",
              "label": "Copy"
            },
            {
              "group": "Régulier",
              "value": "check",
              "label": "Check"
            },
            {
              "group": "Régulier",
              "value": "gift",
              "label": "Gift"
            },
            {
              "group": "Régulier",
              "value": "tag",
              "label": "Tag"
            },
            {
              "group": "Régulier",
              "value": "tags",
              "label": "Tags"
            },
            {
              "group": "Régulier",
              "value": "clipboard",
              "label": "Clipboard"
            },
            {
              "group": "Filled",
              "value": "gift-fill",
              "label": "Filled Gift"
            },
            {
              "group": "Remplie",
              "value": "tag-fill",
              "label": "Filled Tag"
            },
            {
              "group": "Remplie",
              "value": "tags-fill",
              "label": "Filled Tags"
            },
            {
              "group": "Remplie",
              "value": "clipboard-fill",
              "label": "Filled Clipboard"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "borders",
          "label": "Show borders",
          "default": false
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title",
          "default": "Profiter de notre code PROMO !"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Title tag (SEO)",
          "default": "h2",
          "options": [
            {
              "value": "h1",
              "label": "h1"
            },
            {
              "value": "h2",
              "label": "h2"
            },
            {
              "value": "h3",
              "label": "h3"
            },
            {
              "value": "h4",
              "label": "h4"
            },
            {
              "value": "h5",
              "label": "h5"
            },
            {
              "value": "h6",
              "label": "h6"
            },
            {
              "value": "span",
              "label": "Aucune"
            }
          ]
        },
        {
          "type": "select",
          "id": "title_size",
          "label": "Title size",
          "default": "h3",
          "options": [
            {
              "group": "Large Title",
              "value": "display-1",
              "label": "Extra Extra Large"
            },
            {
              "group": "Titre Supérieur",
              "value": "display-2",
              "label": "Extra Large"
            },
            {
              "group": "Titre Supérieur",
              "value": "display-3",
              "label": "Ultra Large"
            },
            {
              "group": "Titre Supérieur",
              "value": "display-4",
              "label": "Super Large"
            },
            {
              "group": "Standard Title",
              "value": "h1",
              "label": "Very Large"
            },
            {
              "group": "Titre Standard",
              "value": "h2",
              "label": "Large"
            },
            {
              "group": "Titre Standard",
              "value": "h3",
              "label": "Medium"
            },
            {
              "group": "Titre Standard",
              "value": "h4",
              "label": "Small"
            },
            {
              "group": "Titre Standard",
              "value": "h5",
              "label": "Very Small"
            },
            {
              "group": "Titre Standard",
              "value": "h6",
              "label": "Super Small"
            }
          ]
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Shipping gratuite à partir de 100 euros"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Barre de Réduction",
      "category": "Layout"
    }
  ]
}
{% endschema %}
