{% comment %}
---------------------------------------------------------
Copyright © 2019/2024 Theme Shopiweb Premium. Tous droits réservés.
La copie, la modification, la distribution ou l'utilisation
non autorisée de ce code ou de toute partie de celui-ci est formellement interdite.
Les contrevenants seront poursuivis dans toute la mesure permise par la loi.
---------------------------------------------------------
{% endcomment %}

{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

    assign bg_color = section.settings.bg_color

    if section.settings.bg_gradient
        assign bg_color = bg_color | append: ' bg-gradient'
    endif

    case section.settings.img_orientation
        when 'square'
            assign img_width  = 900
            assign img_height = 900
        when 'landscape'
            assign img_width  = 900
            assign img_height = 720
        when 'landscape-x2'
            assign img_width  = 900
            assign img_height = 600
        when 'potrait'
            assign img_width  = 720
            assign img_height = 900
        when 'potrait-x2'
            assign img_width  = 600
            assign img_height = 900
    endcase
%}

{% if section.settings.accordion_style == 'accordion-custom' %}
    {% style %}
    #faq-{{ section.id }} .accordion-custom .accordion-button {
        background-color: {{ section.settings.accordion_custom_bg }} !important;
        color: {{ section.settings.accordion_custom_title_color }};
    }
    #faq-{{ section.id }} .accordion-custom .accordion-button:not(.collapsed) {
        background-color: {{ section.settings.accordion_custom_bg_actif }} !important;
        color: {{ section.settings.accordion_custom_title_color_actif }};
    }
    
    #faq-{{ section.id }} .accordion-custom .accordion-button::after {
        background-color: {{ section.settings.accordion_custom_bg_plus }};
        color: {{ section.settings.accordion_custom_plus_color }};
    }  
    #faq-{{ section.id }} .accordion-custom .accordion-button:not(.collapsed)::after {
        background-color: {{ section.settings.accordion_custom_bg_plus_actif }};
        color: {{ section.settings.accordion_custom_plus_color_actif }};
    } 
    {% endstyle %}
{% endif %}

<section 
    id="faq-{{ section.id }}" 
    class="faq enter-view {% unless section.settings.background_img %} {{ bg_color }} {% endunless %} {{ pt }} {{ pb }} {{ mt }} {{ mb }}"
    
    {% if section.settings.background_img %}
        style="background-image: url('{{ section.settings.background_img.src | image_url }}'); background-size: cover; background-repeat: no-repeat; position: relative;"
    {% endif %}>

    {% if section.settings.background_img %}
        <div class="background-overlay" style="background: rgba(0, 0, 0, {{ section.settings.background_img_opacity }});"></div>
        <div class="background-overlay-blur" style="backdrop-filter: blur({{ section.settings.background_img_blur }}px);"></div>
    {% endif %}
  
    <div class="container {% if section.settings.background_img %}{{ bg_color | split: ' ' | last }}{% endif %}"
         style="position: relative; z-index: 1;">
        <div class="mx-auto" style="max-width: {{ section.settings.max_width }}px">
            <div class="row align-items-center {{ section.settings.img_align_desktop }}">
                {% unless section.settings.image == blank %}
                    <div class="col-lg-6 mb-8 mb-lg-0">
                        <div 
                            class="animate__animated animate__faster opacity-0"
                            data-animate-class="animate__fadeIn"
                            style="animation-delay: 0ms">
                            <img
                                class="img-fluid rounded {{ section.settings.img_thumbnail }} {{ section.settings.shadow_sp }} {{ section.settings.border_color }}"
                                style="border-width: {{ section.settings.border_width }}px;"
                                src="{{ section.settings.image.src | image_url: width: img_width, height: img_height, crop: section.settings.img_crop }}"
                                alt="{{ section.settings.image.alt | escape }}"
                                width="{{ img_width }}"
                                height="{{ img_height }}"
                                loading="lazy">
                        </div>
                    </div>
                {% endunless %}
                <div class="{% if section.settings.image == blank %}col-lg-12{% else %}col-lg-6{% endif %} {{ section.settings.text_align }}">
                    {% render 'section-header' %}
                    <div {% if section.settings.accordion_style == 'accordion-flush' %} style="border-radius: unset!important;" {% endif %}
                         {% if section.settings.accordion_style == 'accordion-custom' %} style="border-radius: unset!important; box-shadow: unset!important;" {% endif %}
                        id="faq-accordion-{{ section.id }}" 
                        class="accordion {{ section.settings.accordion_style }} {{ section.settings.img_thumbnail_faq }} {{ section.settings.shadow_sp_faq }} {{ section.settings.border_color_faq }}"
                        style="border-width: {{ section.settings.border_width_faq }}px; border-radius: var(--bs-border-radius)!important;">
                        {% for block in section.blocks %}
                            <div class="accordion-item" {{ block.shopify_attributes }}>
                                <{{ block.settings.heading_tag }} 
                                    id="faq-accordion-{{ section.id }}-heading-{{ forloop.index }}" 
                                    class="accordion-header {% if section.settings.accordion_style == 'accordion-custom' %} {{ section.settings.shadow_sp_faq }} {% endif %}">
                                    <button 
                                        class="accordion-button {% unless forloop.first %}collapsed{% endunless %}" 
                                        type="button" 
                                        data-bs-toggle="collapse" 
                                        data-bs-target="#faq-accordion-{{ section.id }}-collapse-{{ forloop.index }}" 
                                        aria-expanded="{% if forloop.first and section.settings.show_expanded %}true{% else %}false{% endif %}"
                                        aria-controls="faq-accordion-{{ section.id }}-collapse-{{ forloop.index }}">
                                        <div class="d-flex align-items-center">
                                            {% unless block.settings.icon == blank %}
                                                <div class="me-3">
                                                    {{ block.settings.icon }}
                                                </div>
                                            {% endunless %}
                                            {{ block.settings.title | escape }}
                                        </div>
                                    </button>
                                </{{ block.settings.heading_tag }}>
                                <div 
                                    id="faq-accordion-{{ section.id }}-collapse-{{ forloop.index }}" 
                                    class="accordion-collapse collapse {% if forloop.first and section.settings.show_expanded %}show{% endif %}" 
                                    aria-labelledby="faq-accordion-{{ section.id }}-heading-{{ forloop.index }}" 
                                    data-bs-parent="#faq-accordion-{{ section.id }}">
                                    <div class="accordion-body rte pt-4 pb-6">
                                        <div class="row align-items-center {{ block.settings.img_align_desktop }}">
                                            {% unless block.settings.img == blank %}
                                                {% liquid
                                                        case block.settings.img_orientation
                                                            when 'square'
                                                                assign img_width  = 900
                                                                assign img_height = 900
                                                            when 'landscape'
                                                                assign img_width  = 900
                                                                assign img_height = 720
                                                            when 'landscape-x2'
                                                                assign img_width  = 900
                                                                assign img_height = 600
                                                            when 'potrait'
                                                                assign img_width  = 720
                                                                assign img_height = 900
                                                            when 'potrait-x2'
                                                                assign img_width  = 600
                                                                assign img_height = 900
                                                        endcase
                                                %}
                                                <div class="col-lg-6 mb-6 mb-lg-0">
                                                    <img
                                                        class="img-fluid rounded {{ block.settings.img_thumbnail }} {{ block.settings.shadow_sp }} {{ block.settings.border_color }}"
                                                        style="border-width: {{ block.settings.border_width }}px;"
                                                        src="{{ block.settings.img.src | image_url: width: img_width, height: img_height, crop: block.settings.img_crop }}"
                                                        alt="{{ block.settings.img.alt | escape }}"
                                                        width="{{ img_width }}"
                                                        height="{{ img_height }}"
                                                        loading="lazy">
                                                </div>
                                            {% endunless %}
                                            <div class="{% if block.settings.img == blank %}col-lg-12{% else %}col-lg-6{% endif %}">
                                                {{ block.settings.description }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "FAQPage",
        "mainEntity": [
        {% for block in section.blocks %}
            {
                "@type": "Question",
                "name": {{ block.settings.title | json }},
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": {{ block.settings.description | json }}
                }
            }{% unless forloop.last %},{% endunless %}
        {% endfor %}
        ]
    }
</script>

{% schema %}
{
  "name": "F.A.Q",
  "settings": [
    {
      "type": "paragraph",
      "content": "Documentation FR : [F.A.Q by Shopiweb](https://www.docs.shopiweb.fr/theme-premium/documentation/sections/f.a.q)"
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "image_picker",
      "id": "background_img",
      "label": "Image d'arrière plan",
      "info": "If no image is selected, the background color options below will be applied."
    },
    {
      "type": "range",
      "id": "background_img_opacity",
      "label": "Opacité",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "default": 0.7
    },
    {
      "type": "range",
      "id": "background_img_blur",
      "label": "Flou",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 0
    },
    {
      "type": "select",
      "id": "bg_color",
      "label": "Background color",
      "default": "bg-body text-body",
      "options": [
        {
          "group": "Principal",
          "value": "bg-primary text-white",
          "label": "Primaire"
        },
        {
          "group": "Principal",
          "value": "bg-secondary text-white",
          "label": "Secondaire"
        },
        {
          "group": "Principal",
          "value": "bg-tertiary text-white",
          "label": "Tertiaire"
        },
        {
          "group": "Intermédiaire",
          "value": "bg-white text-dark",
          "label": "Blanc"
        },
        {
          "group": "Intermédiaire",
          "value": "bg-light text-body",
          "label": "Claire"
        },
        {
          "group": "Intermédiaire",
          "value": "bg-dark text-white",
          "label": "Sombre"
        },
        {
          "group": "Par défaut",
          "value": "bg-body text-body",
          "label": "Corps (body)"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "bg_gradient",
      "label": "Background gradient",
      "default": false,
      "info": "Ne s'applique pas aux couleurs claires"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Largeur max. (px)",
      "default": "991"
    },
    {
      "type": "select",
      "id": "accordion_style",
      "label": "Style rangée réductible",
      "default": "accordion-default",
      "info": "Si vous choissisez Simple (sans bordure), veuillez selectionner la color de la bordure sur (Default)",
      "options": [
        {
          "value": "accordion-default",
          "label": "Default"
        },
        {
          "value": "accordion-flush",
          "label": "Sans bordure"
        },
        {
          "value": "accordion-custom",
          "label": "Personnalisé"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_expanded",
      "label": "Afficher la première question développée",
      "default": true
    },
    {
      "type": "header",
      "content": "Options de Personnalisation"
    },
    {
      "type": "paragraph",
      "content": "Les options de personnalisation des couleurs sont exclusivement disponibles pour le style de rangée réductible personnalisé."
    },
    {
      "type": "color",
      "id": "accordion_custom_bg",
      "label": "Background Color (Closed)",
      "default": "#ffffff",
      "info": "Background color when the accordion row is closed."
    },
    {
      "type": "color",
      "id": "accordion_custom_title_color",
      "label": "Title Color (Closed)",
      "default": "#212529",
      "info": "Title color of the question when the accordion row is closed."
    },
    {
      "type": "color",
      "id": "accordion_custom_bg_plus",
      "label": "Badge Color + (Closed)",
      "default": "#f56900",
      "info": "Badge color + when the accordion row is closed."
    },
    {
      "type": "color",
      "id": "accordion_custom_plus_color",
      "label": "Sign Color + (Closed)",
      "default": "#ffffff",
      "info": "Sign color + when the accordion row is closed."
    },
    {
      "type": "color",
      "id": "accordion_custom_bg_actif",
      "label": "Background Color (Open)",
      "default": "#f56900",
      "info": "Background color when the accordion row is open."
    },
    {
      "type": "color",
      "id": "accordion_custom_title_color_actif",
      "label": "Title Color (Open)",
      "default": "#ffffff",
      "info": "Title color of the question when the accordion row is open."
    },
    {
      "type": "color",
      "id": "accordion_custom_bg_plus_actif",
      "label": "Badge Color - (Open)",
      "default": "#ffffff",
      "info": "Badge color - when the accordion row is open."
    },
    {
      "type": "color",
      "id": "accordion_custom_plus_color_actif",
      "label": "Sign Color - (Open)",
      "default": "#f56900",
      "info": "Sign color - when the accordion row is open."
    },
    {
      "type": "select",
      "id": "img_thumbnail_faq",
      "label": "FAQ border",
      "default": "img-thumbnail",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "img-thumbnail",
          "label": "Border"
        }
      ]
    },
    {
      "type": "select",
      "id": "border_color_faq",
      "label": "FAQ border color",
      "options": [
        {
          "value": "",
          "label": "Default"
        },
        {
          "value": "border-primary",
          "label": "Primary"
        },
        {
          "value": "border-secondary",
          "label": "Secondary"
        },
        {
          "value": "border-tertiary",
          "label": "Tertiary"
        },
        {
          "value": "border-dark",
          "label": "Dark"
        },
        {
          "value": "border-success",
          "label": "Success"
        },
        {
          "value": "border-warning",
          "label": "Warning"
        },
        {
          "value": "border-danger",
          "label": "Danger"
        },
        {
          "value": "border-info",
          "label": "Info"
        }
      ],
      "default": ""
    },
    {
      "type": "range",
      "id": "border_width_faq",
      "label": "FAQ border width",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 1
    },
    {
      "type": "select",
      "id": "shadow_sp_faq",
      "label": "Shadow",
      "options": [
        {
          "value": "shadow-none",
          "label": "None"
        },
        {
          "value": "shadow-1",
          "label": "Light shadow"
        },
        {
          "value": "shadow-2",
          "label": "Partial shadow"
        },
        {
          "value": "shadow-3",
          "label": "Deep shadow"
        },
        {
          "value": "shadow-4",
          "label": "Full shadow"
        }
      ],
      "default": "shadow-1"
    },
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text alignment",
      "default": "text-center",
      "options": [
        {
          "value": "text-start",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "subtitle_img",
      "label": "Caption image"
    },
    {
      "type": "text",
      "id": "brand_image_size",
      "label": "Image width/height (px)",
      "default": "60"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Caption text"
    },
    {
      "type": "select",
      "id": "subtitle_size",
      "label": "Caption size",
      "default": "fs-5",
      "options": [
        {
          "group": "Standard caption",
          "value": "fs-1",
          "label": "Extra large"
        },
        {
          "group": "Standard caption",
          "value": "fs-2",
          "label": "Super large"
        },
        {
          "group": "Standard caption",
          "value": "fs-3",
          "label": "Very large"
        },
        {
          "group": "Standard caption",
          "value": "fs-4",
          "label": "Large"
        },
        {
          "group": "Standard caption",
          "value": "fs-5",
          "label": "Medium"
        },
        {
          "group": "Standard caption",
          "value": "fs-6",
          "label": "Small"
        }
      ]
    },
    {
      "type": "color",
      "id": "color_caption",
      "label": "Caption color",
      "default": "#6c757d"
    },
    {
      "type": "text",
      "id": "title_overlay",
      "label": "Overlay title",
      "info": "Visible on desktop, hidden on mobile for better readability."
    },
    {
      "type": "select",
      "id": "title_overlay_size",
      "label": "Overlay title size",
      "default": "3",
      "options": [
        {
          "group": "Overlay title",
          "value": "4",
          "label": "Large"
        },
        {
          "group": "Overlay title",
          "value": "3",
          "label": "Medium"
        },
        {
          "group": "Overlay title",
          "value": "2",
          "label": "Small"
        }
      ]
    },
    {
      "type": "color",
      "id": "color_title_overlay",
      "label": "Overlay title color",
      "default": "#000000"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title",
      "default": "F.A.Q"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "Title tag (SEO)",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "h1"
        },
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "h3",
          "label": "h3"
        },
        {
          "value": "h4",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        },
        {
          "value": "h6",
          "label": "h6"
        },
        {
          "value": "span",
          "label": "Aucune"
        }
      ]
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "Title size",
      "default": "h2",
      "options": [
        {
          "group": "Superior title",
          "value": "display-1",
          "label": "Extra extra large"
        },
        {
          "group": "Superior title",
          "value": "display-2",
          "label": "Extra large"
        },
        {
          "group": "Superior title",
          "value": "display-3",
          "label": "Ultra large"
        },
        {
          "group": "Superior title",
          "value": "display-4",
          "label": "Super large"
        },
        {
          "group": "Standard title",
          "value": "h1",
          "label": "Very large"
        },
        {
          "group": "Standard title",
          "value": "h2",
          "label": "Large"
        },
        {
          "group": "Standard title",
          "value": "h3",
          "label": "Medium"
        },
        {
          "group": "Standard title",
          "value": "h4",
          "label": "Small"
        },
        {
          "group": "Standard title",
          "value": "h5",
          "label": "Very small"
        },
        {
          "group": "Standard title",
          "value": "h6",
          "label": "Super small"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Add an optional description to this section</p>"
    },
    {
      "type": "select",
      "id": "description_size",
      "label": "Description size",
      "default": "fs-5",
      "options": [
        {
          "group": "Standard description",
          "value": "fs-1",
          "label": "Extra large"
        },
        {
          "group": "Standard description",
          "value": "fs-2",
          "label": "Super large"
        },
        {
          "group": "Standard description",
          "value": "fs-3",
          "label": "Very large"
        },
        {
          "group": "Standard description",
          "value": "fs-4",
          "label": "Large"
        },
        {
          "group": "Standard description",
          "value": "fs-5",
          "label": "Medium"
        },
        {
          "group": "Standard description",
          "value": "fs-6",
          "label": "Small"
        }
      ]
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "Note: The image is optional and usually not required. You may need to adjust the 'Max width' setting above if you set an image."
    },
    {
      "type": "select",
      "id": "img_orientation",
      "label": "Image orientation",
      "default": "landscape",
      "options": [
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "landscape",
          "label": "Landscape"
        },
        {
          "value": "landscape-x2",
          "label": "Landscape 2x"
        },
        {
          "value": "potrait",
          "label": "Portrait"
        },
        {
          "value": "potrait-x2",
          "label": "Portrait 2x"
        }
      ]
    },
    {
      "type": "select",
      "id": "img_crop",
      "label": "Image crop",
      "default": "center",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "img_thumbnail",
      "label": "Image border",
      "default": "img-thumbnail",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "img-thumbnail",
          "label": "Border"
        }
      ]
    },
    {
      "type": "select",
      "id": "border_color",
      "label": "Border color",
      "options": [
        {
          "value": "",
          "label": "Default"
        },
        {
          "value": "border-primary",
          "label": "Primary"
        },
        {
          "value": "border-secondary",
          "label": "Secondary"
        },
        {
          "value": "border-tertiary",
          "label": "Tertiary"
        },
        {
          "value": "border-dark",
          "label": "Dark"
        },
        {
          "value": "border-success",
          "label": "Success"
        },
        {
          "value": "border-warning",
          "label": "Warning"
        },
        {
          "value": "border-danger",
          "label": "Danger"
        },
        {
          "value": "border-info",
          "label": "Info"
        }
      ],
      "default": ""
    },
    {
      "type": "range",
      "id": "border_width",
      "label": "Border width",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 1
    },
    {
      "type": "select",
      "id": "shadow_sp",
      "label": "Shadow",
      "options": [
        {
          "value": "shadow-none",
          "label": "None"
        },
        {
          "value": "shadow-1",
          "label": "Light shadow"
        },
        {
          "value": "shadow-2",
          "label": "Partial shadow"
        },
        {
          "value": "shadow-3",
          "label": "Deep shadow"
        },
        {
          "value": "shadow-4",
          "label": "Full shadow"
        }
      ],
      "default": "shadow-1"
    },
    {
      "type": "select",
      "id": "img_align_desktop",
      "label": "Image alignment (desktop)",
      "default": "flex-lg-row",
      "options": [
        {
          "value": "flex-lg-row",
          "label": "Left"
        },
        {
          "value": "flex-lg-row-reverse",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Top padding",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Bottom padding",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "mt",
      "label": "Top margin",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "mb",
      "label": "Bottom margin",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Item",
      "settings": [
        {
          "type": "html",
          "id": "icon",
          "label": "Icon code (SVG)",
          "info": "You can get SVG icons from libraries such as [Bootstrap Icons](https://icons.getbootstrap.com)"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Question"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Title tag (SEO)",
          "default": "h3",
          "options": [
            {
              "value": "h1",
              "label": "h1"
            },
            {
              "value": "h2",
              "label": "h2"
            },
            {
              "value": "h3",
              "label": "h3"
            },
            {
              "value": "h4",
              "label": "h4"
            },
            {
              "value": "h5",
              "label": "h5"
            },
            {
              "value": "h6",
              "label": "h6"
            },
            {
              "value": "span",
              "label": "None"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Answer"
        },
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "img_orientation",
          "label": "Image orientation",
          "default": "landscape",
          "options": [
            {
              "value": "square",
              "label": "Square"
            },
            {
              "value": "landscape",
              "label": "Landscape"
            },
            {
              "value": "landscape-x2",
              "label": "Landscape 2x"
            },
            {
              "value": "potrait",
              "label": "Portrait"
            },
            {
              "value": "potrait-x2",
              "label": "Portrait 2x"
            }
          ]
        },
        {
          "type": "select",
          "id": "img_crop",
          "label": "Image crop",
          "default": "center",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "img_thumbnail",
          "label": "Image border",
          "default": "img-thumbnail",
          "options": [
            {
              "value": "",
              "label": "None"
            },
            {
              "value": "img-thumbnail",
              "label": "Border"
            }
          ]
        },
        {
          "type": "select",
          "id": "border_color",
          "label": "Border color",
          "options": [
            {
              "value": "",
              "label": "Default"
            },
            {
              "value": "border-primary",
              "label": "Primary"
            },
            {
              "value": "border-secondary",
              "label": "Secondary"
            },
            {
              "value": "border-tertiary",
              "label": "Tertiary"
            },
            {
              "value": "border-dark",
              "label": "Dark"
            },
            {
              "value": "border-success",
              "label": "Success"
            },
            {
              "value": "border-warning",
              "label": "Warning"
            },
            {
              "value": "border-danger",
              "label": "Danger"
            },
            {
              "value": "border-info",
              "label": "Info"
            }
          ],
          "default": ""
        },
        {
          "type": "range",
          "id": "border_width",
          "label": "Border width",
          "min": 0,
          "max": 10,
          "step": 1,
          "default": 1
        },
        {
          "type": "select",
          "id": "shadow_sp",
          "label": "Shadow",
          "options": [
            {
              "value": "shadow-none",
              "label": "None"
            },
            {
              "value": "shadow-1",
              "label": "Light shadow"
            },
            {
              "value": "shadow-2",
              "label": "Partial shadow"
            },
            {
              "value": "shadow-3",
              "label": "Deep shadow"
            },
            {
              "value": "shadow-4",
              "label": "Full shadow"
            }
          ],
          "default": "shadow-1"
        },
        {
          "type": "select",
          "id": "img_align_desktop",
          "label": "Image alignment (desktop)",
          "default": "flex-lg-row",
          "options": [
            {
              "value": "flex-lg-row",
              "label": "Left"
            },
            {
              "value": "flex-lg-row-reverse",
              "label": "Right"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "F.A.Q",
      "category": "Text",
      "blocks": [
        {
          "type": "text",
          "settings": {
            "title": "Where do you ship your products?",
            "description": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>"
          }
        },
        {
          "type": "text",
          "settings": {
            "title": "How long does it take to receive my order?",
            "description": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>"
          }
        },
        {
          "type": "text",
          "settings": {
            "title": "What payment methods are accepted?",
            "description": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>"
          }
        },
        {
          "type": "text",
          "settings": {
            "title": "How can I track my order?",
            "description": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>"
          }
        },
        {
          "type": "text",
          "settings": {
            "title": "Can I send a gift to someone else?",
            "description": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>"
          }
        },
        {
          "type": "text",
          "settings": {
            "title": "How can I get a refund for my order?",
            "description": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}