{% comment %}
---------------------------------------------------------
Copyright © 2019/2024 Theme Shopiweb Premium. Tous droits réservés.
La copie, la modification, la distribution ou l'utilisation
non autorisée de ce code ou de toute partie de celui-ci est formellement interdite.
Les contrevenants seront poursuivis dans toute la mesure permise par la loi.
---------------------------------------------------------
{% endcomment %}

{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

    assign bg_color = section.settings.bg_color

    if section.settings.bg_gradient
        assign bg_color = bg_color | append: ' bg-gradient'
    endif

    assign btn_shadow_sp = settings.btn_shadow_sp
%}

<div 
    id="html-section-{{ section.id }}" 
    class="html-section enter-view {{ bg_color }} {{ section.settings.text_align }} {{ pt }} {{ pb }} {{ mt }} {{ mb }}">
    <div class="{{ section.settings.container }}">
        {% render 'section-header' %}
        {{ section.settings.html }}
        {% unless section.settings.btn_text == blank %}
          <div class="html-btn d-inline-flex mt-8 mb-7 animate__animated animate__faster opacity-0"
               {% if settings.effect_apply_btn_enable %} 
                 data-animate-class="{{ settings.animation_btn_name }}"
                 style="animation-delay: 800ms;"
               {% endif %}>
               <a 
                 class="btn {{ section.settings.btn_color }} {{ btn_shadow_sp }} {{ section.settings.btn_size }}"  
                 href="{{ section.settings.btn_url }}">
                {{ section.settings.btn_text }}
               </a>
          </div>
        {% endunless %}
    </div>
</div>
  
{% schema %}
{
  "name": "🏆 HTML/Liquid",
  "settings": [
    {
      "type": "header",
      "content": "🏆 Liquid/HTML Application",
      "info": "👉 Shopiweb Premium Application Version"
    },
    {
      "type": "paragraph",
      "content": "Documentation EN: [HTML/Liquid by Shopiweb](https://www.docs.shopiweb.fr/theme-premium/documentation/sections/html-liquid)"
    },
    {
      "type": "liquid",
      "id": "html",
      "label": "HTML / LIQUID code",
      "default": "<p class=\"bg-light rounded border p-4\">Today's date: <b>{{ 'now' | date: \"%d %b %Y\" }}</b></p>",
      "info": "Note: You can use HTML and Liquid code."
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "bg_color",
      "label": "Background color",
      "default": "bg-body text-body",
      "options": [
        {
          "group": "Main",
          "value": "bg-primary text-white",
          "label": "Primary"
        },
        {
          "group": "Main",
          "value": "bg-secondary text-white",
          "label": "Secondary"
        },
        {
          "group": "Main",
          "value": "bg-tertiary text-white",
          "label": "Tertiary"
        },
        {
          "group": "Intermediate",
          "value": "bg-white text-dark",
          "label": "White"
        },
        {
          "group": "Intermediate",
          "value": "bg-light text-body",
          "label": "Light"
        },
        {
          "group": "Intermediate",
          "value": "bg-dark text-white",
          "label": "Dark"
        },
        {
          "group": "Default",
          "value": "bg-body text-body",
          "label": "Body (default)"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "bg_gradient",
      "label": "Background gradient",
      "default": false,
      "info": "Does not apply to light colors"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Container",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Container"
        },
        {
          "value": "container-fluid",
          "label": "Large"
        },
        {
          "value": "",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text alignment",
      "default": "text-center",
      "options": [
        {
          "value": "text-start",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "image_picker",
      "id": "subtitle_img",
      "label": "Caption image"
    },
    {
      "type": "text",
      "id": "brand_image_size",
      "label": "Image width/height (px)",
      "default": "60"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Caption text"
    },
    {
      "type": "select",
      "id": "subtitle_size",
      "label": "Caption size",
      "default": "fs-5",
      "options": [
        {
          "group": "Standard caption",
          "value": "fs-1",
          "label": "Extra Large"
        },
        {
          "group": "Standard caption",
          "value": "fs-2",
          "label": "Super Large"
        },
        {
          "group": "Standard caption",
          "value": "fs-3",
          "label": "Very Large"
        },
        {
          "group": "Standard caption",
          "value": "fs-4",
          "label": "Large"
        },
        {
          "group": "Standard caption",
          "value": "fs-5",
          "label": "Medium"
        },
        {
          "group": "Standard caption",
          "value": "fs-6",
          "label": "Small"
        }
      ]
    },
    {
      "type": "color",
      "id": "color_caption",
      "label": "Caption color",
      "default": "#6c757d"
    },
    {
      "type": "text",
      "id": "title_overlay",
      "label": "Overlay title",
      "info": "Visible on desktop, hidden on mobile for readability."
    },
    {
      "type": "select",
      "id": "title_overlay_size",
      "label": "Overlay title size",
      "default": "3",
      "options": [
        {
          "group": "Overlay title",
          "value": "4",
          "label": "Large"
        },
        {
          "group": "Overlay title",
          "value": "3",
          "label": "Medium"
        },
        {
          "group": "Overlay title",
          "value": "2",
          "label": "Small"
        }
      ]
    },
    {
      "type": "color",
      "id": "color_title_overlay",
      "label": "Overlay title color",
      "default": "#000000"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title",
      "default": "HTML / LIQUID code"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "Title tag (SEO)",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "h1"
        },
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "h3",
          "label": "h3"
        },
        {
          "value": "h4",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        },
        {
          "value": "h6",
          "label": "h6"
        },
        {
          "value": "span",
          "label": "None"
        }
      ]
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "Title size",
      "default": "h2",
      "options": [
        {
          "group": "Superior title",
          "value": "display-1",
          "label": "Extra Extra Large"
        },
        {
          "group": "Superior title",
          "value": "display-2",
          "label": "Extra Large"
        },
        {
          "group": "Superior title",
          "value": "display-3",
          "label": "Ultra Large"
        },
        {
          "group": "Superior title",
          "value": "display-4",
          "label": "Super Large"
        },
        {
          "group": "Standard title",
          "value": "h1",
          "label": "Very Large"
        },
        {
          "group": "Standard title",
          "value": "h2",
          "label": "Large"
        },
        {
          "group": "Standard title",
          "value": "h3",
          "label": "Medium"
        },
        {
          "group": "Standard title",
          "value": "h4",
          "label": "Small"
        },
        {
          "group": "Standard title",
          "value": "h5",
          "label": "Very Small"
        },
        {
          "group": "Standard title",
          "value": "h6",
          "label": "Super Small"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Write a catchy text for this section</p>"
    },
    {
      "type": "select",
      "id": "description_size",
      "label": "Description size",
      "default": "fs-5",
      "options": [
        {
          "group": "Standard description",
          "value": "fs-1",
          "label": "Extra Large"
        },
        {
          "group": "Standard description",
          "value": "fs-2",
          "label": "Super Large"
        },
        {
          "group": "Standard description",
          "value": "fs-3",
          "label": "Very Large"
        },
        {
          "group": "Standard description",
          "value": "fs-4",
          "label": "Large"
        },
        {
          "group": "Standard description",
          "value": "fs-5",
          "label": "Medium"
        },
        {
          "group": "Standard description",
          "value": "fs-6",
          "label": "Small"
        }
      ]
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button text",
      "info": "Leave blank to disable"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button URL"
    },
    {
      "type": "select",
      "id": "btn_color",
      "label": "Button color",
      "default": "btn-primary",
      "options": [
        {
          "group": "Normal",
          "value": "btn-link",
          "label": "Link"
        },
        {
          "group": "Normal",
          "value": "btn-light",
          "label": "Light"
        },
        {
          "group": "Normal",
          "value": "btn-dark",
          "label": "Dark"
        },
        {
          "group": "Normal",
          "value": "btn-primary",
          "label": "Primary"
        },
        {
          "group": "Normal",
          "value": "btn-secondary",
          "label": "Secondary"
        },
        {
          "group": "Normal",
          "value": "btn-tertiary",
          "label": "Tertiary"
        },
        {
          "group": "Normal",
          "value": "btn-success",
          "label": "Success"
        },
        {
          "group": "Normal",
          "value": "btn-danger",
          "label": "Danger"
        },
        {
          "group": "Normal",
          "value": "btn-warning",
          "label": "Warning"
        },
        {
          "group": "Normal",
          "value": "btn-info",
          "label": "Info"
        },
        {
          "group": "Outline",
          "value": "btn-outline-light",
          "label": "Outline Light"
        },
        {
          "group": "Outline",
          "value": "btn-outline-dark",
          "label": "Outline Dark"
        },
        {
          "group": "Outline",
          "value": "btn-outline-primary",
          "label": "Outline Primary"
        },
        {
          "group": "Outline",
          "value": "btn-outline-secondary",
          "label": "Outline Secondary"
        },
        {
          "group": "Outline",
          "value": "btn-outline-tertiary",
          "label": "Outline Tertiary"
        },
        {
          "group": "Outline",
          "value": "btn-outline-success",
          "label": "Outline Success"
        },
        {
          "group": "Outline",
          "value": "btn-outline-danger",
          "label": "Outline Danger"
        },
        {
          "group": "Outline",
          "value": "btn-outline-warning",
          "label": "Outline Warning"
        },
        {
          "group": "Outline",
          "value": "btn-outline-info",
          "label": "Outline Info"
        }
      ]
    },
    {
      "type": "select",
      "id": "btn_size",
      "label": "Button size",
      "default": "btn-md",
      "options": [
        {
          "value": "btn-sm",
          "label": "Small"
        },
        {
          "value": "btn-md",
          "label": "Normal"
        },
        {
          "value": "btn-lg",
          "label": "Large"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Top padding",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Bottom padding",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "mt",
      "label": "Top margin",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "mb",
      "label": "Bottom margin",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "🏆 HTML/Liquid",
      "category": "General"
    }
  ]
}
{% endschema %}