{% comment %}
---------------------------------------------------------
Copyright © 2019/2024 Theme Shopiweb Premium. Tous droits réservés.
La copie, la modification, la distribution ou l'utilisation
non autorisée de ce code ou de toute partie de celui-ci est formellement interdite.
Les contrevenants seront poursuivis dans toute la mesure permise par la loi.
---------------------------------------------------------
{% endcomment %}

{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

    assign bg_color = section.settings.bg_color

    assign block_count = 0

    if section.settings.bg_gradient
        assign bg_color = bg_color | append: ' bg-gradient'
    endif
    
    assign thickness_ratio = '0.0' | append: section.settings.progress_circle_border_thickness_ratio

    if section.settings.progress_circle_border_thickness_ratio > 9
        assign thickness_ratio = section.settings.progress_circle_border_thickness_ratio | prepend: '0.'
    endif

  assign borders_top_bottom = section.settings.progress_circle_borders

    assign btn_shadow_sp = settings.btn_shadow_sp

    case section.settings.img_orientation
        when 'square'
            assign img_width  = 900
            assign img_height = 900
        when 'landscape'
            assign img_width  = 900
            assign img_height = 720
        when 'landscape-x2'
            assign img_width  = 900
            assign img_height = 600
        when 'potrait'
            assign img_width  = 720
            assign img_height = 900
        when 'potrait-x2'
            assign img_width  = 600
            assign img_height = 900
    endcase

    assign brand_img_width = section.settings.brand_image_size

%}

<section 
    id="image-text-counters-{{ section.id }}" 
    class="image-text-counters enter-view overflow-hidden {% unless section.settings.background_img %} {{ bg_color }} {% endunless %} {{ section.settings.text_align }} {{ pt }} {{ pb }} {{ mt }} {{ mb }}" 
    
    {% if section.settings.background_img %}
        style="background-image: url('{{ section.settings.background_img.src | image_url }}'); background-size: cover; background-repeat: no-repeat; position: relative;"
    {% endif %}>
    
    {% if section.settings.background_img %}
        <div class="background-overlay" style="background: rgba(0, 0, 0, {{ section.settings.background_img_opacity }});"></div>
        <div class="background-overlay-blur" style="backdrop-filter: blur({{ section.settings.background_img_blur }}px);"></div>
    {% endif %}
  
    <div class="{{ section.settings.container }} {% if section.settings.background_img %}{{ bg_color | split: ' ' | last }}{% endif %}" 
         style="position: relative; z-index: 1; max-width: {{ section.settings.max_width }}px;">

        <div class="row align-items-center {{ section.settings.img_align_desktop }}">
            <div class="mb-8 mb-lg-0 {% if section.settings.desktop_image_width == 'small' %}col-lg-4{% elsif section.settings.desktop_image_width == 'large' %}col-lg-8{% else %}col-lg-6{% endif %}">
                <div 
                    class="animate__animated animate__faster opacity-0"
                    data-animate-class="animate__fadeIn"
                    style="animation-delay: 0ms">
                    {% if section.settings.image == blank %}
                        {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg rounded' }}
                    {% else %}
                        <img
                            class="img-fluid rounded {{ section.settings.img_thumbnail }} {{ section.settings.shadow_sp }} {{ section.settings.border_color }}"
                            style="border-width: {{ section.settings.border_width }}px;"
                            src="{{ section.settings.image.src | image_url: width: img_width, height: img_height, crop: section.settings.img_crop }}"
                            alt="{{ section.settings.image.alt | escape }}"
                            width="{{ img_width }}"
                            height="{{ img_height }}"
                            loading="lazy">
                    {% endif %}
                </div>
            </div>
            <div class="{% if section.settings.desktop_image_width == 'small' %}col-lg-8{% elsif section.settings.desktop_image_width == 'large' %}col-lg-4{% else %}col-lg-6{% endif %}"
                 style="--progress-circle-size: {{ section.settings.progress_circle_size }}px; --progress-circle-border-thickness: calc(var(--progress-circle-size) * {{ thickness_ratio }});">

                {% unless section.settings.subtitle_img == blank %}
                    <div 
                        class="animate__animated animate__faster opacity-0"
                        {% if settings.effect_apply_caption_enable %}
                          data-animate-class="{{ settings.animation_caption_name }}"
                          style="animation-delay: 1200ms;"
                        {% endif %}>
                            <img
                                class="img-fluid mb-5"
                                src="{{ section.settings.subtitle_img.src | image_url: width: brand_img_width }}"
                                alt="{{ section.settings.subtitle_img.alt | escape }}"
                                width="{{ brand_img_width }}"
                                height="auto"
                                loading="lazy">
                        </div>
                {% endunless %}

                {% unless section.settings.subtitle == blank %}
                    <div 
                        class="animate__animated animate__faster opacity-0"
                        {% if settings.effect_apply_caption_enable %}
                          data-animate-class="{{ settings.animation_caption_name }}"
                          style="animation-delay: 1000ms;"
                        {% endif %}>
                        <p class="subtitle text-uppercase fw-500 mb-3 {{ section.settings.subtitle_size }}"
                            style="color:{{ section.settings.color_caption }};">
                            {{ section.settings.subtitle }}
                        </p>
                    </div>
                {% endunless %} 

                {% unless section.settings.title == blank %}
                    <div 
                        class="animate__animated animate__faster opacity-0"
                        {% if settings.effect_apply_title_enable %}
                          data-animate-class="{{ settings.animation_title_name }}"
                          style="animation-delay: 200ms;"
                        {% endif %}>
                        <{{ section.settings.heading_tag }} class="title mb-4 {{ section.settings.title_size }}">
                            {{ section.settings.title }}
                            {% if settings.custom_svg_h2 != blank %}
                            <div class="h2_svg animate__animated animate__faster opacity-0"
                                {% if settings.effect_apply_svg_enable %} 
                                  data-animate-class="{{ settings.animation_svg_name }}"
                                  style="animation-delay: 400ms;"
                                {% endif %}
                            >
                              <span style="fill:{{ settings.color_svg_h2 }}; width:{{ settings.width_svg_h2 }}rem;"> {{ settings.custom_svg_h2 }}</span>
                            </div>
                          {% else %}
                            {% if settings.svg_h2 != 'none' %}
                              <div class="h2_svg mb-4 animate__animated animate__faster opacity-0"
                                    {% if settings.effect_apply_svg_enable %} 
                                      data-animate-class="{{ settings.animation_svg_name }}"
                                      style="animation-delay: 400ms;"
                                    {% endif %}>
                                <span style="fill:{{ settings.color_svg_h2 }}; width:{{ settings.width_svg_h2 }}rem;"> {% render 'svg-subtitle', svg_h2: settings.svg_h2 %}</span>
                              </div>
                            {% endif %}
                          {% endif %}
                        </{{ section.settings.heading_tag }}>
                    </div>
                {% endunless %}
                {% unless section.settings.description == blank %}
                    <div 
                        class="animate__animated animate__faster opacity-0"
                        {% if settings.effect_apply_description_enable %} 
                          data-animate-class="{{ settings.animation_description_name }}"
                          style="animation-delay: 600ms;"
                        {% endif %}>
                        <div class="description rte mb-7 {{ section.settings.description_size }}">
                            {{ section.settings.description }}
                        </div>
                    </div>
                {% endunless %}
              
                {% for block in section.blocks %}
                    {% assign block_count = block_count | plus: 2 %}
                  <div class="row align-items-center {{ borders_top_bottom }} border-2 py-{{ section.settings.progress_circle_padding }} {% if forloop.last and borders_top_bottom != 'border-0' %}border-bottom{% endif %} {% unless section.settings.animation == '' %}animate__animated opacity-0 {{ section.settings.animation_speed }}{% endunless %}"
                        data-animate-class="{{ section.settings.animation }}"
                        style="animation-delay: {{ block_count }}00ms;" {{ block.shopify_attributes }}>
                        <div class="progress-circle-wrapper">
                            <div class="progress-circle" 
                                 style="--percentage: 0%; --progress-border-color: {{ block.settings.progress_border_color }};" data-percentage="{{ block.settings.percentage }}">
                                <div class="progress-value">{{ block.settings.percentage }}%</div>
                            </div>
                            <div class="mb-0 progress-circle-text">
                                {{ block.settings.description }}
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% unless section.settings.btn_text == blank %}
                    <div 
                        class="d-inline-flex mt-7 animate__animated animate__faster opacity-0"
                        {% if settings.effect_apply_btn_enable %} 
                          data-animate-class="{{ settings.animation_btn_name }}"
                          style="animation-delay: 1400ms;"
                        {% endif %}>
                        <a 
                            class="btn {{ section.settings.btn_color }} {{ btn_shadow_sp }} {{ section.settings.btn_size }}"
                            href="{{ section.settings.btn_url }}">
                            {{ section.settings.btn_text }}
                        </a>
                    </div>
                {% endunless %}
              
            </div>
        </div>
      
        
      
    </div>
</section>


{% schema %}
{
  "name": "Image Texte Compteurs",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "image_picker",
      "id": "background_img",
      "label": "Background image",
      "info": "If no image is selected, the background color options below will be applied."
    },
    {
      "type": "range",
      "id": "background_img_opacity",
      "label": "Opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "default": 0.7
    },
    {
      "type": "range",
      "id": "background_img_blur",
      "label": "Blur",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 0
    },
    {
      "type": "select",
      "id": "bg_color",
      "label": "Background color",
      "default": "bg-body text-body",
      "options": [
        {
          "group": "Main",
          "value": "bg-primary text-white",
          "label": "Primary"
        },
        {
          "group": "Main",
          "value": "bg-secondary text-white",
          "label": "Secondary"
        },
        {
          "group": "Main",
          "value": "bg-tertiary text-white",
          "label": "Tertiary"
        },
        {
          "group": "Intermediate",
          "value": "bg-white text-dark",
          "label": "White"
        },
        {
          "group": "Intermediate",
          "value": "bg-light text-body",
          "label": "Light"
        },
        {
          "group": "Intermediate",
          "value": "bg-dark text-white",
          "label": "Dark"
        },
        {
          "group": "Default",
          "value": "bg-body text-body",
          "label": "Body"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "bg_gradient",
      "label": "Background gradient",
      "default": false,
      "info": "Does not apply to light colors"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Container",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Container"
        },
        {
          "value": "container-fluid",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Max width (px)",
      "default": "991"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "label": "Desktop image width",
      "info": "The image is automatically optimized for mobile.",
      "default": "medium",
      "options": [
        {
          "value": "small",
          "label": "25%"
        },
        {
          "value": "medium",
          "label": "50%"
        },
        {
          "value": "large",
          "label": "75%"
        }
      ]
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "img_orientation",
      "label": "Image orientation",
      "default": "landscape",
      "options": [
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "landscape",
          "label": "Landscape"
        },
        {
          "value": "landscape-x2",
          "label": "Landscape 2x"
        },
        {
          "value": "potrait",
          "label": "Portrait"
        },
        {
          "value": "potrait-x2",
          "label": "Portrait 2x"
        }
      ]
    },
    {
      "type": "select",
      "id": "img_crop",
      "label": "Image crop",
      "default": "center",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "img_thumbnail",
      "label": "Image border",
      "default": "img-thumbnail",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "img-thumbnail",
          "label": "Border"
        }
      ]
    },
    {
      "type": "select",
      "id": "border_color",
      "label": "Border color",
      "options": [
        {
          "value": "",
          "label": "Default"
        },
        {
          "value": "border-primary",
          "label": "Primary"
        },
        {
          "value": "border-secondary",
          "label": "Secondary"
        },
        {
          "value": "border-tertiary",
          "label": "Tertiary"
        },
        {
          "value": "border-dark",
          "label": "Dark"
        },
        {
          "value": "border-success",
          "label": "Success"
        },
        {
          "value": "border-warning",
          "label": "Warning"
        },
        {
          "value": "border-danger",
          "label": "Danger"
        },
        {
          "value": "border-info",
          "label": "Info"
        }
      ],
      "default": ""
    },
    {
      "type": "range",
      "id": "border_width",
      "label": "Border width",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 1
    },
    {
      "type": "select",
      "id": "shadow_sp",
      "label": "Shadow",
      "options": [
        {
          "value": "shadow-none",
          "label": "None"
        },
        {
          "value": "shadow-1",
          "label": "Light shadow"
        },
        {
          "value": "shadow-2",
          "label": "Partial shadow"
        },
        {
          "value": "shadow-3",
          "label": "Deep shadow"
        },
        {
          "value": "shadow-4",
          "label": "Full shadow"
        }
      ],
      "default": "shadow-1"
    },
    {
      "type": "select",
      "id": "img_align_desktop",
      "label": "Image alignment (desktop)",
      "default": "flex-lg-row",
      "options": [
        {
          "value": "flex-lg-row",
          "label": "Left"
        },
        {
          "value": "flex-lg-row-reverse",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text alignment",
      "default": "text-start",
      "options": [
        {
          "value": "text-start",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "subtitle_img",
      "label": "Caption image"
    },
    {
      "type": "text",
      "id": "brand_image_size",
      "label": "Image width/height (px)",
      "default": "60"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Caption text",
      "default": "Unique value proposition"
    },
    {
      "type": "select",
      "id": "subtitle_size",
      "label": "Caption size",
      "default": "fs-5",
      "options": [
        {
          "group": "Standard caption",
          "value": "fs-1",
          "label": "Extra large"
        },
        {
          "group": "Standard caption",
          "value": "fs-2",
          "label": "Super large"
        },
        {
          "group": "Standard caption",
          "value": "fs-3",
          "label": "Very large"
        },
        {
          "group": "Standard caption",
          "value": "fs-4",
          "label": "Large"
        },
        {
          "group": "Standard caption",
          "value": "fs-5",
          "label": "Medium"
        },
        {
          "group": "Standard caption",
          "value": "fs-6",
          "label": "Small"
        }
      ]
    },
    {
      "type": "color",
      "id": "color_caption",
      "label": "Caption color",
      "default": "#6c757d"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title",
      "default": "Image Text Counters"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "Title tag (SEO)",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "h1"
        },
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "h3",
          "label": "h3"
        },
        {
          "value": "h4",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        },
        {
          "value": "h6",
          "label": "h6"
        },
        {
          "value": "span",
          "label": "None"
        }
      ]
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "Title size",
      "default": "h3",
      "options": [
        {
          "group": "Superior title",
          "value": "display-1",
          "label": "Extra extra large"
        },
        {
          "group": "Superior title",
          "value": "display-2",
          "label": "Extra large"
        },
        {
          "group": "Superior title",
          "value": "display-3",
          "label": "Ultra large"
        },
        {
          "group": "Superior title",
          "value": "display-4",
          "label": "Super large"
        },
        {
          "group": "Standard title",
          "value": "h1",
          "label": "Very large"
        },
        {
          "group": "Standard title",
          "value": "h2",
          "label": "Large"
        },
        {
          "group": "Standard title",
          "value": "h3",
          "label": "Medium"
        },
        {
          "group": "Standard title",
          "value": "h4",
          "label": "Small"
        },
        {
          "group": "Standard title",
          "value": "h5",
          "label": "Very small"
        },
        {
          "group": "Standard title",
          "value": "h6",
          "label": "Super small"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Pair text with an image to highlight your chosen product, collection, or blog post.</p>"
    },
    {
      "type": "select",
      "id": "description_size",
      "label": "Description size",
      "default": "fs-5",
      "options": [
        {
          "group": "Standard description",
          "value": "fs-1",
          "label": "Extra large"
        },
        {
          "group": "Standard description",
          "value": "fs-2",
          "label": "Super large"
        },
        {
          "group": "Standard description",
          "value": "fs-3",
          "label": "Very large"
        },
        {
          "group": "Standard description",
          "value": "fs-4",
          "label": "Large"
        },
        {
          "group": "Standard description",
          "value": "fs-5",
          "label": "Medium"
        },
        {
          "group": "Standard description",
          "value": "fs-6",
          "label": "Small"
        }
      ]
    },
    {
      "type": "header",
      "content": "Counters"
    },
    {
      "type": "range",
      "id": "progress_circle_size",
      "label": "Counter circle size (px)",
      "min": 50,
      "max": 150,
      "step": 1,
      "default": 100,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "progress_circle_border_thickness_ratio",
      "label": "Animated border thickness",
      "info": "Adjust the thickness of the animated border",
      "min": 1,
      "max": 20,
      "step": 1,
      "default": 6
    },
    {
      "type": "select",
      "id": "progress_circle_borders",
      "label": "Top and bottom border color",
      "default": "border-top",
      "options": [
        {
          "value": "border-top",
          "label": "Default"
        },
        {
          "value": "border-top border-primary",
          "label": "Primary"
        },
        {
          "value": "border-top border-secondary",
          "label": "Secondary"
        },
        {
          "value": "border-top border-tertiary",
          "label": "Tertiary"
        },
        {
          "value": "border-top border-light",
          "label": "Light"
        },
        {
          "value": "border-top border-dark",
          "label": "Dark"
        },
        {
          "value": "border-0",
          "label": "None"
        }
      ]
    },
    {
      "type": "range",
      "id": "progress_circle_padding",
      "label": "Border spacing",
      "info": "Spacing above and below the border",
      "min": 0,
      "max": 6,
      "step": 1,
      "default": 3
    },
    {
      "type": "header",
      "content": "Animation"
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation effect",
      "default": "animate__fadeInUp",
      "options": [
        {
          "group": "Disabled",
          "value": "",
          "label": "No animation"
        },
        {
          "group": "Back",
          "value": "animate__backInDown",
          "label": "Back In Down"
        },
        {
          "group": "Back",
          "value": "animate__backInLeft",
          "label": "Back In Left"
        },
        {
          "group": "Back",
          "value": "animate__backInRight",
          "label": "Back In Right"
        },
        {
          "group": "Back",
          "value": "animate__backInUp",
          "label": "Back In Up"
        },
        {
          "group": "Bounce",
          "value": "animate__bounceIn",
          "label": "Bounce In"
        },
        {
          "group": "Bounce",
          "value": "animate__bounceInDown",
          "label": "Bounce-in-down"
        },
        {
          "group": "Bounce",
          "value": "animate__bounceInLeft",
          "label": "Bounce-in-left"
        },
        {
          "group": "Bounce",
          "value": "animate__bounceInRight",
          "label": "Bounce-in-right"
        },
        {
          "group": "Bounce",
          "value": "animate__bounceInUp",
          "label": "Bounce-in-up"
        },
        {
          "group": "Fade",
          "value": "animate__fadeIn",
          "label": "Fade In"
        },
        {
          "group": "Fade",
          "value": "animate__fadeInDown",
          "label": "Fade-in-down"
        },
        {
          "group": "Fade",
          "value": "animate__fadeInDownBig",
          "label": "Fade-in-down Big"
        },
        {
          "group": "Fade",
          "value": "animate__fadeInLeft",
          "label": "Fade-in-left"
        },
        {
          "group": "Fade",
          "value": "animate__fadeInLeftBig",
          "label": "Fade-in-left Big"
        },
        {
          "group": "Fade",
          "value": "animate__fadeInRight",
          "label": "Fade-in-right"
        },
        {
          "group": "Fade",
          "value": "animate__fadeInRightBig",
          "label": "Fade-in-right Big"
        },
        {
          "group": "Fade",
          "value": "animate__fadeInUp",
          "label": "Fade-in-up"
        },
        {
          "group": "Fade",
          "value": "animate__fadeInUpBig",
          "label": "Fade-in-up Big"
        },
        {
          "group": "Fade",
          "value": "animate__fadeInTopLeft",
          "label": "Fade-in Top Left"
        },
        {
          "group": "Fade",
          "value": "animate__fadeInTopRight",
          "label": "Fade-in Top Right"
        },
        {
          "group": "Fade",
          "value": "animate__fadeInBottomLeft",
          "label": "Fade-in Bottom Left"
        },
        {
          "group": "Fade",
          "value": "animate__fadeInBottomRight",
          "label": "Fade-in Bottom Right"
        },
        {
          "group": "Flip",
          "value": "animate__flip",
          "label": "Flip"
        },
        {
          "group": "Flip",
          "value": "animate__flipInX",
          "label": "Flip In X"
        },
        {
          "group": "Flip",
          "value": "animate__flipInY",
          "label": "Flip In Y"
        },
        {
          "group": "Flip",
          "value": "animate__flipOutX",
          "label": "Flip Out X"
        },
        {
          "group": "Flip",
          "value": "animate__flipOutY",
          "label": "Flip Out Y"
        },
        {
          "group": "Light Speed",
          "value": "animate__lightSpeedInRight",
          "label": "Light Speed In Right"
        },
        {
          "group": "Light Speed",
          "value": "animate__lightSpeedInLeft",
          "label": "Light Speed In Left"
        },
        {
          "group": "Rotation",
          "value": "animate__rotateIn",
          "label": "Rotate In"
        },
        {
          "group": "Rotation",
          "value": "animate__rotateInDownLeft",
          "label": "Rotate In Down Left"
        },
        {
          "group": "Rotation",
          "value": "animate__rotateInDownRight",
          "label": "Rotate In Down Right"
        },
        {
          "group": "Rotation",
          "value": "animate__rotateInUpLeft",
          "label": "Rotate In Up Left"
        },
        {
          "group": "Rotation",
          "value": "animate__rotateInUpRight",
          "label": "Rotate In Up Right"
        },
        {
          "group": "Zoom",
          "value": "animate__zoomIn",
          "label": "Zoom In"
        },
        {
          "group": "Zoom",
          "value": "animate__zoomInDown",
          "label": "Zoom In Down"
        },
        {
          "group": "Zoom",
          "value": "animate__zoomInLeft",
          "label": "Zoom In Left"
        },
        {
          "group": "Zoom",
          "value": "animate__zoomInRight",
          "label": "Zoom In Right"
        },
        {
          "group": "Zoom",
          "value": "animate__zoomInUp",
          "label": "Zoom In Up"
        },
        {
          "group": "Slide",
          "value": "animate__slideInDown",
          "label": "Slide In Down"
        },
        {
          "group": "Slide",
          "value": "animate__slideInLeft",
          "label": "Slide In Left"
        },
        {
          "group": "Slide",
          "value": "animate__slideInRight",
          "label": "Slide In Right"
        },
        {
          "group": "Slide",
          "value": "animate__slideInUp",
          "label": "Slide In Up"
        }
      ]
    },
    {
      "type": "select",
      "id": "animation_speed",
      "label": "Animation speed",
      "default": "animate__fast",
      "options": [
        {
          "value": "animate__slower",
          "label": "Slower"
        },
        {
          "value": "animate__slow",
          "label": "Slow"
        },
        {
          "value": "",
          "label": "Normal"
        },
        {
          "value": "animate__fast",
          "label": "Fast"
        },
        {
          "value": "animate__faster",
          "label": "Faster"
        }
      ]
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button text",
      "info": "Leave blank to disable"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button URL"
    },
    {
      "type": "select",
      "id": "btn_color",
      "label": "Button color",
      "default": "btn-primary",
      "options": [
        {
          "group": "Normal",
          "value": "btn-link",
          "label": "Link"
        },
        {
          "group": "Normal",
          "value": "btn-light",
          "label": "Light"
        },
        {
          "group": "Normal",
          "value": "btn-dark",
          "label": "Dark"
        },
        {
          "group": "Normal",
          "value": "btn-primary",
          "label": "Primary"
        },
        {
          "group": "Normal",
          "value": "btn-secondary",
          "label": "Secondary"
        },
        {
          "group": "Normal",
          "value": "btn-tertiary",
          "label": "Tertiary"
        },
        {
          "group": "Normal",
          "value": "btn-success",
          "label": "Success"
        },
        {
          "group": "Normal",
          "value": "btn-danger",
          "label": "Danger"
        },
        {
          "group": "Normal",
          "value": "btn-warning",
          "label": "Warning"
        },
        {
          "group": "Normal",
          "value": "btn-info",
          "label": "Info"
        },
        {
          "group": "Outline",
          "value": "btn-outline-light",
          "label": "Outline Light"
        },
        {
          "group": "Outline",
          "value": "btn-outline-dark",
          "label": "Outline Dark"
        },
        {
          "group": "Outline",
          "value": "btn-outline-primary",
          "label": "Outline Primary"
        },
        {
          "group": "Outline",
          "value": "btn-outline-secondary",
          "label": "Outline Secondary"
        },
        {
          "group": "Outline",
          "value": "btn-outline-tertiary",
          "label": "Outline Tertiary"
        },
        {
          "group": "Outline",
          "value": "btn-outline-success",
          "label": "Outline Success"
        },
        {
          "group": "Outline",
          "value": "btn-outline-danger",
          "label": "Outline Danger"
        },
        {
          "group": "Outline",
          "value": "btn-outline-warning",
          "label": "Outline Warning"
        },
        {
          "group": "Outline",
          "value": "btn-outline-info",
          "label": "Outline Info"
        }
      ]
    },
    {
      "type": "select",
      "id": "btn_size",
      "label": "Button size",
      "default": "btn-md",
      "options": [
        {
          "value": "btn-sm",
          "label": "Small"
        },
        {
          "value": "btn-md",
          "label": "Normal"
        },
        {
          "value": "btn-lg",
          "label": "Large"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Top padding",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Bottom padding",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "mt",
      "label": "Top margin",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "mb",
      "label": "Bottom margin",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "progress_circle",
      "name": "Counter",
      "limit": 6,
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Pair text with an image to highlight your chosen product, collection, or blog post.</p>"
        },
        {
          "type": "number",
          "id": "percentage",
          "label": "Percentage",
          "default": 75
        },
        {
          "type": "color",
          "id": "progress_border_color",
          "label": "Animated border color",
          "default": "#C99700"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Text Counters",
      "category": "General"
    }
  ]
}
{% endschema %}
