{% comment %}
---------------------------------------------------------
Copyright © 2019/2024 Theme Shopiweb Premium. Tous droits réservés.
La copie, la modification, la distribution ou l'utilisation
non autorisée de ce code ou de toute partie de celui-ci est formellement interdite.
Les contrevenants seront poursuivis dans toute la mesure permise par la loi.
---------------------------------------------------------
{% endcomment %}

{% liquid
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

    assign bg_color = section.settings.bg_color

    if section.settings.bg_gradient
        assign bg_color = bg_color | append: ' bg-gradient'
    endif

    if section.settings.breakpoint_xs_scroll
  assign row_xs = 'xs-scroll' {# Fixed theme-check: UnusedAssign #}
    else
    endif

%}

<section
    id="latest-articles-{{ section.id }}"
    class="latest-articles enter-view position-relative overflow-hidden {{ bg_color }} {{ section.settings.text_align }} {{ pt }} {{ pb }} {{ mt }} {{ mb }}">
    <div class="{{ section.settings.container }}" style="max-width: {{ section.settings.max_width }}px">
        {% liquid
          render 'section-header'
          if section.settings.blog.articles == blank
            render 'article-item', article: blank
          else
            for article in section.settings.blog.articles limit: section.settings.limit
              render 'article-item', article: article
            endfor
          endif
        %}
    </div>
</section>

{% schema %}
{
  "name": "Articles de Blog",
  "settings": [
    {
      "type": "paragraph",
      "content": "Documentation : Articles de blog — https://exemple.tld/docs"
    }
  ],
  "blocks": [

  ],
  "presets": [
    {
      "name": "Articles de Blog"
    }
  ]
}
{% endschema %}
