{% comment %}
---------------------------------------------------------
Copyright © 2019/2024 Theme Shopiweb Premium. Tous droits réservés.
La copie, la modification, la distribution ou l'utilisation
non autorisée de ce code ou de toute partie de celui-ci est formellement interdite.
Les contrevenants seront poursuivis dans toute la mesure permise par la loi.
---------------------------------------------------------
{% endcomment %}

{% liquid 
      assign pt = section.settings.pt | prepend: 'pt-'
      assign pb = section.settings.pb | prepend: 'pb-'
  
      assign bg_color = section.settings.bg_color
  
      if section.settings.bg_gradient
          assign bg_color = bg_color | append: ' bg-gradient'
      endif
  
      if section.settings.bg_option == 'navbar-transparent' and request.page_type == 'index'
          assign bg_color = bg_color | append: ' navbar-hover navbar-transparent text-white'
      elsif section.settings.bg_option == 'navbar-backdrop' and request.page_type == 'index'
          assign bg_color = bg_color | append: ' navbar-backdrop'
      endif
  
      if section.settings.always_show_toggle
          assign navbar_mobile_classes = ''
          assign navbar_desktop_classes = 'd-none'
      else 
          assign navbar_mobile_classes = 'd-lg-none'
          assign navbar_desktop_classes = 'd-none d-lg-block'
      endif %}

{% style %}
  /* Logo */
  #navbar-mobile .svg-no-transparent svg {
    width: {{ section.settings.logo_svg_height_mobile }}px;
  }
  #navbar-desktop .svg-no-transparent svg {
    width: {{ section.settings.logo_svg_height_desktop }}px;
  }
  {% if section.settings.logo_filter %}
  html:not(.has-scrolled) .navbar-transparent .navbar-brand img {
      filter: invert(1);
  }
  html:not(.has-scrolled) .navbar-transparent .navbar-brand svg {
      filter: invert(1);
  }
  html:not(.has-scrolled) .navbar-hover.navbar-transparent:hover .navbar-brand img {
      filter: unset !important;
  }
  html:not(.has-scrolled) .navbar-hover.navbar-transparent:hover .navbar-brand svg {
      filter: unset !important;
  }
  {% endif %}
  
  /* Block Micro Menu Header */
  @media screen and (max-width: 990px) {
    .barre-outils {
      display: none;
    }
  }
{% endstyle %}

<!-- Block Micro Menu Header -->
{% for block in section.blocks %}
    {% case block.type %}
        <!-- Micro Menu -->
        {% when 'tools' %}
        <div class="barre-outils {{ block.settings.bg_color }} {% if block.settings.bg_gradient %}bg-gradient {% endif %}">
            <div class="tools container d-flex small p-3">
                <div class="links align-self-center">
                    {% for link in block.settings.toolbar_menu.links %}
                        <a class="link text-decoration-none p-2 {% if block.settings.bg_color contains 'text-white' %}text-current-color{% else %}link-dark{% endif %}" href="{{ link.url }}" target="_blank">
                          {{ link.title }}
                        </a>
                    {% endfor %}
                </div>
                <div class="sociaux d-flex justify-content-end align-items-center flex-grow-1 flex-shrink-1">
                    {% if block.settings.option-outils == blank %}
                        {% render 'social-icons' %}
                    {% else %}
                        <div class="links-sav">
                          <a class="link-dark text-decoration-none p-2" href="{{ block.settings.option_link }}">{{ block.settings.option_text }}</a>
                        </div>
                    {% endif %}
                </div>

                {% if block.settings.language_selector_show or block.settings.currency_selector_show %}
                    {% if localization.available_languages.size > 1 or shop.enabled_currencies.size > 1 %}
                        <div class="d-flex justify-content-center py-2 ms-4">
                            {% if block.settings.language_selector_show %}
                                {% render 'dropdown-localization', btn_color: block.settings.lang_currency_btn_color %}
                            {% endif %}
                            {% if block.settings.currency_selector_show %}
                                {% render 'dropdown-currency', btn_color: block.settings.lang_currency_btn_color %}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
              
            </div>
        </div>
    {% endcase %}
{% endfor %}

<nav 
    id="navbar-mobile" 
    class="navbar {{ navbar_mobile_classes }} {{ bg_color }} {{ section.settings.shadow }} {{ pt }} {{ pb }}">
    <div class="container d-block">
        <div class="row align-items-center">
            <div class="col-3">
                <ul class="nav flex-nowrap">
                    <a 
                        class="nav-link ms-n2"
                        href="#offcanvas-menu" 
                        data-bs-toggle="offcanvas" 
                        aria-controls="offcanvas-menu"
                        aria-label="{{ 'general.accessibility.menu' | t }}"
                        role="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line>
                        </svg>
                        {% if settings.layout_mobile == 'navbar-mobile-with-search' %}
                            {% if section.settings.mobile_menu_label %}
                                <span class="ms-2 extra-small text-uppercase">
                                    {{ 'general.menu' | t }}
                                </span>
                            {% else %}
                                <span class="ms-10 extra-small text-uppercase"></span>
                            {% endif %}
                        {% endif %}
                    </a>
                </ul>
            </div>
            <div class="col-6 text-center">
                <a class="navbar-brand mx-auto py-0" href="{{ routes.root_url }}" aria-label="{{ shop.name }}">
                    {% if section.settings.logo %}
                        {% assign logo_height_x2 = section.settings.logo_height_mobile | times: 2 %}
                        <img
                            class="img-fluid"
                            src="{{ section.settings.logo | image_url: height: logo_height_x2 }}" 
                            alt="{{ shop.name }}"
                            width="{{ section.settings.logo_height_mobile | times: section.settings.logo.aspect_ratio | round }}" 
                            height="{{ section.settings.logo_height_mobile }}"
                            loading="lazy">
                    {% elsif section.settings.logo_svg != blank %}
                        <span class="svg-no-transparent" style="fill: initial;">{{ section.settings.logo_svg }}</span>
                    {% else %}
                        <span class="fs-3">
                            {{ shop.name }}
                        </span>
                    {% endif %}
                </a>
            </div>
            <div class="col-3">
                <ul class="nav justify-content-end flex-nowrap">
                    {% if settings.layout_mobile == 'navbar-mobile-with-search' %}
                        <a 
                            class="nav-link px-3"
                            href="#offcanvas-search" 
                            data-bs-toggle="offcanvas" 
                            aria-controls="offcanvas-search"
                            aria-label="{{ 'general.accessibility.search' | t }}"
                            role="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="11" cy="11" r="8"></circle>
                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                            </svg>
                        </a>
                    {% endif %}
                    {% if shop.customer_accounts_enabled and section.settings.always_show_toggle %}
                        <a 
                            class="nav-link d-none d-lg-block {% if template.name == 'login' or template.name == 'account' %}active{% endif %}" 
                            aria-current="{% if template.name == 'login' or template.name == 'account' %}page{% endif %}" 
                            href="{{ routes.account_url }}"
                            aria-label="{{ 'general.accessibility.account' | t }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                <circle cx="12" cy="7" r="4"></circle>
                            </svg>
                        </a>
                    {% endif %}
                    {% if settings.wishlist_enable and section.settings.always_show_toggle %}
                        <a 
  class="wishlist-icon nav-link d-none d-lg-block position-relative"
  data-bs-toggle="offcanvas" 
  data-bs-target="#offcanvas-wishlist" 
  aria-controls="offcanvas-wishlist" 
  aria-label="{{ 'general.accessibility.wishlist' | t }}"
  role="button">
  
  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/>
  </svg>

  <span 
    class="wishlist-count-badge badge bg-primary text-white position-absolute top-0 start-100 translate-middle"
    aria-live="polite"
    aria-atomic="true"
    hidden>
  </span>
</a>
                    {% endif %}
                    <a 
                        class="cart-icon nav-link me-n2" 
                        {% if settings.cart_drawer_disable == true or request.page_type == 'cart' %}
                            href="{{ routes.cart_url }}" 
                        {% else %}
                            href="#offcanvas-cart" 
                            data-bs-toggle="offcanvas" 
                            aria-controls="offcanvas-cart" 
                            role="button"
                        {% endif %}
                        aria-label="{{ 'general.accessibility.cart' | t }} {{ cart.item_count }}">
                        {% render 'icon-cart' %}
                        <span 
                            class="cart-count-badge badge {% if bg_color contains 'bg-primary' %}bg-white text-body{% else %}bg-primary{% endif %}"
                            {% if cart.item_count == 0 %}hidden{% endif %}>
                            {{ cart.item_count }}
                        </span>
                    </a> 
                </ul>
            </div>
        </div>
    </div>
</nav>
                  
<nav 
    id="navbar-desktop" 
    class="navbar {{ navbar_desktop_classes }} {{ bg_color }} {{ section.settings.shadow }} {{ section.settings.menu_desktop_trigger }} {{ pt }} {{ pb }}">
    <div class="{{ section.settings.container }}">
        <div class="row align-items-center flex-grow-1">
            <div class="{% if section.settings.layout_desktop == 'navbar-desktop-logo-left' %}col-3{% else %}col-2 order-1 text-center{% endif %}">
              <div class="d-none d-lg-block me-3">
                <a href="{{ routes.root_url }}" class="d-flex align-items-center text-decoration-none">
                  <img src="{{ 'HOME.png' | asset_url }}" alt="Home" width="40" height="40" class="me-1" style="border-radius: 50%;" loading="lazy">
                </a>
              </div>
              <a class="navbar-brand me-auto py-0" href="{{ routes.root_url }}" aria-label="{{ shop.name }}">
                    {% if section.settings.logo %}
                        {% assign logo_height_x2 = section.settings.logo_height_desktop | times: 2 %}
                        <img
                            class="img-fluid"
                            src="{{ section.settings.logo | image_url: height: logo_height_x2 }}" 
                            alt="{{ shop.name }}"
                            width="{{ section.settings.logo_height_desktop | times: section.settings.logo.aspect_ratio | round }}" 
                            height="{{ section.settings.logo_height_desktop }}"
                            loading="lazy">
                    {% elsif section.settings.logo_svg != blank %}
                        <span class="svg-no-transparent" style="fill: initial;">{{ section.settings.logo_svg }}</span>
                    {% else %}
                        <span class="fs-3">
                            {{ shop.name }}
                        </span>
                    {% endif %}
                </a>
            </div>
            <div class="{% if section.settings.layout_desktop == 'navbar-desktop-logo-left' %}col-6{% else %}col-5 order-0{% endif %}">
                {% # theme-check-disable NestedSnippet %}
{% render 'navbar-megamenu' %}
{% # theme-check-enable NestedSnippet %}
            </div>
            <div class="{% if section.settings.layout_desktop == 'navbar-desktop-logo-left' %}col-3{% else %}col-5 order-2{% endif %}">
                {% # theme-check-disable NestedSnippet %}
{% render 'navbar-desktop-icons' %}
{% # theme-check-enable NestedSnippet %}
            </div>
        </div>
    </div>
</nav>

{% # theme-check-disable NestedSnippet %}
{% render 'offcanvas-menu' %}
{% # theme-check-enable NestedSnippet %}

<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": {{ shop.name | json }},
        {% if section.settings.logo %}
            "logo": {{ section.settings.logo | image_url: width: 500 | prepend: "https:" | json }},
        {% endif %}
        "sameAs": [
            {{ settings.social_facebook | json }},
            {{ settings.social_twitter | json }},
            {{ settings.social_instagram | json }},
            {{ settings.social_pinterest | json }},
            {{ settings.social_tiktok | json }},
            {{ settings.social_snapchat | json }},
            {{ settings.social_snapchat | json }},
            {{ settings.social_youtube | json }},
            {{ settings.social_linkedin | json }}
        ],
        "url": {{ request.origin | append: page.url | json }}
    }
</script>
  
{% if request.page_type == 'index' %}
    {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": {{ shop.name | json }},
            "potentialAction": {
                "@type": "SearchAction",
                "target": {{ potential_action_target | json }},
                "query-input": "required name=search_term_string"
            },
            "url": {{ request.origin | append: page.url | json }}
        }
    </script>
{% endif %}

{% schema %}
{
  "name": "Header (navigation)",
  "class": "sticky-top",
  "settings": [
    {
      "type": "paragraph",
      "content": "Documentation EN: [Header (navigation) by Shopiweb](https://www.docs.shopiweb.fr/theme-premium/documentation/en-tete/en-tete-navigation)"
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "bg_color",
      "label": "Background color",
      "options": [
        {
          "group": "Main",
          "value": "bg-primary text-white",
          "label": "Primary"
        },
        {
          "group": "Main",
          "value": "bg-secondary text-white",
          "label": "Secondary"
        },
        {
          "group": "Main",
          "value": "bg-tertiary text-white",
          "label": "Tertiary"
        },
        {
          "group": "Intermediate",
          "value": "bg-white text-body",
          "label": "White"
        },
        {
          "group": "Intermediate",
          "value": "bg-light text-body",
          "label": "Light"
        },
        {
          "group": "Intermediate",
          "value": "bg-dark text-white",
          "label": "Dark"
        },
        {
          "group": "Default",
          "value": "bg-body text-body",
          "label": "Body"
        }
      ],
      "default": "bg-body text-body"
    },
    {
      "type": "checkbox",
      "id": "bg_gradient",
      "label": "Background gradient",
      "default": false,
      "info": "Does not apply to light colors"
    },
    {
      "type": "select",
      "id": "bg_option",
      "label": "Background option",
      "default": "",
      "info": "Applies only to the home page.",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "navbar-transparent",
          "label": "Transparent"
        },
        {
          "value": "navbar-backdrop",
          "label": "Blurred"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "logo_filter",
      "label": "Enable color inversion for logo",
      "default": false,
      "info": "Inverts logo colors (e.g., from white to black) only on transparent background option."
    },
    {
      "type": "select",
      "id": "container",
      "label": "Container",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Container"
        },
        {
          "value": "container-fluid",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "select",
      "id": "shadow",
      "label": "Shadow",
      "options": [
        {
          "value": "shadow-none",
          "label": "No shadow"
        },
        {
          "value": "shadow-sm",
          "label": "Light shadow"
        },
        {
          "value": "shadow",
          "label": "Partial shadow"
        },
        {
          "value": "shadow-lg",
          "label": "Deep shadow"
        }
      ],
      "default": "shadow-sm"
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "select",
      "id": "layout_desktop",
      "label": "Logo position - desktop",
      "options": [
        {
          "value": "navbar-desktop-logo-left",
          "label": "Left"
        },
        {
          "value": "navbar-desktop-logo-center",
          "label": "Center"
        }
      ],
      "default": "navbar-desktop-logo-left"
    },
    {
      "type": "header",
      "content": "🏆 SVG Logo Application",
      "info": "👉 Shopiweb Premium Version Application"
    },
    {
      "type": "html",
      "id": "logo_svg",
      "label": "SVG Logo (recommended)",
      "info": "Insert SVG code in this area, otherwise leave blank."
    },
    {
      "type": "range",
      "id": "logo_svg_height_mobile",
      "label": "SVG logo size - mobile",
      "min": 20,
      "max": 150,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "id": "logo_svg_height_desktop",
      "label": "SVG logo size - desktop",
      "min": 20,
      "max": 200,
      "step": 2,
      "default": 80
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "range",
      "id": "logo_height_mobile",
      "label": "Logo size - mobile",
      "min": 20,
      "max": 100,
      "step": 2,
      "default": 40
    },
    {
      "type": "range",
      "id": "logo_height_desktop",
      "label": "Logo size - desktop",
      "min": 20,
      "max": 200,
      "step": 2,
      "default": 40
    },
    {
      "type": "header",
      "content": "Desktop menu"
    },
    {
      "type": "link_list",
      "id": "menu_desktop",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "checkbox",
      "id": "always_show_toggle",
      "label": "Switch to burger menu",
      "default": false
    },
    {
      "type": "select",
      "id": "menu_desktop_font_family",
      "label": "Font family",
      "default": "",
      "options": [
        {
          "value": "",
          "label": "Default"
        },
        {
          "value": "headings-font-family",
          "label": "Headings"
        }
      ]
    },
    {
      "type": "header",
      "content": "Image Menu"
    },
    {
      "type": "select",
      "id": "shadow_sp_img_megamenu",
      "label": "Image shadow",
      "options": [
        {
          "value": "shadow-none",
          "label": "None"
        },
        {
          "value": "shadow-1",
          "label": "Light shadow"
        },
        {
          "value": "shadow-2",
          "label": "Partial shadow"
        },
        {
          "value": "shadow-3",
          "label": "Deep shadow"
        },
        {
          "value": "shadow-4",
          "label": "Full shadow"
        }
      ],
      "default": "shadow-1"
    },
    {
      "type": "select",
      "id": "border_color_img_megamenu",
      "label": "Border color",
      "options": [
        {
          "value": "",
          "label": "Default"
        },
        {
          "value": "border-primary",
          "label": "Primary"
        },
        {
          "value": "border-secondary",
          "label": "Secondary"
        },
        {
          "value": "border-tertiary",
          "label": "Tertiary"
        },
        {
          "value": "border-dark",
          "label": "Dark"
        },
        {
          "value": "border-success",
          "label": "Success"
        },
        {
          "value": "border-warning",
          "label": "Warning"
        },
        {
          "value": "border-danger",
          "label": "Danger"
        },
        {
          "value": "border-info",
          "label": "Info"
        }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "menu_desktop_trigger",
      "label": "Trigger",
      "options": [
        {
          "value": "menu-desktop-click",
          "label": "Click (recommended)"
        },
        {
          "value": "menu-desktop-hover",
          "label": "Hover"
        }
      ],
      "default": "menu-desktop-click"
    },
    {
      "type": "header",
      "content": "Mobile menu"
    },
    {
      "type": "link_list",
      "id": "menu_mobile",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "checkbox",
      "id": "mobile_menu_label",
      "label": "Mobile menu label",
      "default": true
    },
    {
      "type": "select",
      "id": "menu_mobile_font_family",
      "label": "Font family",
      "default": "",
      "options": [
        {
          "value": "",
          "label": "Default"
        },
        {
          "value": "headings-font-family",
          "label": "Headings"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_account",
      "label": "Show customer account login",
      "info": "Displays login and account creation links in the mobile menu under Welcome.",
      "default": false
    },
    {
      "type": "link_list",
      "id": "utilities_menu",
      "label": "Utilities menu"
    },
    {
      "type": "checkbox",
      "id": "offcanvas_menu_show_cart_upsells",
      "label": "Show cart upsell products",
      "info": "Enables display of complementary products based on cart contents.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "language_selector_show",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "currency_selector_show",
      "label": "Show currency selector",
      "default": true
    },
    {
      "type": "select",
      "id": "lang_currency_btn_color",
      "label": "Language/currency button color",
      "default": "btn-outline-secondary",
      "options": [
        {
          "group": "Normal",
          "value": "btn-link",
          "label": "Link"
        },
        {
          "group": "Normal",
          "value": "btn-light",
          "label": "Light"
        },
        {
          "group": "Normal",
          "value": "btn-dark",
          "label": "Dark"
        },
        {
          "group": "Normal",
          "value": "btn-primary",
          "label": "Primary"
        },
        {
          "group": "Normal",
          "value": "btn-secondary",
          "label": "Secondary"
        },
        {
          "group": "Normal",
          "value": "btn-tertiary",
          "label": "Tertiary"
        },
        {
          "group": "Normal",
          "value": "btn-success",
          "label": "Success"
        },
        {
          "group": "Normal",
          "value": "btn-danger",
          "label": "Danger"
        },
        {
          "group": "Normal",
          "value": "btn-warning",
          "label": "Warning"
        },
        {
          "group": "Normal",
          "value": "btn-info",
          "label": "Info"
        },
        {
          "group": "Contour",
          "value": "btn-outline-light",
          "label": "Outline Light"
        },
        {
          "group": "Contour",
          "value": "btn-outline-dark",
          "label": "Outline Dark"
        },
        {
          "group": "Contour",
          "value": "btn-outline-primary",
          "label": "Outline Primary"
        },
        {
          "group": "Contour",
          "value": "btn-outline-secondary",
          "label": "Outline Secondary"
        },
        {
          "group": "Contour",
          "value": "btn-outline-tertiary",
          "label": "Outline Tertiary"
        },
        {
          "group": "Contour",
          "value": "btn-outline-success",
          "label": "Outline Success"
        },
        {
          "group": "Contour",
          "value": "btn-outline-danger",
          "label": "Outline Danger"
        },
        {
          "group": "Contour",
          "value": "btn-outline-warning",
          "label": "Outline Warning"
        },
        {
          "group": "Contour",
          "value": "btn-outline-info",
          "label": "Outline Info"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "offcanvas_menu_show_social_icons",
      "label": "Show social icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Top padding",
      "min": 0,
      "max": 6,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Bottom padding",
      "min": 0,
      "max": 6,
      "step": 1,
      "default": 3
    }
  ],
  "blocks": [
    {
      "type": "tools",
      "name": "🏆 Micro Menu",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "🏆 Micro Menu Application",
          "info": "👉 Shopiweb Premium Version Application"
        },
        {
          "type": "paragraph",
          "content": "Documentation EN: [Micro menu by Shopiweb](https://www.docs.shopiweb.fr/theme-premium/documentation/en-tete/en-tete-navigation/micro-menu)"
        },
        {
          "type": "paragraph",
          "content": "Visible only on desktop."
        },
        {
          "type": "header",
          "content": "General"
        },
        {
          "type": "select",
          "id": "bg_color",
          "label": "Background color",
          "default": "bg-light text-body",
          "options": [
            {
              "group": "Main",
              "value": "bg-primary text-white",
              "label": "Primary"
            },
            {
              "group": "Main",
              "value": "bg-secondary text-white",
              "label": "Secondary"
            },
            {
              "group": "Main",
              "value": "bg-tertiary text-white",
              "label": "Tertiary"
            },
            {
              "group": "Intermediate",
              "value": "bg-white text-dark",
              "label": "White"
            },
            {
              "group": "Intermediate",
              "value": "bg-light text-body",
              "label": "Light"
            },
            {
              "group": "Intermediate",
              "value": "bg-dark text-white",
              "label": "Dark"
            },
            {
              "group": "Default",
              "value": "bg-body text-body",
              "label": "Body"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "bg_gradient",
          "label": "Background gradient",
          "default": false,
          "info": "Does not apply to light colors"
        },
        {
          "type": "link_list",
          "id": "toolbar_menu",
          "label": "Menu",
          "default": "main-menu"
        },
        {
          "type": "checkbox",
          "id": "option-outils",
          "label": "Replace icons with a link",
          "default": true
        },
        {
          "type": "text",
          "id": "option_text",
          "label": "Link title",
          "default": "Customer service 7/7"
        },
        {
          "type": "url",
          "id": "option_link",
          "label": "Redirect link"
        },
        {
          "type": "checkbox",
          "id": "language_selector_show",
          "label": "Show language selector",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "currency_selector_show",
          "label": "Show currency selector",
          "default": true
        },
        {
          "type": "select",
          "id": "lang_currency_btn_color",
          "label": "Language/currency button color",
          "default": "btn-outline-dark",
          "options": [
            {
              "group": "Normal",
              "value": "btn-link",
              "label": "Link"
            },
            {
              "group": "Normal",
              "value": "btn-light",
              "label": "Light"
            },
            {
              "group": "Normal",
              "value": "btn-dark",
              "label": "Dark"
            },
            {
              "group": "Normal",
              "value": "btn-primary",
              "label": "Primary"
            },
            {
              "group": "Normal",
              "value": "btn-secondary",
              "label": "Secondary"
            },
            {
              "group": "Normal",
              "value": "btn-tertiary",
              "label": "Tertiary"
            },
            {
              "group": "Normal",
              "value": "btn-success",
              "label": "Success"
            },
            {
              "group": "Normal",
              "value": "btn-danger",
              "label": "Danger"
            },
            {
              "group": "Normal",
              "value": "btn-warning",
              "label": "Warning"
            },
            {
              "group": "Normal",
              "value": "btn-info",
              "label": "Info"
            },
            {
              "group": "Contour",
              "value": "btn-outline-light",
              "label": "Outline Light"
            },
            {
              "group": "Contour",
              "value": "btn-outline-dark",
              "label": "Outline Dark"
            },
            {
              "group": "Contour",
              "value": "btn-outline-primary",
              "label": "Outline Primary"
            },
            {
              "group": "Contour",
              "value": "btn-outline-secondary",
              "label": "Outline Secondary"
            },
            {
              "group": "Contour",
              "value": "btn-outline-tertiary",
              "label": "Outline Tertiary"
            },
            {
              "group": "Contour",
              "value": "btn-outline-success",
              "label": "Outline Success"
            },
            {
              "group": "Contour",
              "value": "btn-outline-danger",
              "label": "Outline Danger"
            },
            {
              "group": "Contour",
              "value": "btn-outline-warning",
              "label": "Outline Warning"
            },
            {
              "group": "Contour",
              "value": "btn-outline-info",
              "label": "Outline Info"
            }
          ]
        }
      ]
    },
    {
      "type": "button",
      "name": "🏆 Button",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "🏆 Navigation Button Application",
          "info": "👉 Shopiweb Premium Version Application"
        },
        {
          "type": "paragraph",
          "content": "Documentation EN: [Button by Shopiweb](https://www.docs.shopiweb.fr/theme-premium/documentation/en-tete/en-tete-navigation/bouton)"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button text",
          "default": "Order",
          "info": "Leave blank to disable"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button URL"
        },
        {
          "type": "select",
          "id": "btn_color",
          "label": "Button color",
          "default": "btn-primary",
          "options": [
            {
              "group": "Normal",
              "value": "btn-link",
              "label": "Link"
            },
            {
              "group": "Normal",
              "value": "btn-light",
              "label": "Light"
            },
            {
              "group": "Normal",
              "value": "btn-dark",
              "label": "Dark"
            },
            {
              "group": "Normal",
              "value": "btn-primary",
              "label": "Primary"
            },
            {
              "group": "Normal",
              "value": "btn-secondary",
              "label": "Secondary"
            },
            {
              "group": "Normal",
              "value": "btn-tertiary",
              "label": "Tertiary"
            },
            {
              "group": "Normal",
              "value": "btn-success",
              "label": "Success"
            },
            {
              "group": "Normal",
              "value": "btn-danger",
              "label": "Danger"
            },
            {
              "group": "Normal",
              "value": "btn-warning",
              "label": "Warning"
            },
            {
              "group": "Normal",
              "value": "btn-info",
              "label": "Info"
            },
            {
              "group": "Contour",
              "value": "btn-outline-light",
              "label": "Outline Light"
            },
            {
              "group": "Contour",
              "value": "btn-outline-dark",
              "label": "Outline Dark"
            },
            {
              "group": "Contour",
              "value": "btn-outline-primary",
              "label": "Outline Primary"
            },
            {
              "group": "Contour",
              "value": "btn-outline-secondary",
              "label": "Outline Secondary"
            },
            {
              "group": "Contour",
              "value": "btn-outline-tertiary",
              "label": "Outline Tertiary"
            },
            {
              "group": "Contour",
              "value": "btn-outline-success",
              "label": "Outline Success"
            },
            {
              "group": "Contour",
              "value": "btn-outline-danger",
              "label": "Outline Danger"
            },
            {
              "group": "Contour",
              "value": "btn-outline-warning",
              "label": "Outline Warning"
            },
            {
              "group": "Contour",
              "value": "btn-outline-info",
              "label": "Outline Info"
            }
          ]
        },
        {
          "type": "select",
          "id": "btn_size",
          "label": "Button size",
          "default": "btn-sm",
          "options": [
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-md",
              "label": "Normal"
            }
          ]
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "button"
      }
    ],
    "settings": {}
  }
}
{% endschema %}