{% comment %}
---------------------------------------------------------
Copyright © 2019/2024 Theme Shopiweb Premium. Tous droits réservés.
La copie, la modification, la distribution ou l'utilisation
non autorisée de ce code ou de toute partie de celui-ci est formellement interdite.
Les contrevenants seront poursuivis dans toute la mesure permise par la loi.
---------------------------------------------------------
{% endcomment %}

{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

    assign bg_color = section.settings.bg_color

    if section.settings.bg_gradient
        assign bg_color = bg_color | append: ' bg-gradient'
    endif
%}

<section 
    id="page-content-{{ section.id }}"
    class="page-content enter-view {{ bg_color }} {{ pt }} {{ pb }} {{ mt }} {{ mb }}">
    <div 
        class="container {{ section.settings.text_align }}" 
        style="max-width: {{ section.settings.max_width }}px;">
        {% if section.settings.show_title %}
            <{{ section.settings.heading_tag }} class="title {{ section.settings.title_size }} animate__animated animate__faster opacity-0"
                {% if settings.effect_apply_title_enable %}
                  data-animate-class="{{ settings.animation_title_name }}"
                  style="animation-delay: 200ms;"
                {% endif %}>
                {{ page.title }}
                {% if settings.custom_svg_h2 != blank %}
                    <div class="h2_svg animate__animated animate__faster opacity-0"
                        {% if settings.effect_apply_svg_enable %} 
                          data-animate-class="{{ settings.animation_svg_name }}"
                          style="animation-delay: 400ms;"
                        {% endif %}
                    >
                      <span style="fill:{{ settings.color_svg_h2 }}; width:{{ settings.width_svg_h2 }}rem;"> {{ settings.custom_svg_h2 }}</span>
                    </div>
                  {% else %}
                    {% if settings.svg_h2 != 'none' %}
                      <div class="h2_svg mb-4 animate__animated animate__faster opacity-0"
                            {% if settings.effect_apply_svg_enable %} 
                              data-animate-class="{{ settings.animation_svg_name }}"
                              style="animation-delay: 400ms;"
                            {% endif %}>
                        <span style="fill:{{ settings.color_svg_h2 }}; width:{{ settings.width_svg_h2 }}rem;"> {% render 'svg-subtitle', svg_h2: settings.svg_h2 %}</span>
                      </div>
                    {% endif %}
                  {% endif %}
            </{{ section.settings.heading_tag }}>
        {% endif %}
        {% unless page.content == blank %}
            <div class="description rte {{ section.settings.description_size }}">
                {{ page.content }}
            </div>
        {% endunless %}
    </div>
</section>

{% schema %}
{
  "name": "Page",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "bg_color",
      "label": "Background color",
      "default": "bg-body text-body",
      "options": [
        {
          "group": "Main",
          "value": "bg-primary text-white",
          "label": "Primary"
        },
        {
          "group": "Main",
          "value": "bg-secondary text-white",
          "label": "Secondary"
        },
        {
          "group": "Main",
          "value": "bg-tertiary text-white",
          "label": "Tertiary"
        },
        {
          "group": "Intermediate",
          "value": "bg-white text-dark",
          "label": "White"
        },
        {
          "group": "Intermediate",
          "value": "bg-light text-body",
          "label": "Light"
        },
        {
          "group": "Intermediate",
          "value": "bg-dark text-white",
          "label": "Dark"
        },
        {
          "group": "Default",
          "value": "bg-body text-body",
          "label": "Body"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "bg_gradient",
      "label": "Background gradient",
      "default": false,
      "info": "Does not apply to light colors"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Maximum page width (px)",
      "info": "Adjust container width (in pixels)",
      "default": "768"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text alignment",
      "default": "text-center",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show page title",
      "default": true
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "Title tag (SEO)",
      "default": "h1",
      "options": [
        {
          "value": "h1",
          "label": "h1"
        },
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "h3",
          "label": "h3"
        },
        {
          "value": "h4",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        },
        {
          "value": "h6",
          "label": "h6"
        },
        {
          "value": "span",
          "label": "Aucune"
        }
      ]
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "Title size",
      "default": "h1",
      "options": [
        {
          "group": "Superior Title",
          "value": "display-1",
          "label": "Extra Extra Large"
        },
        {
          "group": "Superior Title",
          "value": "display-2",
          "label": "Extra Large"
        },
        {
          "group": "Superior Title",
          "value": "display-3",
          "label": "Ultra Large"
        },
        {
          "group": "Superior Title",
          "value": "display-4",
          "label": "Super Large"
        },
        {
          "group": "Standard Title",
          "value": "h1",
          "label": "Very Large"
        },
        {
          "group": "Standard Title",
          "value": "h2",
          "label": "Large"
        },
        {
          "group": "Standard Title",
          "value": "h3",
          "label": "Medium"
        },
        {
          "group": "Standard Title",
          "value": "h4",
          "label": "Small"
        },
        {
          "group": "Standard Title",
          "value": "h5",
          "label": "Very Small"
        },
        {
          "group": "Standard Title",
          "value": "h6",
          "label": "Super Small"
        }
      ]
    },
    {
      "type": "select",
      "id": "description_size",
      "label": "Description size",
      "default": "fs-5",
      "options": [
        {
          "group": "Standard Description",
          "value": "fs-1",
          "label": "Extra Large"
        },
        {
          "group": "Standard Description",
          "value": "fs-2",
          "label": "Super Large"
        },
        {
          "group": "Standard Description",
          "value": "fs-3",
          "label": "Very Large"
        },
        {
          "group": "Standard Description",
          "value": "fs-4",
          "label": "Large"
        },
        {
          "group": "Standard Description",
          "value": "fs-5",
          "label": "Medium"
        },
        {
          "group": "Standard Description",
          "value": "fs-6",
          "label": "Small"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Top padding",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Bottom padding",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "mt",
      "label": "Top margin",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "mb",
      "label": "Bottom margin",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Page",
      "category": "Pages"
    }
  ]
}
{% endschema %}