{% comment %}
---------------------------------------------------------
Copyright © 2019/2024 Theme Shopiweb Premium. Tous droits réservés.
La copie, la modification, la distribution ou l'utilisation
non autorisée de ce code ou de toute partie de celui-ci est formellement interdite.
Les contrevenants seront poursuivis dans toute la mesure permise par la loi.
---------------------------------------------------------
{% endcomment %}

{% liquid 
    if section.index > 1
      assign media_loading = 'lazy'
    else
      assign media_loading = 'eager'
    endif
  
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

    assign btn_shadow_sp = settings.btn_shadow_sp %}

<section
    id="parallax-scroll-{{ section.id }}" 
    class="parallax-scroll {{ pt }} {{ pb }} {{ mt }} {{ mb }}"
    style=" 
       --text-color: {{ section.settings.text_color }};
       --overlay-opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};
       --overlay-blur: {{ section.settings.overlay_blur | append: 'px' }}
    ">
    <div 
      class="media-wrapper">
        {% if section.settings.video_mobile or section.settings.video_desktop %}
            <div class="media-mobile">
                {{ section.settings.video_mobile | video_tag: 
                    class: 'parallax-scroll-media',
                    image_size: '800x', 
                    autoplay: true, 
                    loop: true, 
                    muted: true, 
                    controls: false,
                    loading: media_loading
                }}
            </div>
            <div class="media-desktop">
                {{ section.settings.video_desktop | video_tag: 
                    class: 'parallax-scroll-media',
                    image_size: '1600x', 
                    autoplay: true, 
                    loop: true, 
                    muted: true, 
                    controls: false,
                    loading: media_loading
                }}
            </div>
        {% elsif section.settings.img_mobile or section.settings.img_desktop %}
            <div class="media-mobile">
                <img loading="lazy" 
                  class="parallax-scroll-media"
                  src="{{ section.settings.img_mobile | image_url: width: '800' }}" 
                  alt="{{ section.settings.img_mobile.alt }}"
                  width="800"
                  height="{{ 800 | divided_by: section.settings.img_mobile.aspect_ratio | round }}"
                  loading="{{ media_loading }}">
            </div>
            <div class="media-desktop">
                <img loading="lazy" 
                  class="parallax-scroll-media"
                  src="{{ section.settings.img_desktop | image_url: width: '1600' }}" 
                  alt="{{ section.settings.img_desktop.alt }}"
                  width="1600"
                  height="{{ 1600 | divided_by: section.settings.img_desktop.aspect_ratio | round }}"
                  loading="{{ media_loading }}">
            </div>
        {% else %}
            {% capture current %}{% cycle 1, 2 %}{% endcapture %}
            {{ 'hero-apparel-' | append: current | placeholder_svg_tag }}
        {% endif %}
    </div>
    <div class="parallax-scroll-caption-wrapper">
        {% for block in section.blocks %}
            <div 
              class="parallax-scroll-caption-inner" 
              style="max-width: {{ block.settings.caption_max_width | append: 'px' }}; color: var(--text-color);">
                <div class="parallax-scroll-caption-inner-inner enter-view">
                    {% unless block.settings.subtitle_img == blank %}
                        {% assign img_width = block.settings.brand_image_size %}
                        <div 
                            class="animate__animated animate__faster opacity-0"
                            {% if settings.effect_apply_caption_enable %}
                              data-animate-class="{{ settings.animation_caption_name }}"
                              style="animation-delay: 1200ms;"
                            {% endif %}>
                                <img
                                    class="img-fluid mb-5"
                                    src="{{ block.settings.subtitle_img.src | image_url: width: img_width }}"
                                    alt="{{ block.settings.subtitle_img.alt | escape }}"
                                    width="{{ img_width }}"
                                    height="auto"
                                    loading="lazy">
                        </div>
                    {% endunless %}
                    {% unless block.settings.subtitle == blank %}
                         <div 
                            class="animate__animated animate__faster opacity-0"
                            {% if settings.effect_apply_caption_enable %}
                              data-animate-class="{{ settings.animation_caption_name }}"
                              style="animation-delay: 1000ms;"
                            {% endif %}>
                                <p class="subtitle text-uppercase fw-500 mb-3 {{ block.settings.subtitle_size }}"
                                   style="color:{{ block.settings.color_caption }};">
                                  {{ block.settings.subtitle }}
                                </p>
                        </div>
                    {% endunless %}
                    {% unless block.settings.title == blank %}
                        <{{ block.settings.heading_tag }} class="title mb-4 mb-desktop-5 {{ block.settings.title_size }} animate__animated animate__faster opacity-0"
                          {% if settings.effect_apply_title_enable %}
                            data-animate-class="{{ settings.animation_title_name }}"
                            style="animation-delay: 200ms;"
                          {% endif %}>
                          {{ block.settings.title }}
                          {% if settings.custom_svg_h2 != blank %}
                            <div class="h2_svg animate__animated animate__faster opacity-0"
                                {% if settings.effect_apply_svg_enable %} 
                                  data-animate-class="{{ settings.animation_svg_name }}"
                                  style="animation-delay: 400ms;"
                                {% endif %}
                            >
                              <span style="fill:{{ settings.color_svg_h2 }}; width:{{ settings.width_svg_h2 }}rem;"> {{ settings.custom_svg_h2 }}</span>
                            </div>
                          {% else %}
                            {% if settings.svg_h2 != 'none' %}
                              <div class="h2_svg mb-4 animate__animated animate__faster opacity-0"
                                    {% if settings.effect_apply_svg_enable %} 
                                      data-animate-class="{{ settings.animation_svg_name }}"
                                      style="animation-delay: 400ms;"
                                    {% endif %}>
                                <span style="fill:{{ settings.color_svg_h2 }}; width:{{ settings.width_svg_h2 }}rem;"> {% render 'svg-subtitle', svg_h2: settings.svg_h2 %}</span>
                              </div>
                            {% endif %}
                          {% endif %}
                        </{{ block.settings.heading_tag }}>
                    {% endunless %}
                    {% unless block.settings.description == blank %}
                        <div class="description rte mb-5 {{ block.settings.description_size }} animate__animated animate__faster opacity-0"
                            {% if settings.effect_apply_description_enable %} 
                              data-animate-class="{{ settings.animation_description_name }}"
                              style="animation-delay: 600ms;"
                            {% endif %}>
                            {{ block.settings.description }}
                        </div>
                    {% endunless %}
                    {% if block.settings.btn_primary_text != blank or block.settings.btn_secondary_text != blank %}
                        <div class="btn-wrapper m-n2">
                          {% unless block.settings.btn_primary_text == blank %}
                            <div 
                                class="d-inline-flex mt-7 animate__animated animate__faster opacity-0"
                                {% if settings.effect_apply_btn_enable %} 
                                  data-animate-class="{{ settings.animation_btn_name }}"
                                  style="animation-delay: 1400ms;"
                                {% endif %}>
                                <a 
                                  class="btn m-2 {{ block.settings.btn_primary_color }} {{ btn_shadow_sp }}"  
                                  href="{{ block.settings.btn_primary_url }}">
                                  {{ block.settings.btn_primary_text }}
                                </a>
                            </div>
                          {% endunless %}
                          {% unless block.settings.btn_secondary_text == blank %}
                            <div 
                                class="d-inline-flex mt-7 animate__animated animate__faster opacity-0"
                                {% if settings.effect_apply_btn_enable %} 
                                  data-animate-class="{{ settings.animation_btn_name }}"
                                  style="animation-delay: 1600ms;"
                                {% endif %}>
                                <a 
                                  class="btn m-2 {{ block.settings.btn_secondary_color }} {{ btn_shadow_sp }}"  
                                  href="{{ block.settings.btn_secondary_url }}">
                                  {{ block.settings.btn_secondary_text }}
                                </a>
                            </div>
                          {% endunless %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% schema %}
{
  "name": "Parallax Scroll",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Styling"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Overlay opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 0,
      "unit": "%"
    },
    {
      "type": "range",
      "id": "overlay_blur",
      "label": "Overlay blur",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "video",
      "id": "video_desktop",
      "label": "Video desktop"
    },
    {
      "type": "video",
      "id": "video_mobile",
      "label": "Video mobile"
    },
    {
      "type": "image_picker",
      "id": "img_desktop",
      "label": "Image desktop"
    },
    {
      "type": "image_picker",
      "id": "img_mobile",
      "label": "Image mobile"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Padding top",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Padding bottom",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "mt",
      "label": "Margin top",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "mb",
      "label": "Margin bottom",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "Unique value proposition"
        },
        {
          "type": "image_picker",
          "id": "subtitle_img",
          "label": "Subtitle image"
        },
        {
          "type": "number",
          "id": "brand_image_size",
          "label": "Brand image width",
          "default": 120
        },
        {
          "type": "number",
          "id": "caption_max_width",
          "label": "Caption max width",
          "default": 600
        },
        {
          "type": "select",
          "id": "subtitle_size",
          "label": "Caption size",
          "default": "fs-5",
          "options": [
            {
              "group": "Standard Caption",
              "value": "fs-1",
              "label": "Extra Large"
            },
            {
              "group": "Standard Caption",
              "value": "fs-2",
              "label": "Super Large"
            },
            {
              "group": "Standard Caption",
              "value": "fs-3",
              "label": "Very Large"
            },
            {
              "group": "Standard Caption",
              "value": "fs-4",
              "label": "Large"
            },
            {
              "group": "Standard Caption",
              "value": "fs-5",
              "label": "Medium"
            },
            {
              "group": "Standard Caption",
              "value": "fs-6",
              "label": "Small"
            }
          ]
        },
        {
          "type": "color",
          "id": "color_caption",
          "label": "Caption color",
          "default": "#ffffff"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title",
          "default": "Slide Title",
          "info": "Leave blank to disable"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Title tag (SEO)",
          "default": "h2",
          "options": [
            {
              "value": "h1",
              "label": "h1"
            },
            {
              "value": "h2",
              "label": "h2"
            },
            {
              "value": "h3",
              "label": "h3"
            },
            {
              "value": "h4",
              "label": "h4"
            },
            {
              "value": "h5",
              "label": "h5"
            },
            {
              "value": "h6",
              "label": "h6"
            },
            {
              "value": "span",
              "label": "None"
            }
          ]
        },
        {
          "type": "select",
          "id": "title_size",
          "label": "Title size",
          "default": "h2",
          "options": [
            {
              "group": "Superior Title",
              "value": "display-1",
              "label": "Extra Extra Large"
            },
            {
              "group": "Superior Title",
              "value": "display-2",
              "label": "Extra Large"
            },
            {
              "group": "Superior Title",
              "value": "display-3",
              "label": "Ultra Large"
            },
            {
              "group": "Superior Title",
              "value": "display-4",
              "label": "Super Large"
            },
            {
              "group": "Standard Title",
              "value": "h1",
              "label": "Very Large"
            },
            {
              "group": "Standard Title",
              "value": "h2",
              "label": "Large"
            },
            {
              "group": "Standard Title",
              "value": "h3",
              "label": "Medium"
            },
            {
              "group": "Standard Title",
              "value": "h4",
              "label": "Small"
            },
            {
              "group": "Standard Title",
              "value": "h5",
              "label": "Very Small"
            },
            {
              "group": "Standard Title",
              "value": "h6",
              "label": "Super Small"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Pair text with an image to highlight your chosen product, collection, or blog post.</p>"
        },
        {
          "type": "select",
          "id": "description_size",
          "label": "Description size",
          "default": "fs-5",
          "options": [
            {
              "group": "Standard Description",
              "value": "fs-1",
              "label": "Extra Large"
            },
            {
              "group": "Standard Description",
              "value": "fs-2",
              "label": "Super Large"
            },
            {
              "group": "Standard Description",
              "value": "fs-3",
              "label": "Very Large"
            },
            {
              "group": "Standard Description",
              "value": "fs-4",
              "label": "Large"
            },
            {
              "group": "Standard Description",
              "value": "fs-5",
              "label": "Medium"
            },
            {
              "group": "Standard Description",
              "value": "fs-6",
              "label": "Small"
            }
          ]
        },
        {
          "type": "header",
          "content": "Primary Button"
        },
        {
          "type": "text",
          "id": "btn_primary_text",
          "label": "Button text",
          "default": "Button 1 text"
        },
        {
          "type": "url",
          "id": "btn_primary_url",
          "label": "Button URL"
        },
        {
          "type": "select",
          "id": "btn_primary_color",
          "label": "Button color",
          "default": "btn-primary",
          "options": [
            {
              "value": "btn-primary",
              "label": "Primary"
            },
            {
              "value": "btn-secondary",
              "label": "Secondary"
            },
            {
              "value": "btn-white",
              "label": "White"
            },
            {
              "value": "btn-dark",
              "label": "Dark"
            },
            {
              "value": "btn-outline-primary",
              "label": "Outline Primary"
            },
            {
              "value": "btn-outline-secondary",
              "label": "Outline Secondary"
            },
            {
              "value": "btn-outline-white",
              "label": "Outline White"
            },
            {
              "value": "btn-outline-dark",
              "label": "Outline Dark"
            }
          ]
        },
        {
          "type": "header",
          "content": "Secondary Button"
        },
        {
          "type": "text",
          "id": "btn_secondary_text",
          "label": "Button text",
          "default": "Button 2 text"
        },
        {
          "type": "url",
          "id": "btn_secondary_url",
          "label": "Button URL"
        },
        {
          "type": "select",
          "id": "btn_secondary_color",
          "label": "Button color",
          "default": "btn-outline-white",
          "options": [
            {
              "value": "btn-primary",
              "label": "Primary"
            },
            {
              "value": "btn-secondary",
              "label": "Secondary"
            },
            {
              "value": "btn-white",
              "label": "White"
            },
            {
              "value": "btn-dark",
              "label": "Dark"
            },
            {
              "value": "btn-outline-primary",
              "label": "Outline Primary"
            },
            {
              "value": "btn-outline-secondary",
              "label": "Outline Secondary"
            },
            {
              "value": "btn-outline-white",
              "label": "Outline White"
            },
            {
              "value": "btn-outline-dark",
              "label": "Outline Dark"
            }
          ]
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "presets": [
    {
      "name": "Parallax Scroll",
      "category": "General",
      "blocks": [
        {
          "type": "slide",
          "settings": {
            "title": "Slide title 1",
            "subtitle": "Unique value proposition 1",
            "description": "<p>Pair text with an image to highlight your chosen product, collection, or blog post.</p>",
            "btn_primary_text": "Button 1 text",
            "btn_primary_url": "#",
            "btn_secondary_text": "Button 2 text",
            "btn_secondary_url": "#"
          }
        }
      ]
    }
  ]
}
{% endschema %}