{% comment %}
---------------------------------------------------------
Copyright © 2019/2024 Theme Shopiweb Premium. Tous droits réservés.
La copie, la modification, la distribution ou l'utilisation
non autorisée de ce code ou de toute partie de celui-ci est formellement interdite.
Les contrevenants seront poursuivis dans toute la mesure permise par la loi.
---------------------------------------------------------
{% endcomment %}

{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

    assign bg_color = section.settings.bg_color

    if section.settings.bg_gradient
        assign bg_color = bg_color | append: ' bg-gradient'
    endif

    assign btn_shadow_sp = settings.btn_shadow_sp
%}

{% style %}
#look-book-{{ section.id }} .look-book-point {
    border: 1px solid var({{ section.settings.point_color }});
}
    
#look-book-{{ section.id }} .look-book-point span {
    background: var({{ section.settings.point_color }});
    width: {{ section.settings.point_diameter }}rem;
    height: {{ section.settings.point_diameter }}rem;
}

#look-book-{{ section.id }} .look-book-point[aria-describedby] {
}

@keyframes animation_pulse_look_book {
    0% {
        box-shadow: 0 0 0 0px rgba(var({{ section.settings.point_color }}-rgb), 0.50);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(var({{ section.settings.point_color }}-rgb), 0);
    }
}
    
@media (max-width: 991px) {
    {% for block in section.blocks %}
        #look-book-{{ section.id }} .look-book-list-item:nth-child({{ forloop.index }}) {
            left: {{ block.settings.mobile_pos_left }}%;
            top: {{ block.settings.mobile_pos_top }}%;
        }
    {% endfor %}
}

@media (min-width: 992px) {
    {% for block in section.blocks %}
        #look-book-{{ section.id }} .look-book-list-item:nth-child({{ forloop.index }}) {
            left: {{ block.settings.desktop_pos_left }}%;
            top: {{ block.settings.desktop_pos_top }}%;
        }
    {% endfor %}
}
{% endstyle %}

<section 
    id="look-book-{{ section.id }}" 
    class="look-book enter-view {{ bg_color }} {{ section.settings.text_align }} {{ pt }} {{ pb }} {{ mt }} {{ mb }}"
    style="background-color: {{ section.settings.bg_color }}">
    <div class="{{ section.settings.container }}" style="max-width: {{ section.settings.max_width }}px;">
        {% render 'section-header' %}
        <div class="position-relative">
            <div class="d-lg-none">
                {% if section.settings.mobile_image == blank %}
                    {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg rounded bg-light' }}
                {% else %}
                    <img
                        class="img-fluid rounded w-100 {{ section.settings.img_thumbnail }} {{ section.settings.shadow_sp }} {{ section.settings.border_color }}"
                        style="border-width: {{ section.settings.border_width }}px;"
                        src="{{ section.settings.mobile_image.src | image_url: width: 800 }}"
                        alt="{{ section.settings.mobile_image.alt | escape }}"
                        width="800"
                        height="{{ 600 | divided_by: section.settings.mobile_image.aspect_ratio | round }}"
                        loading="lazy">
                {% endif %}
            </div>
            <div class="d-none d-lg-block">
                {% if section.settings.desktop_image == blank %}
                    {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg rounded bg-light' }}
                {% else %}
                    <img
                        class="img-fluid rounded w-100 {{ section.settings.img_thumbnail }} {{ section.settings.shadow_sp }} {{ section.settings.border_color }}"
                        style="border-width: {{ section.settings.border_width }}px;"
                        src="{{ section.settings.desktop_image.src | image_url: width: 1600 }}"
                        alt="{{ section.settings.desktop_image.alt | escape }}"
                        width="1600"
                        height="{{ 1600 | divided_by: section.settings.desktop_image.aspect_ratio | round }}"
                        loading="lazy">
                {% endif %}
            </div>
            <ul class="look-book-list list-unstyled" aria-label="Features">
                {% for block in section.blocks %}
                    <li class="look-book-list-item">
                        {% assign product = block.settings.product %}
                        <a
                            class="look-book-point"  
                            data-bs-trigger="focus"
                            data-bs-toggle="popover" 
                            data-bs-html="true"
                            data-bs-placement="top"
                            data-bs-title="{{ block.settings.title }}"
                            tabindex="1"
                            role="button"
                            {% if product == blank %}
                                data-bs-content="
                                    {% unless block.settings.description == blank %}
                                        {{ block.settings.description }}
                                    {% endunless %}
                                "
                            {% else %}
                                data-bs-content="
                                    {% if block.settings.show_image %} 
                                        <img class='img-fluid mb-4' src='{{ product.featured_image | image_url: width: 600 }}' width='600' height='{{ 600 | divided_by: product.featured_image.aspect_ratio | round }}' loading='lazy' />
                                    {% endif %}
                                    {% if block.settings.show_price %} 
                                        <p class='product-item-price mb-2'>
                                            <span class='product-item-price-final'>
                                      {{ product.price | money | replace: 'prix', 'price' }}
                                            </span>
                                            {% if product.compare_at_price > product.price %}
                                                <span class='product-item-price-compare text-muted me-1'>
                                                    <s>{{ product.compare_at_price | money }}</s>
                                                </span>
                                            {% endif %}
                                        </p>
                                    {% endif %}
                                    {% unless block.settings.description == blank %}
                                        {{ block.settings.description }}
                                    {% endunless %}
                                    {% unless block.settings.btn_text == blank %}
                                    <a href='{{ product.url }}' class='btn btn-sm w-100 mt-4 {{ block.settings.btn_color }} {{ btn_shadow_sp }}'>
                                        {{ block.settings.btn_text }}&nbsp;
                                    </a>
                                    {% endunless %}
                                "
                            {% endif %}
                            aria-label="{{ block.settings.title }}">
                            <span></span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Style Gallery",
  "settings": [
    {
      "type": "paragraph",
      "content": "Documentation EN: [Style Gallery by Shopiweb](https://www.docs.shopiweb.fr/theme-premium/documentation/sections/galerie-de-style)"
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "bg_color",
      "label": "Background color",
      "default": "bg-body text-body",
      "options": [
        {
          "group": "Main",
          "value": "bg-primary text-white",
          "label": "Primary"
        },
        {
          "group": "Principal",
          "value": "bg-secondary text-white",
          "label": "Secondary"
        },
        {
          "group": "Principal",
          "value": "bg-tertiary text-white",
          "label": "Tertiary"
        },
        {
          "group": "Intermediate",
          "value": "bg-white text-dark",
          "label": "White"
        },
        {
          "group": "Intermédiaire",
          "value": "bg-light text-body",
          "label": "Light"
        },
        {
          "group": "Intermédiaire",
          "value": "bg-dark text-white",
          "label": "Dark"
        },
        {
          "group": "Default",
          "value": "bg-body text-body",
          "label": "Body"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "bg_gradient",
      "label": "Background gradient",
      "default": false,
      "info": "Does not apply to light colors"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Conteneur",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Container"
        },
        {
          "value": "container-fluid",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Maximum width (px)",
      "info": "Adjust container width (in pixels)"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text alignment",
      "default": "text-center",
      "options": [
        {
          "value": "text-start",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "image_picker",
      "id": "subtitle_img",
      "label": "Caption image"
    },
    {
      "type": "text",
      "id": "brand_image_size",
      "label": "Image width/height (px)",
      "default": "60"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Caption text"
    },
    {
      "type": "select",
      "id": "subtitle_size",
      "label": "Caption size",
      "default": "fs-5",
      "options": [
        {
          "group": "Standard caption",
          "value": "fs-1",
          "label": "Extra Large"
        },
        {
          "group": "Légende Standard",
          "value": "fs-2",
          "label": "Super Large"
        },
        {
          "group": "Légende Standard",
          "value": "fs-3",
          "label": "Very Large"
        },
        {
          "group": "Légende Standard",
          "value": "fs-4",
          "label": "Large"
        },
        {
          "group": "Légende Standard",
          "value": "fs-5",
          "label": "Medium"
        },
        {
          "group": "Légende Standard",
          "value": "fs-6",
          "label": "Small"
        }
      ]
    },
    {
      "type": "color",
      "id": "color_caption",
      "label": "Caption color",
      "default": "#6c757d"
    },
    {
      "type": "text",
      "id": "title_overlay",
      "label": "Overlay title",
      "info": "Visible on desktop, hidden on mobile for readability."
    },
    {
      "type": "select",
      "id": "title_overlay_size",
      "label": "Overlay title size",
      "default": "3",
      "options": [
        {
          "group": "Overlay title",
          "value": "4",
          "label": "Large"
        },
        {
          "group": "Titre Overlay",
          "value": "3",
          "label": "Medium"
        },
        {
          "group": "Titre Overlay",
          "value": "2",
          "label": "Small"
        }
      ]
    },
    {
      "type": "color",
      "id": "color_title_overlay",
      "label": "Overlay title color",
      "default": "#000000"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title",
      "default": "Style Gallery"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "Title tag (SEO)",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "h1"
        },
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "h3",
          "label": "h3"
        },
        {
          "value": "h4",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        },
        {
          "value": "h6",
          "label": "h6"
        },
        {
          "value": "span",
          "label": "Aucune"
        }
      ]
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "Title size",
      "default": "h2",
      "options": [
        {
          "group": "Superior title",
          "value": "display-1",
          "label": "Extra Extra Large"
        },
        {
          "group": "Titre Supérieur",
          "value": "display-2",
          "label": "Extra Large"
        },
        {
          "group": "Titre Supérieur",
          "value": "display-3",
          "label": "Ultra Large"
        },
        {
          "group": "Titre Supérieur",
          "value": "display-4",
          "label": "Super Large"
        },
        {
          "group": "Standard title",
          "value": "h1",
          "label": "Very Large"
        },
        {
          "group": "Titre Standard",
          "value": "h2",
          "label": "Large"
        },
        {
          "group": "Titre Standard",
          "value": "h3",
          "label": "Medium"
        },
        {
          "group": "Titre Standard",
          "value": "h4",
          "label": "Small"
        },
        {
          "group": "Titre Standard",
          "value": "h5",
          "label": "Very Small"
        },
        {
          "group": "Titre Standard",
          "value": "h6",
          "label": "Super Small"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description (optional)",
      "default": "<p>Add an optional description to this section</p>"
    },
    {
      "type": "select",
      "id": "description_size",
      "label": "Description size",
      "default": "fs-5",
      "options": [
        {
          "group": "Standard description",
          "value": "fs-1",
          "label": "Extra Large"
        },
        {
          "group": "Description Standard",
          "value": "fs-2",
          "label": "Super Large"
        },
        {
          "group": "Description Standard",
          "value": "fs-3",
          "label": "Very Large"
        },
        {
          "group": "Description Standard",
          "value": "fs-4",
          "label": "Large"
        },
        {
          "group": "Description Standard",
          "value": "fs-5",
          "label": "Medium"
        },
        {
          "group": "Description Standard",
          "value": "fs-6",
          "label": "Small"
        }
      ]
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Image (mobile)"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Image (desktop)"
    },
    {
      "type": "select",
      "id": "img_thumbnail",
      "label": "Image border",
      "default": "img-thumbnail",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "img-thumbnail",
          "label": "Border"
        }
      ]
    },
    {
      "type": "select",
      "id": "border_color",
      "label": "Border color",
      "options": [
        {
          "value": "",
          "label": "Default"
        },
        {
          "value": "border-primary",
          "label": "Primary"
        },
        {
          "value": "border-secondary",
          "label": "Secondary"
        },
        {
          "value": "border-tertiary",
          "label": "Tertiary"
        },
        {
          "value": "border-dark",
          "label": "Dark"
        },
        {
          "value": "border-success",
          "label": "Success"
        },
        {
          "value": "border-warning",
          "label": "Warning"
        },
        {
          "value": "border-danger",
          "label": "Danger"
        },
        {
          "value": "border-info",
          "label": "Info"
        }
      ],
      "default": ""
    },
    {
      "type": "range",
      "id": "border_width",
      "label": "Border width",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 1
    },
    {
      "type": "select",
      "id": "shadow_sp",
      "label": "Shadow",
      "options": [
        {
          "value": "shadow-none",
          "label": "None"
        },
        {
          "value": "shadow-1",
          "label": "Light shadow"
        },
        {
          "value": "shadow-2",
          "label": "Partial shadow"
        },
        {
          "value": "shadow-3",
          "label": "Deep shadow"
        },
        {
          "value": "shadow-4",
          "label": "Full shadow"
        }
      ],
      "default": "shadow-1"
    },
    {
      "type": "header",
      "content": "Points"
    },
    {
      "type": "select",
      "id": "point_color",
      "label": "Point color",
      "default": "--bs-primary",
      "options": [
        {
          "group": "Default",
          "value": "--bs-body-bg",
          "label": "Body"
        },
        {
          "group": "Main",
          "value": "--bs-white",
          "label": "White"
        },
        {
          "group": "Principal",
          "value": "--bs-primary",
          "label": "Primary"
        },
        {
          "group": "Principal",
          "value": "--bs-secondary",
          "label": "Secondary"
        },
        {
          "group": "Principal",
          "value": "--bs-tertiary",
          "label": "Tertiary"
        },
        {
          "group": "Intermediate",
          "value": "--bs-light",
          "label": "Light"
        },
        {
          "group": "Intermédiaire",
          "value": "--bs-dark",
          "label": "Dark"
        },
        {
          "group": "Alert",
          "value": "--bs-success",
          "label": "Success"
        },
        {
          "group": "Alerte",
          "value": "--bs-warning",
          "label": "Warning"
        },
        {
          "group": "Alerte",
          "value": "--bs-danger",
          "label": "Danger"
        },
        {
          "group": "Alerte",
          "value": "--bs-info",
          "label": "Info"
        }
      ]
    },
    {
      "type": "range",
      "id": "point_diameter",
      "label": "Point diameter",
      "unit": "rem",
      "min": 0.2,
      "max": 2,
      "step": 0.1,
      "default": 1
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Top padding",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Bottom padding",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "mt",
      "label": "Top margin",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "mb",
      "label": "Bottom margin",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "point",
      "name": "Point",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Point title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Highlight a product with text. Include details about its availability or style.</p>",
          "info": "Leave blank to disable"
        },
        {
          "type": "header",
          "content": "Product",
          "info": "Optional"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "checkbox",
          "id": "show_image",
          "label": "Show image",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_price",
          "label": "Show price",
          "default": true
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button text",
          "default": "View product",
          "info": "Leave blank to disable"
        },
        {
          "type": "select",
          "id": "btn_color",
          "label": "Button color",
          "default": "btn-primary",
          "options": [
            {
              "group": "Normal",
              "value": "btn-link",
              "label": "Link"
            },
            {
              "group": "Normal",
              "value": "btn-light",
              "label": "Light"
            },
            {
              "group": "Normal",
              "value": "btn-dark",
              "label": "Dark"
            },
            {
              "group": "Normal",
              "value": "btn-primary",
              "label": "Primary"
            },
            {
              "group": "Normal",
              "value": "btn-secondary",
              "label": "Secondary"
            },
            {
              "group": "Normal",
              "value": "btn-tertiary",
              "label": "Tertiary"
            },
            {
              "group": "Normal",
              "value": "btn-success",
              "label": "Success"
            },
            {
              "group": "Normal",
              "value": "btn-danger",
              "label": "Danger"
            },
            {
              "group": "Normal",
              "value": "btn-warning",
              "label": "Warning"
            },
            {
              "group": "Normal",
              "value": "btn-info",
              "label": "Info"
            },
            {
              "group": "Outline",
              "value": "btn-outline-light",
              "label": "Outline Light"
            },
            {
              "group": "Contour",
              "value": "btn-outline-dark",
              "label": "Outline Dark"
            },
            {
              "group": "Contour",
              "value": "btn-outline-primary",
              "label": "Outline Primary"
            },
            {
              "group": "Contour",
              "value": "btn-outline-secondary",
              "label": "Outline Secondary"
            },
            {
              "group": "Contour",
              "value": "btn-outline-tertiary",
              "label": "Outline Tertiary"
            },
            {
              "group": "Contour",
              "value": "btn-outline-success",
              "label": "Outline Success"
            },
            {
              "group": "Contour",
              "value": "btn-outline-danger",
              "label": "Outline Danger"
            },
            {
              "group": "Contour",
              "value": "btn-outline-warning",
              "label": "Outline Warning"
            },
            {
              "group": "Contour",
              "value": "btn-outline-info",
              "label": "Outline Info"
            }
          ]
        },
        {
          "type": "header",
          "content": "Mobile positioning"
        },
        {
          "type": "range",
          "id": "mobile_pos_left",
          "label": "Left (%)",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "mobile_pos_top",
          "label": "Top (%)",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 0
        },
        {
          "type": "header",
          "content": "Desktop positioning"
        },
        {
          "type": "range",
          "id": "desktop_pos_left",
          "label": "Left (%)",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "desktop_pos_top",
          "label": "Top (%)",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 0
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Galerie de Styles",
      "category": "Image"
    }
  ]
}
{% endschema %}